Repository rolldown/rolldown, pull requests merged in 2024-08, with the labels that each got.

#1822 chore(renovate): disable auto updating `oxc` crate
  .github/renovate.json
Labels: needs-triage, !merge

#1817 fix: remove ts expect error
  packages/bench/vitest.config.ts
  packages/rolldown/src/utils/normalize-hook.ts
  packages/rolldown/tests/fixtures/sourcemap/inner/_config.ts
  packages/rollup-tests/test/typescript/index.ts
Labels: !merge

#1818 refactor(rust/treeshaking): get resolved symbol of `MemberExprRef` in one go
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/tree_shaking.rs
  crates/rolldown/src/types/linking_metadata.rs
  crates/rolldown/tests/esbuild/import_star/import_export_star_ambiguous_warning/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/types/member_expr_ref.rs
  crates/rolldown_common/src/types/symbol_or_member_expr_ref.rs
  cspell.json
Labels: !merge

#1824 chore: add fixme on use `span` identify top level member expr
  crates/rolldown_common/src/types/member_expr_ref.rs
Labels: needs-triage, !merge

#1732 feat: add dynamic_import_vars plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_dynamic_import_vars/Cargo.toml
  crates/rolldown_plugin_dynamic_import_vars/src/dynamic_import_helper.js
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_dynamic_import_vars/src/parse_pattern.rs
  crates/rolldown_plugin_dynamic_import_vars/src/should_ignore.rs
  crates/rolldown_plugin_dynamic_import_vars/src/to_glob.rs
  crates/rolldown_plugin_glob_import/src/lib.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/dir/a/foo.css
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/dir/a/module-a-1.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/dir/a/module-a-2.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/dir/b/module-b-1.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/main.js
Labels: enhancement

#1828 refactor(packages/rolldown)!: limit all experimental things under `rolldown/experimental`
  packages/bench/src/parallel-babel-plugin/index.js
  packages/rolldown/package.json
  packages/rolldown/rolldown.config.mjs
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/eager/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/wasm/_config.ts
Labels: !merge

#1829 chore: disable all Rust doc tests
  crates/rolldown/Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_common/Cargo.toml
  crates/rolldown_css/Cargo.toml
  crates/rolldown_ecmascript/Cargo.toml
  crates/rolldown_error/Cargo.toml
  crates/rolldown_fs/Cargo.toml
  crates/rolldown_loader_utils/Cargo.toml
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin_data_url/Cargo.toml
  crates/rolldown_plugin_dynamic_import_vars/Cargo.toml
  crates/rolldown_plugin_glob_import/Cargo.toml
  crates/rolldown_plugin_wasm/Cargo.toml
  crates/rolldown_resolver/Cargo.toml
  crates/rolldown_rstr/Cargo.toml
  crates/rolldown_testing/Cargo.toml
  crates/rolldown_testing_config/Cargo.toml
  crates/rolldown_utils/Cargo.toml
Labels: needs-triage, !merge

#1832 feat: commonjs-variable-in-esm diagnostic
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/rolldown/cjs_compat/mix-cjs-esm/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/commonjs_variable_in_esm/_config.json
  crates/rolldown/tests/rolldown/warnings/commonjs_variable_in_esm/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/commonjs_variable_in_esm/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/commonjs_variable_in_esm.rs
  crates/rolldown_error/src/events/mod.rs
  crates/rolldown_error/src/lib.rs
Labels: needs-triage

#1839 feat: add manifest plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin_manifest/Cargo.toml
  crates/rolldown_plugin_manifest/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/builtin-plugin/manifest/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/manifest/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/manifest/chunk.js
  packages/rolldown/tests/fixtures/builtin-plugin/manifest/main.js
Labels: needs-triage

#1844 fix: should call write_bundle after write bundle to disk
  crates/rolldown/src/bundler.rs
  packages/rolldown/tests/fixtures/plugin/write-bundle/_config.ts
Labels: needs-triage

#1847 ci: require assignees approval if there is any
  .github/workflows/automate-labeling.yml
Labels: needs-triage

#1846 chore: add test-node-only command
  justfile
Labels: needs-triage

#1849 fix: circular ref in rolldown package bundle
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/plugin/plugin-context-data.ts
  packages/rolldown/src/rolldown-build.ts
  packages/rolldown/src/rolldown.ts
  packages/rolldown/src/utils/index.ts
Labels: needs-triage

#1850 chore: revert example basic vue
  examples/basic-vue/index.js
  examples/basic-vue/package.json
  examples/basic-vue/rolldown.config.js
  pnpm-lock.yaml
Labels: needs-triage

#1859 chore: fix cargo deny ci
  deny.toml
Labels: needs-triage

#1858 test: composing js plugin
  packages/rolldown/tests/fixture.test.ts
  packages/rolldown/tests/src/types.ts
  packages/rolldown/vitest.config.mts
Labels: needs-triage

#1845 feat: module preload config skip
  Cargo.lock
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_module_preload_polyfill/Cargo.toml
  crates/rolldown_plugin_module_preload_polyfill/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/basic/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/basic/main.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/skip/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/skip/main.js
Labels: needs-triage

#1860 test: enable unused eval
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_module_factory.rs
  crates/rolldown/src/module_loader/runtime_ecma_module_task.rs
  crates/rolldown/src/stages/link_stage/tree_shaking.rs
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval/_config.json
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval/artifacts.snap
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval/entry.js
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval_ts/_config.json
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval_ts/artifacts.snap
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval_ts/entry.ts
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/ecma_module.rs
Labels: needs-triage

#1867 chore: bump oxlint to v0.7.0
  package.json
  packages/rolldown/src/index.ts
  pnpm-lock.yaml
Labels: needs-triage

#1870 chore: replace module id related type with arcstr
  Cargo.lock
  crates/rolldown/src/ecmascript/ecma_module_factory.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown_common/src/css/css_module.rs
  crates/rolldown_common/src/module/external_module.rs
  crates/rolldown_common/src/types/module_id.rs
  crates/rolldown_common/src/types/resolved_request_info.rs
  crates/rolldown_resolver/Cargo.toml
  crates/rolldown_resolver/src/resolver.rs
Labels: needs-triage

#1871 chore: add span of `module_request` in raw import record
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/import_record.rs
Labels: needs-triage

#1877 doc: update refer link how to write a test case with rust.
  docs/contrib-guide/testing.md
Labels: needs-triage

#1873 chore: bump oxc to version 0.23.1
  .oxlintignore
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#1879 ci: enable `require-assignee-approval` in merge group
  .github/workflows/mergeability-check.yml
Labels: needs-triage

#1837 fix: resolve conflict `exports` key in `CJS` and `IIFE`.
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown/tests/rolldown/function/format/cjs/conflict_exports_key/_config.json
  crates/rolldown/tests/rolldown/function/format/cjs/conflict_exports_key/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/cjs/conflict_exports_key/main.js
  crates/rolldown/tests/rolldown/function/format/iife/conflict_exports_key/_config.json
  crates/rolldown/tests/rolldown/function/format/iife/conflict_exports_key/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/conflict_exports_key/main.js
  crates/rolldown/tests/rolldown/function/format/iife/conflict_exports_key_loop/_config.json
  crates/rolldown/tests/rolldown/function/format/iife/conflict_exports_key_loop/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/conflict_exports_key_loop/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: on-hold

#1886 chore: remove extra external `node:assert` in test configs.
  crates/rolldown/tests/rolldown/function/module_types/json/array/_config.json
  crates/rolldown/tests/rolldown/function/module_types/json/correct_semantic_of_import_and_require/_config.json
  crates/rolldown/tests/rolldown/function/module_types/json/customize/_config.json
  crates/rolldown/tests/rolldown/function/module_types/json/object/_config.json
  crates/rolldown/tests/rolldown/function/module_types/json/object_with_invalid_key/_config.json
  crates/rolldown/tests/rolldown/function/module_types/json/object_with_reserved_key/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/json_object/_config.json
Labels: needs-triage

#1885 perf(sourcemap): pre-allocate concat sourcemap builder
  crates/rolldown_sourcemap/src/concat_sourcemap.rs
Labels: needs-triage

#1887 fix: avoid take first chunk if bundle is empty
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/tests/fixtures/misc/remove-chunk/_config.ts
  packages/rolldown/tests/fixtures/misc/remove-chunk/main.js
Labels: needs-triage

#1890 fix: index_cross_chunk_imports should including share chunk
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  packages/rolldown/tests/fixtures/plugin/generate-bundle/_config.ts
  packages/rolldown/tests/fixtures/plugin/generate-bundle/index.js
  packages/rolldown/tests/fixtures/plugin/generate-bundle/main.js
  packages/rolldown/tests/fixtures/plugin/generate-bundle/share.js
Labels: needs-triage

#1891 feat(node/rolldown): support `define` functionality
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/tests/fixtures/function/define/_config.ts
  packages/rolldown/tests/fixtures/function/define/main.js
Labels: needs-triage

#1893 chore: basic preserve js stack trace
  Cargo.toml
Labels: needs-triage

#1895 refactor: soundness check on composing js plugins
  packages/rolldown/package.json
  packages/rolldown/src/constants/plugin.ts
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/src/utils/type-assert.ts
  pnpm-lock.yaml
Labels: needs-triage

#1896 chore(rust): remove extra spaces in CJS.
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/tests/esbuild/import_star/re_export_star_external_common_js/artifacts.snap
  crates/rolldown/tests/rolldown/semantic/export_star_from_external_as_shared_entries_cjs/artifacts.snap
  crates/rolldown/tests/rolldown/semantic/export_star_from_external_as_wrapped_entry_cjs/artifacts.snap
  crates/rolldown/tests/rolldown/topics/cjs_module_lexer_compat/export_star_from_external/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#1902 fix: share replace global define config
  crates/rolldown/src/ecmascript/ecma_module_factory.rs
  crates/rolldown/src/module_loader/ecma_module_task.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/task_context.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/types/module_factory.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
Labels: needs-triage

#1901 chore: bump oxc to 0.24.0
  Cargo.lock
  Cargo.toml
Labels: needs-triage

#1905 fix(rust/rolldown): prevent segment fault in `generate_bundle` by removing unsafe code
  crates/rolldown_binding/src/lib.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/type_aliases.rs
  crates/rolldown_binding/src/types/binding_outputs.rs
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/unique_arc.rs
Labels: needs-triage

#1907 feat: add module type to transform hook
  crates/rolldown/src/module_loader/ecma_module_task.rs
  crates/rolldown/src/utils/load_source.rs
  crates/rolldown/src/utils/transform_source.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/mod.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/unknown_module_type/artifacts.snap
  crates/rolldown/tests/rolldown/errors/unresolved_import/unknown_module_type/entry.js
  crates/rolldown/tests/rolldown/errors/unresolved_import/unknown_module_type/mod.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/unknown_module_type_entry/artifacts.snap
  crates/rolldown/tests/rolldown/errors/unresolved_import/unknown_module_type_entry/entry.javascript
  crates/rolldown/tests/rolldown/errors/unresolved_import/unknown_module_type_entry/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_resolve_id_extra_args.rs
  crates/rolldown_binding/src/options/plugin/types/binding_plugin_transform_extra_args.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/module_type.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/types/hook_transform_args.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/tests/fixtures/plugin/transform/_config.ts
Labels: needs-triage

#1908 chore(docs): fix the command instruction
  docs/contrib-guide/docs.md
Labels: needs-triage

#1913 fix(node/plugin): ensure order for generateBundle and writeBundle hooks
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/tests/fixture.test.ts
  packages/rolldown/tests/fixtures/plugin/generate-bundle/_config.ts
  packages/rolldown/tests/fixtures/plugin/write-bundle/_config.ts
  packages/rolldown/tests/src/types.ts
Labels: needs-triage

#1912 fix: pass `output.globals` to Rust side.
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/tests/fixtures/output/format/iife/globals/_config.ts
Labels: needs-triage

#1916 feat: allow rewrite `moduleType` in transform Hook
  crates/rolldown/src/module_loader/ecma_module_task.rs
  crates/rolldown/src/utils/transform_source.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_transform_output.rs
  crates/rolldown_common/src/inner_bundler_options/types/module_type.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/types/hook_transform_output.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/tests/fixtures/plugin/transform/basic/_config.ts
  packages/rolldown/tests/fixtures/plugin/transform/basic/foo.js
  packages/rolldown/tests/fixtures/plugin/transform/basic/main.js
  packages/rolldown/tests/fixtures/plugin/transform/rewrite-module-type/_config.ts
  packages/rolldown/tests/fixtures/plugin/transform/rewrite-module-type/assert.mjs
  packages/rolldown/tests/fixtures/plugin/transform/rewrite-module-type/main.typescript
Labels: needs-triage

#1898 feat: align OutputOptions#esModule with rollup
  crates/rolldown_common/src/inner_bundler_options/types/es_module_flag.rs
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/tests/fixtures/output/es-module/always/_config.ts
  packages/rolldown/tests/fixtures/output/es-module/always/main.js
  packages/rolldown/tests/fixtures/output/es-module/common-chunks/_config.ts
  packages/rolldown/tests/fixtures/output/es-module/false/_config.ts
  packages/rolldown/tests/fixtures/output/es-module/if-default-prop-false/_config.ts
  packages/rolldown/tests/fixtures/output/es-module/if-default-prop-true/_config.ts
  packages/rolldown/tests/fixtures/output/es-module/true/_config.ts
Labels: needs-triage

#1900 fix: remove name assignment in IIFE that doesn't have export.
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/tests/esbuild/dce/tree_shaking_no_bundle_iife/artifacts.snap
  crates/rolldown/tests/rolldown/function/export_mode/iife/auto/none/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/basic/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/external_modules/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/external_modules_with_globals/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/missing_global_name/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/tests/fixtures/output/format/iife/basic/_config.ts
Labels: needs-triage

#1915 feat: support flags for hybrid regex
  crates/rolldown_common/src/types/js_regex.rs
Labels: needs-triage

#1914 feat: transform plugin
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_js_or_regex.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin_transform/Cargo.toml
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/path_ext.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/options/normalized-ecma-transform-plugin-config.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/basic/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/basic/main.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/exclude/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/exclude/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/exclude/main.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/exclude/node_modules/a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/exclude/node_modules/a/package.json
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/include/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/include/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/include/main.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/include/node_modules/a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/include/node_modules/a/package.json
Labels: needs-triage

#1920 chore: bump rust to 1.80.1
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  rust-toolchain.toml
Labels: needs-triage

#1922 feat: load fallback plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_load_fallback/Cargo.toml
  crates/rolldown_plugin_load_fallback/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/tests/fixtures/builtin-plugin/load-fallback/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/load-fallback/basic/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/load-fallback/basic/lib.js
  packages/rolldown/tests/fixtures/builtin-plugin/load-fallback/basic/main.js
Labels: needs-triage

#1921 feat(rolldown_ecmascript): implement into_assignment_target ObjectPattern
  crates/rolldown/tests/rolldown/misc/wrapped_esm/artifacts.snap
  crates/rolldown/tests/rolldown/misc/wrapped_esm/foo.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  crates/rolldown_ecmascript/src/ext/mod.rs
Labels: needs-triage

#1926 chore: bump oxc to 0.24.1
  Cargo.lock
  Cargo.toml
Labels: needs-triage

#1932 test(node/rolldown): enable type-checking on `_config.ts`
  packages/rolldown/src/options/normalized-ecma-transform-plugin-config.ts
  packages/rolldown/tests/fixtures/output/outro/string/_config.ts
  packages/rolldown/tests/fixtures/plugin/context/resolve/_config.ts
  packages/rolldown/tests/fixtures/plugin/plugin-order/_config.ts
  packages/rolldown/tests/fixtures/plugin/write-bundle/_config.ts
  packages/rolldown/tests/fixtures/sourcemap/inner/_config.ts
  packages/rolldown/tsconfig.json
Labels: needs-triage

#1935 fix: fix `absolute_preliminary_filename` not taking `options.cwd` into account
  crates/rolldown/src/stages/generate_stage/mod.rs
Labels: needs-triage

#1934 fix(rolldown): fix inject test where `alias` can be a member expression
  crates/rolldown/tests/rolldown/function/inject/_config.json
  crates/rolldown/tests/rolldown/function/inject/artifacts.snap
  crates/rolldown/tests/rolldown/function/inject/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/inner_bundler_options/types/inject_import.rs
  crates/rolldown_testing/_config.schema.json
Labels: needs-triage

#1937 chore: remove redundant export named decl
  packages/rolldown/src/experimental-index.ts
Labels: needs-triage

#1938 feat: allow passing array of array in `config.plugins`
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/plugin-driver.ts
  packages/rolldown/tests/fixtures/plugin/hybrid-plugin/_config.ts
  packages/rolldown/tests/fixtures/plugin/hybrid-plugin/assert.mjs
  packages/rolldown/tests/fixtures/plugin/hybrid-plugin/main.js
Labels: needs-triage

#1939 chore: add `lint-repo` as a subcommand to `lint` in justfile
  justfile
Labels: needs-triage

#1953 chore: renmae import glob
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_import_glob/Cargo.toml
  crates/rolldown_plugin_import_glob/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/eager/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/query-object/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/query/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/restore-query-extension/_config.ts
Labels: needs-triage

#1959 fix(cjs): aovid generate assgin pattern if chunk imports nothing
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/tests/rolldown/function/format/cjs/share_chunk_without_symbol/_config.json
  crates/rolldown/tests/rolldown/function/format/cjs/share_chunk_without_symbol/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/cjs/share_chunk_without_symbol/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#1961 chore: move cargo shear to lint
  .github/workflows/ci.yml
  justfile
Labels: needs-triage

#1962 chore: improve the successful output of setup in `justfile`
  justfile
Labels: needs-triage

#1964 refactor(rust): improve esModule type in binding
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/es_module_flag.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-output-options.ts
Labels: needs-triage

#1969 feat: support flag for regex in plugin transform
  crates/rolldown_plugin_transform/src/lib.rs
Labels: needs-triage

#1972 feat(node/rolldown): add empty `PluginContext#addWatchFile` for shim
  packages/rolldown/src/plugin/plugin-context.ts
Labels: needs-triage

#1971 refactor: migrate from citty to node's built-in `parseArgs`
  packages/rolldown/package.json
  packages/rolldown/src/cli/commands/help.ts
  packages/rolldown/src/cli/index.ts
  packages/rolldown/src/cli/options.ts
  pnpm-lock.yaml
Labels: needs-triage

#1975 refactor: using `skip` to skip first element in `include_module`
  crates/rolldown/src/stages/link_stage/tree_shaking.rs
Labels: needs-triage

#1976 chore: 🤖 update diagnostic message
  crates/rolldown/tests/rolldown/errors/unresolved_import/basic/artifacts.snap
  crates/rolldown_error/src/events/unloadable_dependency.rs
Labels: needs-triage

#1978 chore: only log files with spelling errors.
  package.json
Labels: needs-triage

#1963 feat(node): support CLI options.
  cspell.json
  packages/rolldown/package.json
  packages/rolldown/src/cli/arguments/alias.ts
  packages/rolldown/src/cli/arguments/index.ts
  packages/rolldown/src/cli/arguments/normalize.ts
  packages/rolldown/src/cli/arguments/schema.ts
  packages/rolldown/src/cli/arguments/types.d.ts
  packages/rolldown/src/cli/arguments/utils.ts
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/cli/commands/help.ts
  packages/rolldown/src/cli/constants.ts
  packages/rolldown/src/cli/index.ts
  packages/rolldown/src/cli/options.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/cli-option-array/index.ts
  packages/rolldown/tests/cli/fixtures/cli-option-boolean/index.ts
  packages/rolldown/tests/cli/fixtures/cli-option-object/hello.b64
  packages/rolldown/tests/cli/fixtures/cli-option-object/index.ts
  packages/rolldown/tests/cli/fixtures/cli-option-object/input.notjson
  packages/rolldown/tests/cli/fixtures/cli-option-object/test.123
  packages/rolldown/tests/cli/fixtures/cli-option-short-boolean/index.ts
  packages/rolldown/tests/cli/fixtures/cli-option-string/index.ts
  pnpm-lock.yaml
Labels: needs-triage

#1981 fix: ensure ordering of assign chunk name
  crates/rolldown/src/chunk_graph.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/1/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/2/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/3/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/4/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/5/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/6/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/7/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/_config.json
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/artifacts.snap
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/file.js
  crates/rolldown/tests/rolldown/misc/assign_chunk_name_order/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#1985 refactor: 💡 extract pattern filter
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/src/options/binding_input_options/treeshake.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/inner_bundler_options/types/treeshake.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/mod.rs
  crates/rolldown_plugin_transform/Cargo.toml
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/js_regex.rs
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/pattern_filter.rs
Labels: needs-triage

#1987 feat(treeshaking): only reference `__reExport` if needed
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/types/linking_metadata.rs
  crates/rolldown/tests/esbuild/import_star/re_export_star_external_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/loader/empty_loader_js/artifacts.snap
  crates/rolldown/tests/rolldown/cjs_compat/require/require_esm/artifacts.snap
  crates/rolldown/tests/rolldown/misc/wrapped_esm/artifacts.snap
  crates/rolldown/tests/rolldown/semantic/export_star_from_external_as_shared_entries_cjs/artifacts.snap
  crates/rolldown/tests/rolldown/topics/cjs_module_lexer_compat/export_star_from_external/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/wrapped_esm_export_named_function/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/ecma_module.rs
Labels: needs-triage

#1986 perf: improve generate_namespace_definition
  crates/rolldown/src/ecmascript/format/utils/namespace.rs
Labels: needs-triage

#1988 chore: remove unused warning in wasi building.
  crates/rolldown_binding/src/lib.rs
  crates/rolldown_binding/src/options/plugin/mod.rs
  crates/rolldown_binding/src/options/plugin/parallel_js_plugin.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_binding/src/worker_manager.rs
Labels: needs-triage

#1990 chore: align with vite wasm helper plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_wasm_helper/Cargo.toml
  crates/rolldown_plugin_wasm_helper/src/lib.rs
  crates/rolldown_plugin_wasm_helper/src/wasm_runtime.js
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/fixtures/builtin-plugin/wasm/_config.ts
Labels: needs-triage

#1993 fix(cli): `rolldown -c` should not print help messages
  packages/rolldown/src/cli/arguments/index.ts
  packages/rolldown/src/cli/arguments/normalize.ts
Labels: needs-triage

#1995 test: test infra for cli
  packages/rolldown/package.json
  packages/rolldown/src/cli/utils.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/__snapshots__/usage.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  pnpm-lock.yaml
Labels: needs-triage

#1996 docs: add code group icon
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.js
  docs/package.json
  pnpm-lock.yaml
Labels: needs-triage

#1997 chore: use a conflict less env name to determine rolldown test
  packages/rolldown/package.json
  packages/rolldown/src/cli/utils.ts
Labels: needs-triage

#1998 feat: add LoadOutput#ModuleType binding
  crates/rolldown_binding/src/options/plugin/types/binding_hook_load_output.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/tests/fixtures/plugin/load/with-module-type/_config.ts
  packages/rolldown/tests/fixtures/plugin/load/with-module-type/assert.mjs
  packages/rolldown/tests/fixtures/plugin/load/with-module-type/main.typescript
Labels: needs-triage

#2000 chore(workflow): add `just fix` command.
  justfile
Labels: ready-to-merge

#2001 feat: alias plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_alias/Cargo.toml
  crates/rolldown_plugin_alias/src/lib.rs
  crates/rolldown_utils/src/js_regex.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/options/normalized-alias-plugin-config.ts
  packages/rolldown/src/options/normalized-ecma-transform-plugin-config.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/builtin-plugin/alias/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/alias/basic/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/alias/basic/lib.js
  packages/rolldown/tests/fixtures/builtin-plugin/alias/basic/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/alias/should-not-match/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/alias/should-not-match/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/alias/should-not-match/lib.js
  packages/rolldown/tests/fixtures/builtin-plugin/alias/should-not-match/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/alias/string/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/alias/string/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/alias/string/lib.js
  packages/rolldown/tests/fixtures/builtin-plugin/alias/string/main.js
Labels: needs-triage

#2004 feat: assignment expr side effect detector
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
Labels: needs-triage

#2008 chore: enhance testing composejs plugin
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/utils/create-bundler.ts
  packages/rolldown/tests/compose-plugins.test.ts
  packages/rolldown/tests/fixture.test.ts
  packages/rolldown/tests/fixtures/plugin/transform/composable/_config.ts
  packages/rolldown/tests/fixtures/plugin/transform/composable/foo.js
  packages/rolldown/tests/fixtures/plugin/transform/composable/main.js
  packages/rolldown/tests/src/types.ts
  scripts/meta/constants.js
Labels: needs-triage

#2006 ci: exit with none zero code when snapshots updated (only in github actions CI env).
  .github/workflows/reusable-cargo-test.yml
Labels: needs-triage

#2010 test(rust): ignore `crates/rolldown/tests/rolldown/errors/unresolved_import/basic`
  crates/rolldown/tests/rolldown/errors/unresolved_import/basic/mod.rs
Labels: needs-triage

#2007 feat: compose addon hooks
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/tests/compose-plugins.test.ts
  packages/rolldown/tests/fixtures/plugin/multi-addon/_config.ts
  packages/rolldown/tests/fixtures/plugin/multi-addon/main.js
Labels: needs-triage

#2009 feat: implement the rest branches in side effect detector
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
Labels: needs-triage

#2012 chore: reuse detect_side_effects_of_call_expr
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
Labels: needs-triage

#2011 chore(rolldown): bump oxc to 0.24.3
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/pure_annotation/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2014 chore: simplify `None` in ast builder
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
Labels: needs-triage

#2016 perf: ⚡️ remove extra collection when using rayon
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown_utils/src/rayon.rs
Labels: on-hold, needs-triage

#2018 fix: remove napi deferred_trace feature
  Cargo.toml
Labels: needs-triage

#1984 fix: same filenames cause bundle error
  packages/rolldown/src/options/bindingify-input-options.ts
Labels: needs-triage

#2023 chore: 🤖 refactor justifle
  justfile
Labels: needs-triage

#2029 fix: JSON.parse() should not have side effect
  crates/rolldown_plugin_json/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects/package.json
Labels: needs-triage

#2036 feat: gracefully shutdown the process when panic in `fetch_all_modules`
  crates/rolldown/src/module_loader/module_loader.rs
Labels: needs-triage

#2034 fix: Allowing gcc builds on windows
  .cargo/config.toml
Labels: needs-triage

#2037 chore: add task name prefix for tasks in `lint-repo`.
  package.json
Labels: ready-to-merge

#2042 feat(rolldown): bump oxc to v0.25.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/artifacts.snap
  crates/rolldown/tests/rolldown/function/minify/basic/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/pure_annotation/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_ecmascript/src/ecma_compiler.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_transform/src/lib.rs
Labels: needs-triage

#2046 feat: add originalFileName to EmittedAsset
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown_binding/src/options/plugin/types/binding_emitted_asset.rs
  crates/rolldown_binding/src/types/binding_output_asset.rs
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_common/src/types/output.rs
  crates/rolldown_plugin_manifest/src/lib.rs
  crates/rolldown_plugin_wasm_helper/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/rollup.d.ts
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/tests/fixtures/plugin/context/emit-file/_config.ts
Labels: needs-triage

#2048 fix(packages/rolldown): export `package.json`
  packages/rolldown/package.json
Labels: needs-triage

#2049 feat(packages/rolldown): export `VERSION`
  packages/rolldown/src/index.ts
  packages/rolldown/tsconfig.check.json
Labels: needs-triage

#2051 feat: build import analysis plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/ecma_visitors/mod.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/types/hook_transform_ast_args.rs
  crates/rolldown_plugin_build_import_analysis/Cargo.toml
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_build_import_analysis/src/utils.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/basic/a.js
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/basic/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/basic/b.js
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/basic/lib.js
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/basic/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/check_helper_inserted/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/check_helper_inserted/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/check_helper_inserted/lib.js
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/check_helper_inserted/main.js
Labels: needs-triage

#2054 fix: eval warning should only emit when used as callExpr
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval/artifacts.snap
  crates/rolldown/tests/esbuild/dce/remove_unused_imports_eval_ts/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/eval/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/eval/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_error/src/events/eval.rs
Labels: needs-triage

#2060 ci: enable forked repo writing benchmark comparsion comment
  .github/workflows/benchmark-rust.yml
Labels: needs-triage

#2061 chore: bump vitepress plugin group icons
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.js
  docs/package.json
  pnpm-lock.yaml
Labels: needs-triage

#2063 chore(rust): set release profile values explicitly
  Cargo.toml
Labels: needs-triage

#2068 fix: external module side effects should respect hook returned side e…
  crates/rolldown/src/module_loader/module_loader.rs
  packages/rolldown/tests/fixtures/tree-shake/external-module-side-effects-from-hook/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/external-module-side-effects-from-hook/main.js
Labels: needs-triage

#2072 perf: ⚡️ reduce lock contention
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
Labels: needs-triage

#2073 chore: bump `oxc_resolver` to v1.11.0
  Cargo.lock
  Cargo.toml
Labels: needs-triage

#2078 perf(sourcemap): do not allocate `ConcatSourceMapBuilder` unconditionally
  crates/rolldown_sourcemap/src/concat_sourcemap.rs
Labels: needs-triage

#2076 feat: improve resolve error
  crates/rolldown/src/ecmascript/ecma_module_factory.rs
  crates/rolldown/src/types/module_factory.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/.gitignore
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/artifacts.snap
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/entry.js
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/mod.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/node_modules/test/index.js
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/node_modules/test/package.json
  crates/rolldown/tests/rolldown/errors/unresolved_import/mod.rs
Labels: needs-triage

#2079 fix: collect-dependends-symbol
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/tests/rolldown/issues/2038/_config.json
  crates/rolldown/tests/rolldown/issues/2038/a.js
  crates/rolldown/tests/rolldown/issues/2038/artifacts.snap
  crates/rolldown/tests/rolldown/issues/2038/b.js
  crates/rolldown/tests/rolldown/issues/2038/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#2084 chore: ⚡️ polish oxc resolve error
  .gitignore
  crates/rolldown/src/ecmascript/ecma_module_factory.rs
  crates/rolldown/src/types/module_factory.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/tests/rolldown/errors/resolve_unexport_path_of_package/_config.json
  crates/rolldown/tests/rolldown/errors/resolve_unexport_path_of_package/artifacts.snap
  crates/rolldown/tests/rolldown/errors/resolve_unexport_path_of_package/main.js
  crates/rolldown/tests/rolldown/errors/resolve_unexport_path_of_package/node_modules/test/index.js
  crates/rolldown/tests/rolldown/errors/resolve_unexport_path_of_package/node_modules/test/package.json
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/.gitignore
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/artifacts.snap
  crates/rolldown/tests/rolldown/errors/unresolved_import/external/mod.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/mod.rs
  crates/rolldown/tests/rolldown/topics/npm_packages/.gitignore
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/mod.rs
  crates/rolldown_error/src/events/resolve_error.rs
  crates/rolldown_resolver/src/error.rs
  crates/rolldown_resolver/src/lib.rs
Labels: needs-triage

#2086 fix: guessing module type
  Cargo.lock
  crates/rolldown/Cargo.toml
  crates/rolldown/src/utils/load_source.rs
  crates/rolldown/tests/rolldown/resolve/hash_tag_as_dir_name/_config.json
  crates/rolldown/tests/rolldown/resolve/hash_tag_as_dir_name/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/hash_tag_as_dir_name/main.js
  crates/rolldown/tests/rolldown/resolve/hash_tag_as_dir_name/string/#/contains/index.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/tests/fixtures/resolve/module-css-should-have-high-priority/_config.ts
  packages/rolldown/tests/fixtures/resolve/module-css-should-have-high-priority/assert.mjs
  packages/rolldown/tests/fixtures/resolve/module-css-should-have-high-priority/index.module.css
  packages/rolldown/tests/fixtures/resolve/module-css-should-have-high-priority/main.js
Labels: needs-triage

#2074 test: add tests for replace plugin
  crates/rolldown_plugin_replace/tests/form/assignment/input.js
  crates/rolldown_plugin_replace/tests/form/assignment/mod.rs
  crates/rolldown_plugin_replace/tests/form/match_variables/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/match_variables/input.js
  crates/rolldown_plugin_replace/tests/form/match_variables/mod.rs
  crates/rolldown_plugin_replace/tests/form/mod.rs
  crates/rolldown_plugin_replace/tests/form/process_check/input.js
  crates/rolldown_plugin_replace/tests/form/process_check/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_characters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/special_characters/input.js
  crates/rolldown_plugin_replace/tests/form/special_characters/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_delimiters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/special_delimiters/input.js
  crates/rolldown_plugin_replace/tests/form/special_delimiters/mod.rs
  crates/rolldown_plugin_replace/tests/form/ternary_operator/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/ternary_operator/input.js
  crates/rolldown_plugin_replace/tests/form/ternary_operator/mod.rs
  crates/rolldown_plugin_replace/tests/form/typescript_declare/input.ts
  crates/rolldown_plugin_replace/tests/form/typescript_declare/mod.rs
  cspell.json
Labels: needs-triage

#2088 fix(plugin/replace): handle backtrack limit exceeded error
  Cargo.lock
  crates/rolldown_plugin_replace/Cargo.toml
  crates/rolldown_plugin_replace/src/plugin.rs
Labels: needs-triage

#2092 chore: print seconds when build time exceeds 1 second.
  packages/rolldown/src/cli/commands/bundle.ts
Labels: needs-triage

#2093 feat(plugin/replace): prevent assignment
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_replace/src/plugin.rs
  crates/rolldown_plugin_replace/tests/form/assignment/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/assignment/input.js
  crates/rolldown_plugin_replace/tests/form/assignment/mod.rs
  crates/rolldown_plugin_replace/tests/form/delimiters/mod.rs
  crates/rolldown_plugin_replace/tests/form/process_check/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_characters/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_delimiters/mod.rs
  crates/rolldown_plugin_replace/tests/form/ternary_operator/mod.rs
  crates/rolldown_plugin_replace/tests/form/typescript_declare/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/typescript_declare/mod.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#2089 fix: entry chunk should be at first
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/ecma_asset_meta.rs
  crates/rolldown_common/src/types/asset.rs
  crates/rolldown_common/src/types/asset_meta.rs
  packages/rolldown/tests/fixtures/input/array/_config.ts
  packages/rolldown/tests/fixtures/input/object/_config.ts
  packages/rolldown/tests/fixtures/misc/virtual/virtual-module-as-chunk/_config.ts
  packages/rolldown/tests/src/utils.ts
Labels: needs-triage

#2094 fix: ensure referenced symbols by entry point chunk got deconflicted
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown/tests/rolldown/function/external/export_external/artifacts.snap
  crates/rolldown/tests/rolldown/issues/1722/1/_config.json
  crates/rolldown/tests/rolldown/issues/1722/1/artifacts.snap
  crates/rolldown/tests/rolldown/issues/1722/1/main.js
  crates/rolldown/tests/rolldown/issues/1722/1/sub.cjs
  crates/rolldown/tests/rolldown/issues/1722/2/_config.json
  crates/rolldown/tests/rolldown/issues/1722/2/artifacts.snap
  crates/rolldown/tests/rolldown/issues/1722/2/foo.js
  crates/rolldown/tests/rolldown/issues/1722/2/main.js
  crates/rolldown/tests/rolldown/issues/2085/_config.json
  crates/rolldown/tests/rolldown/issues/2085/a.js
  crates/rolldown/tests/rolldown/issues/2085/artifacts.snap
  crates/rolldown/tests/rolldown/issues/2085/b.js
  crates/rolldown/tests/rolldown/issues/2085/c.js
  crates/rolldown/tests/rolldown/issues/2085/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2081 feat: support `output.inlineDynamicImports` option.
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/rolldown/errors/invalid_option/unsupported_code_splitting_format/_config.json
  crates/rolldown/tests/rolldown/errors/invalid_option/unsupported_code_splitting_format/artifacts.snap
  crates/rolldown/tests/rolldown/errors/invalid_option/unsupported_code_splitting_format/lib.js
  crates/rolldown/tests/rolldown/errors/invalid_option/unsupported_code_splitting_format/main.js
  crates/rolldown/tests/rolldown/function/format/iife/inline_dynamic_import/_config.json
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/cjs/_config.json
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/cjs/artifacts.snap
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/cjs/cjs.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/cjs/esm.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/cjs/foo.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/cjs/main.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/esm/_config.json
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/esm/artifacts.snap
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/esm/cjs.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/esm/esm.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/esm/foo.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/esm/main.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/iife/_config.json
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/iife/artifacts.snap
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/iife/cjs.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/iife/esm.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/iife/foo.js
  crates/rolldown/tests/rolldown/function/inline_dynamic_imports/iife/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_format.rs
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/invalid_option.rs
  crates/rolldown_error/src/events/mod.rs
  crates/rolldown_error/src/lib.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#2090 chore(ci): support pkg preview
  .github/workflows/ci.yml
  .github/workflows/preview-commit.yml
Labels: needs-triage

#2096 docs: add minimum installation guide
  docs/.vitepress/config.ts
  docs/guide/index.md
Labels: needs-triage

#2095 fix: collect depended_symbol when `canonical_ref` has `ns_alias`
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/tests/rolldown/issues/2038/a/_config.json
  crates/rolldown/tests/rolldown/issues/2038/a/a.js
  crates/rolldown/tests/rolldown/issues/2038/a/artifacts.snap
  crates/rolldown/tests/rolldown/issues/2038/a/b.js
  crates/rolldown/tests/rolldown/issues/2038/a/main.js
  crates/rolldown/tests/rolldown/issues/2038/b/_config.json
  crates/rolldown/tests/rolldown/issues/2038/b/a.js
  crates/rolldown/tests/rolldown/issues/2038/b/artifacts.snap
  crates/rolldown/tests/rolldown/issues/2038/b/b.js
  crates/rolldown/tests/rolldown/issues/2038/b/c.js
  crates/rolldown/tests/rolldown/issues/2038/b/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage
