Repository rolldown/rolldown, pull requests merged in 2024-07, with the labels that each got.

#1502 feat: export tranform for oxc transformer
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/pre_process_ast.rs
  crates/rolldown/tests/fixtures/errors/missing_export/artifacts.snap
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/index.ts
Labels: needs-triage

#1506 perf(rolldown): build oxc semantic data only once
  crates/rolldown/src/module_loader/normal_module_task.rs
  crates/rolldown/src/utils/make_ast_symbol_and_scope.rs
  crates/rolldown/src/utils/parse_to_ast.rs
  crates/rolldown/src/utils/pre_process_ast.rs
Labels: needs-triage

#1509 chore: replace `console.log` in `tests/fixture`
  crates/rolldown/tests/esbuild/dce/import_re_export_of_namespace_import/artifacts.snap
  crates/rolldown/tests/esbuild/dce/import_re_export_of_namespace_import/entry.js
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_cjs_import_star_as/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_cjs_import_star_as/main.js
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_cjs_named_import/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_cjs_named_import/main.js
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_esm_which_export_all_from_cjs_named_import/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_esm_which_export_all_from_cjs_named_import/main.js
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_esm_which_export_all_from_multiple_cjs_named_import/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/import_reexport_between_esm_and_cjs/esm_import_esm_which_export_all_from_multiple_cjs_named_import/main.js
  crates/rolldown/tests/fixtures/cjs_compat/mix-cjs-esm/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/mix-cjs-esm/esm-import-cjs-require.js
  crates/rolldown/tests/fixtures/cjs_compat/reexport_commonjs/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/reexport_commonjs/main.js
  crates/rolldown/tests/fixtures/deconflict/default_function/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/default_function/foo.js
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_default_function/_config.json
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_default_function/foo.js
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_default_function/main.js
  crates/rolldown/tests/fixtures/function/external/splitting_with_external_module/_config.json
  crates/rolldown/tests/fixtures/function/external/splitting_with_external_module/artifacts.snap
  crates/rolldown/tests/fixtures/function/external/splitting_with_external_module/entry.js
  crates/rolldown/tests/fixtures/function/external/splitting_with_external_module/main.js
  crates/rolldown/tests/fixtures/misc/basic/artifacts.snap
  crates/rolldown/tests/fixtures/misc/basic/main.js
  crates/rolldown/tests/fixtures/misc/basic_re_export/artifacts.snap
  crates/rolldown/tests/fixtures/misc/basic_re_export/main.js
  crates/rolldown/tests/fixtures/misc/use_strict/allow_parse_non_strict_code_in_cjs_format/artifacts.snap
  crates/rolldown/tests/fixtures/misc/use_strict/allow_parse_non_strict_code_in_cjs_format/main.js
  crates/rolldown/tests/fixtures/misc/use_strict/no_use_strict_with_non_strict_cjs_in_cjs_format/artifacts.snap
  crates/rolldown/tests/fixtures/misc/use_strict/no_use_strict_with_non_strict_cjs_in_cjs_format/main.js
  crates/rolldown/tests/fixtures/module_types/base64/binary/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/base64/binary/main.js
  crates/rolldown/tests/fixtures/module_types/base64/empty/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/base64/empty/main.js
  crates/rolldown/tests/fixtures/module_types/base64/text/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/base64/text/main.js
  crates/rolldown/tests/fixtures/module_types/binary/binary/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/binary/binary/main.js
  crates/rolldown/tests/fixtures/module_types/binary/empty/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/binary/empty/main.js
  crates/rolldown/tests/fixtures/module_types/binary/node/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/binary/node/main.js
  crates/rolldown/tests/fixtures/module_types/binary/text/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/binary/text/main.js
  crates/rolldown/tests/fixtures/module_types/txt/empty/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/txt/empty/main.js
  crates/rolldown/tests/fixtures/module_types/txt/escape_quote/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/txt/escape_quote/main.js
  crates/rolldown/tests/fixtures/tree_shaking/advanced_barrel_exports/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/advanced_barrel_exports/main.js
  crates/rolldown/tests/fixtures/tree_shaking/advanced_barrel_exports2/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/advanced_barrel_exports2/main.js
  crates/rolldown/tests/fixtures/tree_shaking/derived_side_effects_should_have_high_priority/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/derived_side_effects_should_have_high_priority/main.js
  crates/rolldown/tests/fixtures/tree_shaking/json_object/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/json_object/main.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1510 feat: glob import plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/module_loader/normal_module_task.rs
  crates/rolldown/src/utils/parse_to_ast.rs
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/types/hook_transform_ast_args.rs
  crates/rolldown_plugin/src/types/mod.rs
  crates/rolldown_plugin_glob_import/Cargo.toml
  crates/rolldown_plugin_glob_import/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/plugin/bindingify-builtin-plugin.ts
  packages/rolldown/tests/fixture.test.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/dir/index.js
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/eager/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/eager/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/eager/dir/index.js
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/eager/main.js
  packages/rolldown/tests/src/types.ts
Labels: needs-triage

#564 feat: add issues template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: on-hold

#1520 chore: 🤖 improve issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: needs-triage

#1514 refactor: setup benchmark script
  .github/workflows/benchmark-rust.yml
  justfile
  scripts/misc/setup-benchmark-input/index.js
  scripts/misc/setup-benchmark-input/rome.js
  scripts/misc/setup-benchmark-input/threejs-10x.js
  scripts/misc/setup-benchmark-input/threejs.js
  scripts/misc/setup-benchmark-input/util.js
Labels: needs-triage

#1522 chore(readme): add link to create stackblitz project fastly
  README.md
  cspell.json
Labels: needs-triage

#1523 chore(issue_template): encourage to provide reproduction
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: needs-triage

#1527 chore: inline rolldown package dependencies
  packages/rolldown/package.json
  packages/rolldown/rolldown.config.mjs
  pnpm-lock.yaml
Labels: needs-triage

#1526 chore: ignore fixtures in rolldown tsconfig
  packages/rolldown/tsconfig.json
Labels: needs-triage

#1530 refactor: remove `raw_text_to_esm` function.
  crates/rolldown/src/utils/parse_to_ast.rs
  crates/rolldown_loader_utils/src/lib.rs
  crates/rolldown_loader_utils/src/raw_text_to_esm.rs
Labels: needs-triage

#1532 feat: module option meta
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/bindingify-plugin.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/plugin-context-data.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/types/module-info.ts
  packages/rolldown/src/utils/transform-module-info.ts
  packages/rolldown/tests/fixtures/plugin/context/get-module-info/_config.ts
Labels: needs-triage

#1528 chore: bump oxc to v0.17.1
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/artifacts.snap
  crates/rolldown/tests/esbuild/dce/package_json_side_effects_array_keep_main_implicit_main/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_import_identifier/entry.js
  crates/rolldown/tests/esbuild/default/arrow_fn_scope/artifacts.snap
  crates/rolldown/tests/esbuild/default/export_forms_common_js/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/esm_require_esm_unused/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/require/require_esm/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_export_named_function/artifacts.snap
  crates/rolldown/tests/fixtures/function/shim_missing_exports/basic_wrapped_esm/artifacts.snap
  crates/rolldown/tests/fixtures/misc/wrapped_esm/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1536 fix: add `dataurl` in json config syntax.
  crates/rolldown_common/src/inner_bundler_options/types/module_type.rs
  packages/rolldown/src/options/input-options.ts
Labels: needs-triage

#1543 refactor: TransformPluginContext
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/plugin/transfrom-plugin-context.ts
Labels: needs-triage

#1544 fix: optional TransformResult#code
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_transform_output.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/types/hook_transform_output.rs
  crates/rolldown_plugin/src/types/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/index.ts
Labels: needs-triage

#1541 chore: adding cargo run-fixture
  .cargo/config.toml
  Cargo.lock
  crates/rolldown/tests/esbuild.rs
  crates/rolldown/tests/fixtures.rs
  crates/rolldown_testing/Cargo.toml
  crates/rolldown_testing/bin/run-fixture.rs
  crates/rolldown_testing/src/case/case.rs
  crates/rolldown_testing/src/case/fixture.rs
  crates/rolldown_testing/src/case/mod.rs
  crates/rolldown_testing/src/lib.rs
  crates/rolldown_testing/src/workspace.rs
Labels: needs-triage

#1545 fix(sourcemap): avoid remapping if renderChunk hook not return map
  crates/rolldown/src/utils/render_chunks.rs
  packages/rolldown/tests/fixtures/plugin/render-chunk/_config.ts
Labels: needs-triage

#1546 chore(web): remove playground
  pnpm-lock.yaml
  web/docs/contrib-guide/repo-structure.md
  web/playground/.gitignore
  web/playground/README.md
  web/playground/index.html
  web/playground/package.json
  web/playground/src/App.vue
  web/playground/src/components/CodeBlock.vue
  web/playground/src/components/ModuleBlock.vue
  web/playground/src/main.ts
  web/playground/src/style.css
  web/playground/src/utils/index.ts
  web/playground/src/vite-env.d.ts
  web/playground/tsconfig.json
  web/playground/tsconfig.node.json
  web/playground/vite.config.ts
Labels: needs-triage

#1517 chore: add naming deconflict benchmark
  crates/bench/benches/bundle.rs
  crates/rolldown_testing/src/bundler_options_presets/mod.rs
  crates/rolldown_testing/src/bundler_options_presets/multi_duplicated_symbol.rs
  cspell.json
  scripts/misc/setup-benchmark-input/index.js
  scripts/misc/setup-benchmark-input/rolldown-benchcases.js
  scripts/misc/setup-benchmark-input/util.js
Labels: needs-triage

#1549 refactor(rust/rolldown): rename `NormalModule` to `EcmaModule`
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/chunk_graph.rs
  crates/rolldown/src/module_finalizers/isolating/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/ecma_module_task.rs
  crates/rolldown/src/module_loader/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/runtime_ecma_module_task.rs
  crates/rolldown/src/module_loader/task_result.rs
  crates/rolldown/src/runtime/mod.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/sort_modules.rs
  crates/rolldown/src/stages/link_stage/tree_shaking.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/type_alias.rs
  crates/rolldown/src/types/linking_metadata.rs
  crates/rolldown/src/types/symbols.rs
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown/src/utils/chunk/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/src/utils/mod.rs
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown/src/utils/render_ecma_module.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module/ecma_module.rs
  crates/rolldown_common/src/module/mod.rs
  crates/rolldown_common/src/types/chunk_kind.rs
  crates/rolldown_common/src/types/ecma_module_id.rs
  crates/rolldown_common/src/types/entry_point.rs
  crates/rolldown_common/src/types/mod.rs
  crates/rolldown_common/src/types/module_id.rs
  crates/rolldown_common/src/types/module_table.rs
  crates/rolldown_common/src/types/normal_module_id.rs
  crates/rolldown_common/src/types/symbol_ref.rs
  crates/rolldown_plugin/src/plugin_context.rs
Labels: needs-triage

#1550 refactor(rust/rolldown): rename xx`Id` to xx`Idx` for defined types by `oxc_index`
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/chunk_graph.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/ecma_module_task.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/runtime_ecma_module_task.rs
  crates/rolldown/src/module_loader/task_result.rs
  crates/rolldown/src/runtime/mod.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/sort_modules.rs
  crates/rolldown/src/stages/link_stage/tree_shaking.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/type_alias.rs
  crates/rolldown/src/types/linking_metadata.rs
  crates/rolldown/src/types/symbols.rs
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown/src/utils/chunk/render_chunk.rs
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module/ecma_module.rs
  crates/rolldown_common/src/module/external_module.rs
  crates/rolldown_common/src/types/chunk_idx.rs
  crates/rolldown_common/src/types/chunk_kind.rs
  crates/rolldown_common/src/types/ecma_module_id.rs
  crates/rolldown_common/src/types/entry_point.rs
  crates/rolldown_common/src/types/external_module_id.rs
  crates/rolldown_common/src/types/external_module_idx.rs
  crates/rolldown_common/src/types/import_record.rs
  crates/rolldown_common/src/types/mod.rs
  crates/rolldown_common/src/types/module_id.rs
  crates/rolldown_common/src/types/module_idx.rs
  crates/rolldown_common/src/types/module_table.rs
  crates/rolldown_common/src/types/named_import.rs
  crates/rolldown_common/src/types/stmt_info.rs
  crates/rolldown_common/src/types/symbol_ref.rs
Labels: needs-triage

#1551 feat(wip/css): add `CssModule`
  Cargo.lock
  Cargo.toml
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/css/css_module.rs
  crates/rolldown_common/src/css/css_module_idx.rs
  crates/rolldown_common/src/css/mod.rs
  crates/rolldown_common/src/ecmascript/ecma_module.rs
  crates/rolldown_common/src/ecmascript/ecma_module_idx.rs
  crates/rolldown_common/src/ecmascript/mod.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module/mod.rs
  crates/rolldown_common/src/types/mod.rs
  cspell.json
Labels: needs-triage

#1552 refactor(rust): rename `rolldown_oxc_utils` to `rolldown_ecmascript`
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/isolating/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
  crates/rolldown/src/module_loader/ecma_module_task.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/runtime_ecma_module_task.rs
  crates/rolldown/src/module_loader/task_result.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/utils/mod.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/src/utils/render_ecma_module.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown_ecmascript/Cargo.toml
  crates/rolldown_ecmascript/src/allocator_helpers/from_in.rs
  crates/rolldown_ecmascript/src/allocator_helpers/into_in.rs
  crates/rolldown_ecmascript/src/allocator_helpers/mod.rs
  crates/rolldown_ecmascript/src/allocator_helpers/take_in/impl_for_oxc_allocator.rs
  crates/rolldown_ecmascript/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  crates/rolldown_ecmascript/src/allocator_helpers/take_in/impl_for_oxc_syntax.rs
  crates/rolldown_ecmascript/src/allocator_helpers/take_in/mod.rs
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_ecmascript/src/compiler.rs
  crates/rolldown_ecmascript/src/ecma_ast/helpers.rs
  crates/rolldown_ecmascript/src/ecma_ast/mod.rs
  crates/rolldown_ecmascript/src/ecma_ast/program_cell.rs
  crates/rolldown_ecmascript/src/ext/allocator_ext/mod.rs
  crates/rolldown_ecmascript/src/ext/mod.rs
  crates/rolldown_ecmascript/src/ext/span_ext.rs
  crates/rolldown_ecmascript/src/lib.rs
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/types/hook_transform_ast_args.rs
Labels: needs-triage

#1555 chore(rolldown): upgrade NAPI-RS cli
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  pnpm-lock.yaml
Labels: needs-triage

#1558 fix: eliminate unused external module import stmt
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk_imports.rs
  crates/rolldown/tests/fixtures/function/resolve/alias_to_node_builtin_module/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/unused_import_external/_config.json
  crates/rolldown/tests/fixtures/tree_shaking/unused_import_external/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_common/src/module/external_module.rs
  packages/rolldown/tests/fixtures/tree-shake/unused-external-import-stmt/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/unused-external-import-stmt/a.mjs
  packages/rolldown/tests/fixtures/tree-shake/unused-external-import-stmt/b.mjs
  packages/rolldown/tests/fixtures/tree-shake/unused-external-import-stmt/main.js
Labels: needs-triage

#1560 chore(deps): bump oxc to `0.19.0`
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
  crates/rolldown/tests/fixtures/tree_shaking/pure_annotation/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_ecmascript/src/allocator_helpers/from_in.rs
  crates/rolldown_ecmascript/src/allocator_helpers/into_in.rs
  crates/rolldown_ecmascript/src/allocator_helpers/mod.rs
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_ecmascript/src/ext/mod.rs
  crates/rolldown_ecmascript/src/lib.rs
  crates/rolldown_plugin_glob_import/src/lib.rs
Labels: needs-triage

#1563 chore: remove unused import
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
Labels: needs-triage

#1564 fix: multi declarator tree shake
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_binary_operators/artifacts.snap
  crates/rolldown/tests/esbuild/default/ambiguous_reexport_msg/artifacts.snap
  crates/rolldown/tests/esbuild/import_star/re_export_star_name_collision_not_ambiguous_export/artifacts.snap
  crates/rolldown/tests/esbuild/import_star/re_export_star_name_collision_not_ambiguous_import/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/require/require_cjs/artifacts.snap
  crates/rolldown/tests/fixtures/cjs_compat/require/require_esm/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/basic_scoped/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/complex_params_patterns/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/default_function/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/issue_364/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_export_named_function/artifacts.snap
  crates/rolldown/tests/fixtures/misc/basic/artifacts.snap
  crates/rolldown/tests/fixtures/misc/object_shorthand_property/artifacts.snap
  crates/rolldown/tests/fixtures/rollup/catch-scope-shadowing/artifacts.snap
  crates/rolldown/tests/fixtures/rollup/simplify-with-destructuring/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/multi-declarator/_config.json
  crates/rolldown/tests/fixtures/tree_shaking/multi-declarator/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/multi-declarator/foo.js
  crates/rolldown/tests/fixtures/tree_shaking/multi-declarator/main.js
  crates/rolldown/tests/fixtures/tree_shaking/pure_annotation/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  packages/rolldown/tests/fixtures/sourcemap/inner/_config.ts
Labels: needs-triage

#1566 fix: mixed multi declarator tree shake
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/esbuild/dce/dce_of_destructuring/artifacts.snap
  crates/rolldown/tests/fixtures/misc/wrapped_esm/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/multi-declarator/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/multi-declarator/foo.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1570 feat(output): support emit output of iife format
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/src/utils/chunk/render_chunk_imports.rs
  crates/rolldown/tests/fixtures/code_splitting/basic/artifacts.snap
  crates/rolldown/tests/fixtures/format/iife/_config.json
  crates/rolldown/tests/fixtures/format/iife/artifacts.snap
  crates/rolldown/tests/fixtures/format/iife/cjs.js
  crates/rolldown/tests/fixtures/format/iife/esm.js
  crates/rolldown/tests/fixtures/format/iife/foo.js
  crates/rolldown/tests/fixtures/format/iife/main.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_format.rs
  crates/rolldown_ecmascript/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/fixtures/output/format/iife/_config.ts
  packages/rolldown/tests/fixtures/output/format/iife/main.js
Labels: needs-triage

#1581 chore: bump oxc to v0.20.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_plugin_glob_import/src/lib.rs
Labels: needs-triage

#1580 fix: InternalModuleFormat typing
  packages/rolldown/src/index.ts
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
Labels: needs-triage

#1583 fix: chunk modules should include empty module
  crates/rolldown/src/utils/chunk/render_chunk.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/tests/fixtures/plugin/write-bundle/_config.ts
  packages/rolldown/tests/fixtures/plugin/write-bundle/foo.js
  packages/rolldown/tests/fixtures/plugin/write-bundle/main.js
Labels: needs-triage

#1584 fix: iife wrapper
  crates/rolldown/src/utils/chunk/render_chunk.rs
  crates/rolldown/tests/fixtures/format/iife/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  packages/rolldown/tests/fixtures/output/format/iife/_config.ts
Labels: needs-triage

#1593 fix: align using declaration side effects detection with esbuild.
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/tests/esbuild/dce/dce_of_using_declarations/_config.json
  crates/rolldown/tests/esbuild/dce/dce_of_using_declarations/artifacts.snap
  crates/rolldown/tests/esbuild/dce/dce_of_using_declarations/entry.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1586 feat: support OutputAsset#name
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown_binding/src/types/binding_output_asset.rs
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_common/src/types/output.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/tests/fixtures/plugin/context/emit-file/_config.ts
  packages/rolldown/tests/src/utils.ts
Labels: needs-triage

#1594 fix: template literal side effects
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/tests/esbuild/dce/dce_template_literal/_config.json
  crates/rolldown/tests/esbuild/dce/dce_template_literal/artifacts.snap
  crates/rolldown/tests/esbuild/dce/dce_template_literal/entry.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1595 refactor: compat rollup plugin typing
  packages/rolldown/src/index.ts
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/parallel-plugin.ts
  packages/rolldown/src/plugin/plugin-driver.ts
  packages/rolldown/src/types/utils.ts
  packages/rolldown/src/utils/create-bundler.ts
  packages/rolldown/src/utils/initialize-parallel-plugins.ts
Labels: needs-triage

#1597 fix: remove unused pure comment call
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/ast_scanner/side_effect_detector/annotation.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/tests/esbuild/dce/remove_unused_pure_comment_calls/_config.json
  crates/rolldown/tests/esbuild/dce/remove_unused_pure_comment_calls/artifacts.snap
  crates/rolldown/tests/esbuild/dce/remove_unused_pure_comment_calls/entry.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  cspell.json
Labels: needs-triage

#1600 docs(contrib): add `Etiquette` chapter
  web/docs/.vitepress/config.ts
  web/docs/contrib-guide/index.md
Labels: needs-triage

#1601 ci: record compilation time
  .github/workflows/metric.yml
Labels: needs-triage

#1599 fix: class property and object key side effects detection
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/tests/esbuild/dce/dce_of_symbol_instances/artifacts.snap
  crates/rolldown/tests/esbuild/dce/dce_of_symbol_instances/class.js
  crates/rolldown/tests/esbuild/dce/tree_shaking_class_property/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_class_property/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_class_property/entry.js
  crates/rolldown/tests/esbuild/dce/tree_shaking_class_static_property/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_class_static_property/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_class_static_property/entry.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1608 fix: object property tree shake
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/tests/esbuild/dce/tree_shaking_object_property/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_object_property/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_object_property/entry.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1619 feat(node): expose `OutputOptions#minify`
  packages/rolldown/rolldown-binding.wasi-browser.js
  packages/rolldown/rolldown-binding.wasi.cjs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
Labels: needs-triage

#1627 feat: support output.name for iife
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/fixtures/format/iife-with-name/_config.json
  crates/rolldown/tests/fixtures/format/iife-with-name/artifacts.snap
  crates/rolldown/tests/fixtures/format/iife-with-name/foo.js
  crates/rolldown/tests/fixtures/format/iife-with-name/main.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/fixtures/output/format/iife/_config.ts
Labels: needs-triage

#1640 chore: add more comments on `ImportRecord`
  crates/rolldown_common/src/types/import_record.rs
Labels: needs-triage

#1637 chore: add remapping benchmark
  Cargo.lock
  crates/bench/Cargo.toml
  crates/bench/benches/remapping.rs
  cspell.json
  pnpm-lock.yaml
  scripts/misc/setup-benchmark-input/antd.js
  scripts/misc/setup-benchmark-input/index.js
  scripts/package.json
Labels: needs-triage

#1634 feat: throw friendly warning message for ambiguous export
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/tests/fixtures/warnings/ambiguous_external_namespace/_config.json
  crates/rolldown/tests/fixtures/warnings/ambiguous_external_namespace/a.js
  crates/rolldown/tests/fixtures/warnings/ambiguous_external_namespace/artifacts.snap
  crates/rolldown/tests/fixtures/warnings/ambiguous_external_namespace/b.js
  crates/rolldown/tests/fixtures/warnings/ambiguous_external_namespace/c.js
  crates/rolldown/tests/fixtures/warnings/ambiguous_external_namespace/foo.js
  crates/rolldown/tests/fixtures/warnings/ambiguous_external_namespace/main.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/ambiguous_external_namespace.rs
  crates/rolldown_error/src/events/mod.rs
Labels: needs-triage

#1596 perf(sourcemap): lookup original token in parallel
  Cargo.lock
  crates/rolldown_sourcemap/Cargo.toml
  crates/rolldown_sourcemap/src/lib.rs
Labels: needs-triage

#1642 fix(node): fix type errors
  crates/rolldown_binding/src/types/binding_sourcemap.rs
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/normalized-input-options.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/utils/normalize-tree-shake.ts
  packages/rolldown/tsconfig.check.json
Labels: needs-triage

#1419 feat: support banner hook
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/types/generator.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/plugin_driver/output_hooks.rs
  crates/rolldown_plugin/src/types/hook_banner_args.rs
  crates/rolldown_plugin/src/types/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/bindingify-plugin.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/tests/fixtures/plugin/banner/_config.ts
  packages/rolldown/tests/fixtures/plugin/banner/main.js
Labels: needs-triage

#1644 refactor: separate render chunk logic for different format
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/format/app.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/mod.rs
  crates/rolldown/src/ecmascript/mod.rs
  packages/rolldown/tests/fixtures/output/format/iife/_config.ts
  packages/rolldown/tests/fixtures/output/hashFileNames/_config.ts
  packages/rolldown/tests/fixtures/plugin/augment-chunk-hash/_config.ts
Labels: needs-triage

#1651 refactor: add abstraction for rendering chunk imports targeting different format
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/utils/chunk/collect_render_chunk_imports.rs
  crates/rolldown/src/utils/chunk/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk_imports.rs
Labels: needs-triage

#1657 fix: support banner/footer sync function
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/fixtures/output/banner/async-function/_config.ts
  packages/rolldown/tests/fixtures/output/banner/async-function/main.js
  packages/rolldown/tests/fixtures/output/banner/function/_config.ts
  packages/rolldown/tests/fixtures/output/banner/function/main.js
  packages/rolldown/tests/fixtures/output/banner/main.js
  packages/rolldown/tests/fixtures/output/banner/string/_config.ts
  packages/rolldown/tests/fixtures/output/banner/string/main.js
  packages/rolldown/tests/fixtures/output/footer/async-function/_config.ts
  packages/rolldown/tests/fixtures/output/footer/async-function/main.js
  packages/rolldown/tests/fixtures/output/footer/function/_config.ts
  packages/rolldown/tests/fixtures/output/footer/function/main.js
  packages/rolldown/tests/fixtures/output/footer/main.js
  packages/rolldown/tests/fixtures/output/footer/string/_config.ts
  packages/rolldown/tests/fixtures/output/footer/string/main.js
Labels: needs-triage

#1658 refactor: remove collapse_sourcemaps optional result
  crates/bench/benches/remapping.rs
  crates/rolldown/src/stages/generate_stage/minify_assets.rs
  crates/rolldown/src/utils/render_chunks.rs
  crates/rolldown/src/utils/render_ecma_module.rs
  crates/rolldown_sourcemap/src/lib.rs
Labels: needs-triage

#1662 chore: add render chunk remapping benchmark
  crates/bench/benches/remapping.rs
Labels: needs-triage

#1666 refactor(remapping): instante token in parallel
  Cargo.lock
  crates/rolldown_sourcemap/Cargo.toml
  crates/rolldown_sourcemap/src/lib.rs
Labels: needs-triage

#1667 chore: add minify benchmark
  crates/bench/benches/bundle.rs
  crates/bench/benches/scan.rs
  crates/bench/src/lib.rs
Labels: needs-triage

#1668 fix: correct the behavior in texture or empty extension-customized file.
  crates/rolldown/tests/esbuild/loader/require_custom_extension_data_url/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/dataurl/binary/_config.json
  crates/rolldown/tests/fixtures/module_types/dataurl/binary/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/dataurl/binary/main.js
  crates/rolldown/tests/fixtures/module_types/dataurl/binary/rolldown.webp
  crates/rolldown/tests/fixtures/module_types/dataurl/empty/_config.json
  crates/rolldown/tests/fixtures/module_types/dataurl/empty/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/dataurl/empty/empty.empty
  crates/rolldown/tests/fixtures/module_types/dataurl/empty/main.js
  crates/rolldown/tests/fixtures/module_types/dataurl/text/_config.json
  crates/rolldown/tests/fixtures/module_types/dataurl/text/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/dataurl/text/main.js
  crates/rolldown/tests/fixtures/module_types/dataurl/text/text.data
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_utils/src/mime.rs
  cspell.json
Labels: needs-triage

#1669 chore: add js side minify benchmark
  packages/bench/src/suites/index.js
  packages/bench/src/types.d.ts
Labels: needs-triage

#1672 fix: the crate rolldown_ecmascript's test can't pass
  crates/rolldown_resolver/Cargo.toml
Labels: needs-triage

#1682 docs(contrib): add `Code Styling` chapter and preferences on adding tests
  web/docs/.vitepress/config.ts
  web/docs/contrib-guide/coding-style.md
Labels: needs-triage

#1685 chore: refactor sourcemap test
  Cargo.toml
  crates/rolldown_ecmascript/Cargo.toml
  crates/rolldown_sourcemap/src/concat_sourcemap.rs
  crates/rolldown_sourcemap/src/lib.rs
Labels: needs-triage

#1686 chore: 🤖 update generated binding format
  .prettierignore
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/wasi-worker-browser.mjs
  packages/rolldown/src/wasi-worker.mjs
Labels: needs-triage

#1687 ci: add FreeBSD x64 build
  .github/workflows/reusable-release-build.yml
Labels: needs-triage

#1683 fix: should include the dependencies if the module only has re-export…
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/tests/fixtures/tree_shaking/export-star/_config.json
  crates/rolldown/tests/fixtures/tree_shaking/export-star/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/export-star/export-star.js
  crates/rolldown/tests/fixtures/tree_shaking/export-star/foo.js
  crates/rolldown/tests/fixtures/tree_shaking/export-star/main.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1688 chore(rolldown): add FreeBSD npm package
  crates/rolldown_binding/Cargo.toml
  packages/rolldown/npm/freebsd-x64/README.md
  packages/rolldown/npm/freebsd-x64/package.json
  packages/rolldown/package.json
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  pnpm-lock.yaml
Labels: needs-triage

#1690 chore: remove unused wasi files
  .prettierignore
  packages/rolldown/browser.js
  packages/rolldown/rolldown-binding.wasi-browser.js
  packages/rolldown/rolldown-binding.wasi.cjs
  packages/rolldown/wasi-worker-browser.mjs
  packages/rolldown/wasi-worker.mjs
Labels: needs-triage

#1691 feat: support `output.exports` for `IIFE` format align with rollup.
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/tests/fixtures/export_mode/cjs/auto/default/artifacts.snap
  crates/rolldown/tests/fixtures/export_mode/cjs/default/artifacts.snap
  crates/rolldown/tests/fixtures/export_mode/iife/auto/none/_config.json
  crates/rolldown/tests/fixtures/export_mode/iife/auto/none/artifacts.snap
  crates/rolldown/tests/fixtures/export_mode/iife/auto/none/main.js
  crates/rolldown/tests/fixtures/export_mode/iife/default/_config.json
  crates/rolldown/tests/fixtures/export_mode/iife/default/artifacts.snap
  crates/rolldown/tests/fixtures/export_mode/iife/default/main.js
  crates/rolldown/tests/fixtures/export_mode/iife/default/mod.js
  crates/rolldown/tests/fixtures/export_mode/iife/named/_config.json
  crates/rolldown/tests/fixtures/export_mode/iife/named/artifacts.snap
  crates/rolldown/tests/fixtures/export_mode/iife/named/main.js
  crates/rolldown/tests/fixtures/export_mode/iife/named/mod.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1692 feat: add invalid export option to generate diagnostic
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/types/generator.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/tests/fixtures/errors/invalid_export_option/default/_config.json
  crates/rolldown/tests/fixtures/errors/invalid_export_option/default/artifacts.snap
  crates/rolldown/tests/fixtures/errors/invalid_export_option/default/main.js
  crates/rolldown/tests/fixtures/errors/invalid_export_option/none/_config.json
  crates/rolldown/tests/fixtures/errors/invalid_export_option/none/artifacts.snap
  crates/rolldown/tests/fixtures/errors/invalid_export_option/none/main.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/invalid_export_option.rs
  crates/rolldown_error/src/events/mod.rs
Labels: needs-triage

#1693 feat(experimental): support `enableComposingJsPlugins` option
  packages/rolldown/package.json
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/src/utils/misc.ts
  packages/rolldown/src/utils/normalize-input-options.ts
  pnpm-lock.yaml
Labels: needs-triage

#1695 chore: remove unexpected unresolved warning
  crates/rolldown/tests/esbuild/import_star/re_export_star_as_external_common_js/_config.json
  crates/rolldown/tests/esbuild/import_star/re_export_star_as_external_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/import_star/re_export_star_as_external_es6/_config.json
  crates/rolldown/tests/esbuild/import_star/re_export_star_as_external_es6/artifacts.snap
  crates/rolldown/tests/esbuild/import_star/re_export_star_external_common_js/_config.json
  crates/rolldown/tests/esbuild/import_star/re_export_star_external_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_module_to_module/artifacts.snap
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_module_to_module/src/entry.js
  crates/rolldown/tests/esbuild/packagejson/test_package_json_dual_package_hazard_import_and_require_implicit_main_force_module_before_main/artifacts.snap
  crates/rolldown/tests/esbuild/packagejson/test_package_json_dual_package_hazard_import_and_require_implicit_main_force_module_before_main/src/test-module.js
  crates/rolldown/tests/esbuild/splitting/missing_lazy_export_missing_lazy_export/a.js
  crates/rolldown/tests/esbuild/splitting/missing_lazy_export_missing_lazy_export/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1696 refactor: compose js plugin
  packages/rolldown/src/utils/compose-js-plugins.ts
Labels: needs-triage

#1665 chore: bump oxc to 0.22.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/dce/dce_of_destructuring/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_object_property/artifacts.snap
  crates/rolldown/tests/esbuild/default/common_js_from_es6/artifacts.snap
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/splitting/dynamic-commonjs-into-es6/artifacts.snap
  crates/rolldown/tests/esbuild/splitting/dynamic-es6-into-es6/artifacts.snap
  crates/rolldown/tests/esbuild/splitting/shared-commonjs-into-es6/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/decl_complex_patterns/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/default_function/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/fixtures/deconflict/wrapped_esm_export_named_function/artifacts.snap
  crates/rolldown/tests/fixtures/function/loaders/json/object/artifacts.snap
  crates/rolldown/tests/fixtures/tree_shaking/multi-declarator/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_plugin_glob_import/src/lib.rs
Labels: needs-triage

#1705 feat: add use strict for iife
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/utils/chunk/determine_use_strict.rs
  crates/rolldown/src/utils/chunk/mod.rs
  crates/rolldown/tests/fixtures/export_mode/iife/default/artifacts.snap
  crates/rolldown/tests/fixtures/export_mode/iife/named/artifacts.snap
  crates/rolldown/tests/fixtures/format/iife-with-name/artifacts.snap
  crates/rolldown/tests/fixtures/format/iife/external_modules/artifacts.snap
  crates/rolldown/tests/fixtures/format/iife/external_modules_with_globals/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  packages/rolldown/tests/fixtures/output/format/iife/exports/_config.ts
  packages/rolldown/tests/fixtures/output/format/iife/globals/_config.ts
Labels: needs-triage

#1708 chore: comment out unused import stmt
  packages/rolldown/src/utils/compose-js-plugins.ts
Labels: needs-triage

#1710 chore(rust/examples): refine `basic.rs`
  crates/rolldown/examples/basic.rs
  crates/rolldown/examples/basic/cube.js
  crates/rolldown/examples/basic/entry.js
  crates/rolldown/examples/basic/hyper-cube.js
  crates/rolldown/examples/basic/other-entry.js
  crates/rolldown/examples/basic/square.js
  crates/rolldown/examples/basic/third-entry.js
  crates/rolldown/examples/build_bench_rome_ts.rs
  crates/rolldown/examples/build_bench_threejs10x.rs
  crates/rolldown/examples/index.js
  crates/rolldown/examples/shared.js
  crates/rolldown_common/src/inner_bundler_options/types/input_item.rs
Labels: needs-triage

#1712 feat: support `output.intro` and `output.outro`.
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/format/app.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/fixtures/misc/intro/cjs/_config.json
  crates/rolldown/tests/fixtures/misc/intro/cjs/artifacts.snap
  crates/rolldown/tests/fixtures/misc/intro/cjs/main.js
  crates/rolldown/tests/fixtures/misc/intro/esm/_config.json
  crates/rolldown/tests/fixtures/misc/intro/esm/artifacts.snap
  crates/rolldown/tests/fixtures/misc/intro/esm/main.js
  crates/rolldown/tests/fixtures/misc/intro/iife/_config.json
  crates/rolldown/tests/fixtures/misc/intro/iife/artifacts.snap
  crates/rolldown/tests/fixtures/misc/intro/iife/main.js
  crates/rolldown/tests/fixtures/misc/outro/cjs/_config.json
  crates/rolldown/tests/fixtures/misc/outro/cjs/artifacts.snap
  crates/rolldown/tests/fixtures/misc/outro/cjs/main.js
  crates/rolldown/tests/fixtures/misc/outro/esm/_config.json
  crates/rolldown/tests/fixtures/misc/outro/esm/artifacts.snap
  crates/rolldown/tests/fixtures/misc/outro/esm/main.js
  crates/rolldown/tests/fixtures/misc/outro/iife/_config.json
  crates/rolldown/tests/fixtures/misc/outro/iife/artifacts.snap
  crates/rolldown/tests/fixtures/misc/outro/iife/main.js
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/fixtures/output/intro/string/_config.ts
  packages/rolldown/tests/fixtures/output/intro/string/main.js
  packages/rolldown/tests/fixtures/output/outro/string/_config.ts
  packages/rolldown/tests/fixtures/output/outro/string/main.js
Labels: needs-triage

#1716 perf: ⚡️ use base64-simd to accelerate calc base64
  Cargo.lock
  Cargo.toml
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/base64.rs
  cspell.json
Labels: needs-triage

#1724 fix: should not url encode when plain text
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/tests/esbuild/loader/require_custom_extension_data_url/artifacts.snap
  crates/rolldown/tests/fixtures/module_types/dataurl/text/artifacts.snap
  crates/rolldown/tests/snapshots/fixtures__filename_with_hash.snap
Labels: needs-triage

#1735 chore: upgrade to rust 1.80.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/ast_scanner/side_effect_detector/annotation.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/utils/hash_placeholder.rs
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/parallel_js_plugin_registry.rs
  crates/rolldown_error/src/type_aliases.rs
  crates/rolldown_testing/Cargo.toml
  crates/rolldown_testing/src/case/case.rs
  crates/rolldown_testing/src/test_config.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/debug.rs
  rust-toolchain.toml
Labels: needs-triage

#1698 perf: deprecate `mime_guess` in favor of a lighter guessing function.
  Cargo.lock
  Cargo.toml
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/light_guess.rs
  crates/rolldown_utils/src/mime.rs
  cspell.json
Labels: on-hold

#1754 chore: remove redundant visited vec
  crates/rolldown/src/stages/link_stage/tree_shaking.rs
Labels: needs-triage

#1756 refactor(rust/plugin)!: drop `async_trait::async_trait` for writting `Plugin` and rename old `Plugin` to `Pluginable`
  Cargo.lock
  crates/rolldown/Cargo.toml
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/bundler_builder.rs
  crates/rolldown/src/utils/apply_inner_plugins.rs
  crates/rolldown/src/utils/resolve_id.rs
  crates/rolldown/tests/fixtures/issues/1733/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/options/plugin/parallel_js_plugin.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/plugin_driver/mod.rs
  crates/rolldown_plugin/src/pluginable.rs
  crates/rolldown_plugin_data_url/Cargo.toml
  crates/rolldown_plugin_data_url/src/data_url_plugin.rs
  crates/rolldown_plugin_data_url/src/lib.rs
  crates/rolldown_plugin_glob_import/Cargo.toml
  crates/rolldown_plugin_glob_import/src/lib.rs
  crates/rolldown_plugin_wasm/Cargo.toml
  crates/rolldown_plugin_wasm/src/lib.rs
  crates/rolldown_testing/src/integration_test.rs
  cspell.json
Labels: needs-triage

#1763 feat: support `intro` and `outro` in plugins.
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/format/app.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/tests/fixtures/function/outro/iife/artifacts.snap
  crates/rolldown/tests/snapshots/integration_fixtures__filename_with_hash.snap
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/plugin_driver/output_hooks.rs
  crates/rolldown_plugin/src/pluginable.rs
  crates/rolldown_plugin/src/types/hook_footer_args.rs
  crates/rolldown_plugin/src/types/hook_injection_args.rs
  crates/rolldown_plugin/src/types/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/bindingify-plugin.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/tests/fixtures/plugin/intro/_config.ts
  packages/rolldown/tests/fixtures/plugin/intro/main.js
  packages/rolldown/tests/fixtures/plugin/outro/_config.ts
  packages/rolldown/tests/fixtures/plugin/outro/main.js
Labels: needs-triage

#1726 chore: bump oxc to 0.22.1
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/esbuild/default/require_without_call_inside_try/_config.json
  crates/rolldown/tests/esbuild/default/require_without_call_inside_try/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_without_call_inside_try/entry.js
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/_config.json
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/function-nested.js
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/function.js
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/let.js
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/nested.js
  crates/rolldown/tests/esbuild/default/var_relocating_bundle/top-level.js
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_avoid_missing/_config.json
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_avoid_missing/artifacts.snap
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_avoid_missing/node_modules/component-classes/index.js
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_avoid_missing/node_modules/component-classes/package.json
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_avoid_missing/node_modules/component-indexof/index.js
  crates/rolldown/tests/esbuild/packagejson/test_package_json_browser_map_avoid_missing/src/entry.js
  crates/rolldown/tests/fixtures/errors/missing_export/artifacts.snap
  crates/rolldown/tests/fixtures/function/platform/node/should_not_throw_warnings_for_import_builtin_modules/basic/artifacts.snap
  crates/rolldown/tests/fixtures/rollup/catch-block-scope/_config.json
  crates/rolldown/tests/fixtures/rollup/catch-block-scope/artifacts.snap
  crates/rolldown/tests/fixtures/rollup/catch-block-scope/main.js
  crates/rolldown/tests/fixtures/rollup/preserve-for-of-iterable/artifacts.snap
  crates/rolldown/tests/snapshots/integration_fixtures__filename_with_hash.snap
  crates/rolldown_common/src/types/ast_scopes.rs
  packages/rollup-tests/src/failed-tests.json
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#1765 feat: enable plugin api typing
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/utils/compose-js-plugins.ts
Labels: needs-triage

#1781 fix: should not compose if there is only one pending plugin
  packages/rolldown/src/utils/compose-js-plugins.ts
Labels: needs-triage

#1782 fix: generate valid file name for virtual module chunk
  crates/rolldown_utils/src/path_ext.rs
  packages/rolldown/tests/fixtures/misc/virtual/virtual-module-as-chunk/_config.ts
  packages/rolldown/tests/fixtures/misc/virtual/virtual-module-as-chunk/entry.js
  packages/rolldown/tests/fixtures/misc/virtual/virtual-module-as-chunk/main.js
Labels: needs-triage

#1783 fix: should generate `export * from ...` in entry chunks rather than entry modules
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/tests/esbuild/import_star/re_export_star_external_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/import_star/re_export_star_external_es6/artifacts.snap
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries/_config.json
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries/_test.mjs
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries/artifacts.snap
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries/main.js
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries_cjs/_config.json
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries_cjs/_test.cjs
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries_cjs/artifacts.snap
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries_cjs/main.js
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry/_config.json
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry/_test.mjs
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry/artifacts.snap
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry/main.js
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry_cjs/_config.json
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry_cjs/_test.cjs
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry_cjs/artifacts.snap
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_wrapped_entry_cjs/main.js
  crates/rolldown/tests/fixtures/tree_shaking/external-export-star1/artifacts.snap
  crates/rolldown/tests/snapshots/integration_fixtures__filename_with_hash.snap
Labels: needs-triage

#1786 fix: dedup export all external in entry module
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries/artifacts.snap
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries/main.js
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries_cjs/artifacts.snap
  crates/rolldown/tests/fixtures/semantic/export_star_from_external_as_shared_entries_cjs/main.js
  crates/rolldown/tests/snapshots/integration_fixtures__filename_with_hash.snap
Labels: needs-triage

#1792 test(rust/esm): setup tests related to live bindings topic
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding/_config.json
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding/_test.mjs
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding/artifacts.snap
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding/main.js
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding_in_common_chunks/_config.json
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding_in_common_chunks/artifacts.snap
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding_in_common_chunks/async-entry.js
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding_in_common_chunks/main.js
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_binding_in_common_chunks/shared.js
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr/_config.json
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr/_test.mjs
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr/artifacts.snap
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr/main.js
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr_in_common_chunks/_config.json
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr_in_common_chunks/artifacts.snap
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr_in_common_chunks/async-entry.js
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr_in_common_chunks/main.js
  crates/rolldown/tests/fixtures/topics/live_bindings/default_export_expr_in_common_chunks/shared.js
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports/_config.json
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports/_test.mjs
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports/artifacts.snap
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports/main.js
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports_in_common_chunks/_config.json
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports_in_common_chunks/artifacts.snap
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports_in_common_chunks/async-entry.js
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports_in_common_chunks/main.js
  crates/rolldown/tests/fixtures/topics/live_bindings/named_exports_in_common_chunks/shared.js
  crates/rolldown/tests/snapshots/integration_fixtures__filename_with_hash.snap
Labels: needs-triage

#1797 chore(rust/test): move `fixtures/deconflict` to `topics`
  crates/rolldown/tests/fixtures/topics/deconflict/.reserved_names/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/.reserved_names/a.js
  crates/rolldown/tests/fixtures/topics/deconflict/.reserved_names/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/.reserved_names/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/basic/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/basic/a.js
  crates/rolldown/tests/fixtures/topics/deconflict/basic/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/basic/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/basic_scoped/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/basic_scoped/a.js
  crates/rolldown/tests/fixtures/topics/deconflict/basic_scoped/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/basic_scoped/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/complex_params_patterns/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/complex_params_patterns/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/complex_params_patterns/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/complex_params_patterns/names.js
  crates/rolldown/tests/fixtures/topics/deconflict/conflict_between_global_and_local_binding/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/conflict_between_global_and_local_binding/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/conflict_between_global_and_local_binding/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/conflict_between_imported_and_local_binding/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/conflict_between_imported_and_local_binding/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/conflict_between_imported_and_local_binding/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/decl_complex_patterns/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/decl_complex_patterns/_test.mjs
  crates/rolldown/tests/fixtures/topics/deconflict/decl_complex_patterns/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/decl_complex_patterns/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/decl_complex_patterns/names.js
  crates/rolldown/tests/fixtures/topics/deconflict/decl_nested_assign_pattern/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/decl_nested_assign_pattern/_test.mjs
  crates/rolldown/tests/fixtures/topics/deconflict/decl_nested_assign_pattern/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/decl_nested_assign_pattern/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/decl_nested_assign_pattern/names.js
  crates/rolldown/tests/fixtures/topics/deconflict/default_function/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/default_function/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/default_function/bar.js
  crates/rolldown/tests/fixtures/topics/deconflict/default_function/foo.js
  crates/rolldown/tests/fixtures/topics/deconflict/default_function/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/issue_364/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/issue_364/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/issue_364/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/issue_364/shared.js
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_default_function/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_default_function/bar.js
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_default_function/foo.js
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_default_function/main.js
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_export_named_function/_config.json
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_export_named_function/artifacts.snap
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_export_named_function/bar.js
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_export_named_function/foo.js
  crates/rolldown/tests/fixtures/topics/deconflict/wrapped_esm_export_named_function/main.js
  crates/rolldown/tests/snapshots/integration_fixtures__filename_with_hash.snap
Labels: !merge

#1799 docs(testing): add references on function-complete tests in rust
  docs/contrib-guide/testing.md
Labels: !merge

#1800 style(node/lint): prepare codebase for no-unused-vars
  .oxlintrc.json
  examples/par-plugin/parallel-babel-plugin/impl.js
  examples/par-plugin/parallel-esbuild-plugin/impl.js
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/plugin/plugin.test.ts
  packages/rolldown/tests/src/utils.ts
  scripts/misc/gen-esbuild-test.mjs
Labels: needs-triage

#1806 refactor: binding plugin config
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_plugin_glob_import/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/_config.ts
Labels: needs-triage

#1809 chore(rust): unify initial version for each workspace dep
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_common/Cargo.toml
  crates/rolldown_error/Cargo.toml
  crates/rolldown_plugin_glob_import/Cargo.toml
  crates/rolldown_plugin_wasm/Cargo.toml
  crates/rolldown_resolver/Cargo.toml
  crates/rolldown_rstr/Cargo.toml
  crates/rolldown_testing/Cargo.toml
  crates/rolldown_testing_config/Cargo.toml
  crates/rolldown_tracing/Cargo.toml
  crates/rolldown_utils/Cargo.toml
Labels: needs-triage, !merge

#1808 chore: export factory for builtin plugin
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/index.ts
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/eager/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/wasm/_config.ts
Labels: needs-triage, !merge

#1804 chore(rust/deconflict): improve comments
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
Labels: !merge

#1813 chore(rust/scanner): improve naming
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
Labels: needs-triage
