Repository rolldown/rolldown, pull requests merged in 2024-11, with the labels that each got.

#2540 chore(node/hook-filter): move `BaseHookFilter` to `hook-filter.ts`
  packages/rolldown/src/constants/types.ts
  packages/rolldown/src/plugin/hook-filter.ts
  packages/rolldown/src/plugin/index.ts
Labels: needs-triage

#2543 fix: update the rollup external test status
  crates/rolldown_plugin/src/utils/resolve_id_with_plugins.rs
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
  packages/rollup-tests/test/.gitignore
  packages/rollup-tests/test/node_modules/external-esm/index.js
  packages/rollup-tests/test/node_modules/external-esm/package.json
  packages/rollup-tests/test/node_modules/external.js
Labels: needs-triage

#2544 chore(node/hook-filter): improve jsdoc of id filter
  packages/rolldown/src/plugin/hook-filter.ts
Labels: needs-triage

#2546 refactor: allow pass init import_record_meta
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown_common/src/types/import_record.rs
Labels: needs-triage

#2545 fix: resolve id return false should mark module as external
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/intercept/check.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#2549 chore: cleanup rollup dynamic import related test
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#2553 refactor(rolldown_utils): `IndexVecExt` utils
  Cargo.lock
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/index_vec_ext.rs
  crates/rolldown_utils/src/lib.rs
Labels: needs-triage

#2539 feat: first-class asset support
  crates/rolldown/src/asset/asset_generator.rs
  crates/rolldown/src/asset/mod.rs
  crates/rolldown/src/css/css_generator.rs
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/lib.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/utils/augment_chunk_hash.rs
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown/src/utils/load_source.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/src/utils/render_chunks.rs
  crates/rolldown/tests/rolldown/function/module_types/asset/_config.json
  crates/rolldown/tests/rolldown/function/module_types/asset/artifacts.snap
  crates/rolldown/tests/rolldown/function/module_types/asset/foo.txt
  crates/rolldown/tests/rolldown/function/module_types/asset/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/asset/asset_view.rs
  crates/rolldown_common/src/asset/mod.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/module_type.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_common/src/types/instantiated_chunk.rs
  crates/rolldown_testing/_config.schema.json
Labels: needs-triage

#2563 refactor(rust): add `generate_preliminary_filename` and `generate_css_preliminary_filename`
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown_common/src/chunk/mod.rs
Labels: needs-triage

#2570 feat: check resolved failed module is external with isResolved ture
  crates/rolldown_plugin/src/utils/resolve_id_with_plugins.rs
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#2571 chore: improve error message of `validate_options_for_multi_chunk_output`
  crates/rolldown/src/utils/chunk/validate_options_for_multi_chunk_output.rs
Labels: needs-triage

#2574 chore(rolldown): oxc v0.35.0
  Cargo.lock
  Cargo.toml
  crates/bench/benches/remapping.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/esbuild/dce/const_value_inlining_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/dce/const_value_inlining_no_bundle/diff.md
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/artifacts.snap
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/diff.md
  crates/rolldown/tests/esbuild/default/legal_comments_many_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_many_linked/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_print_non_finite_number_inside_with/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_print_non_finite_number_inside_with/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_build_import_analysis/src/utils.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_transform/src/lib.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#2581 ci: update `pnpm/action-setup` to `@v4`
  .github/workflows/metric.yml
Labels: needs-triage

#2572 feat(rust): move `string_wizard` to the repo
  Cargo.lock
  Cargo.toml
  crates/string_wizard/Cargo.toml
  crates/string_wizard/src/chunk.rs
  crates/string_wizard/src/joiner.rs
  crates/string_wizard/src/lib.rs
  crates/string_wizard/src/magic_string/append.rs
  crates/string_wizard/src/magic_string/indent.rs
  crates/string_wizard/src/magic_string/mod.rs
  crates/string_wizard/src/magic_string/movement.rs
  crates/string_wizard/src/magic_string/prepend.rs
  crates/string_wizard/src/magic_string/source_map.rs
  crates/string_wizard/src/magic_string/update.rs
  crates/string_wizard/src/source_map/locator.rs
  crates/string_wizard/src/source_map/mod.rs
  crates/string_wizard/src/source_map/sourcemap_builder.rs
  crates/string_wizard/src/span.rs
  crates/string_wizard/src/type_aliases.rs
  crates/string_wizard/tests/joiner.rs
  crates/string_wizard/tests/magic_string.rs
  crates/string_wizard/tests/magic_string_source_map.rs
  cspell.json
Labels: on hold: to be discussed, needs-triage

#2583 chore: disable bump `npm-rolldown`
  .github/renovate.json
Labels: needs-triage

#2550 feat(cli): call watcher close at process exit
  packages/rolldown/package.json
  packages/rolldown/src/cli/commands/bundle.ts
  pnpm-lock.yaml
Labels: needs-triage

#2585 fix: should reference importee namespace_object_ref for export all decl
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/tests/rolldown/function/external/double-namespace-reexport/_config.json
  crates/rolldown/tests/rolldown/function/external/double-namespace-reexport/artifacts.snap
  crates/rolldown/tests/rolldown/function/external/double-namespace-reexport/first.js
  crates/rolldown/tests/rolldown/function/external/double-namespace-reexport/main.js
  crates/rolldown/tests/rolldown/function/external/double-namespace-reexport/second.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#2586 chore: use `asset` loader load file
  crates/rolldown/tests/esbuild/loader/loader_file_common_js_and_es6/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_common_js_and_es6/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_common_js_and_es6/bypass.md
  crates/rolldown/tests/esbuild/loader/loader_file_common_js_and_es6/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_ext_path_asset_names_js/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_ext_path_asset_names_js/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_ext_path_asset_names_js/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_ext_path_asset_names_js/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_multiple_no_collision/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_multiple_no_collision/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_multiple_no_collision/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_multiple_no_collision/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_js/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_js/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_js/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_js/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_js/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_js/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_js/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_js/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_js/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_js/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_js/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_js/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_js/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_js/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_js/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_js/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_js/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_testing/_config.schema.json
  crates/rolldown_testing/src/integration_test.rs
  crates/rolldown_testing_config/src/lib.rs
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/loader.md
Labels: needs-triage

#2483 fix: hashbang code generation
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/ecmascript/format/app.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/tests/esbuild/default/hashbang_banner_use_strict_order/_config.json
  crates/rolldown/tests/esbuild/default/hashbang_banner_use_strict_order/artifacts.snap
  crates/rolldown/tests/esbuild/default/hashbang_banner_use_strict_order/bypass.md
  crates/rolldown/tests/esbuild/default/hashbang_banner_use_strict_order/entry.js
  crates/rolldown/tests/esbuild/default/hashbang_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/hashbang_bundle/diff.md
  crates/rolldown/tests/esbuild/default/hashbang_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/hashbang_no_bundle/bypass.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/ecma_view.rs
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#2582 chore(rolldown): oxc v0.35.0
  Cargo.lock
  Cargo.toml
  crates/bench/benches/remapping.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/types/generator.rs
  crates/rolldown/src/utils/render_ecma_module.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/esbuild/dce/const_value_inlining_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/dce/const_value_inlining_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/artifacts.snap
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/diff.md
  crates/rolldown/tests/esbuild/default/legal_comments_many_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_many_linked/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_print_non_finite_number_inside_with/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_print_non_finite_number_inside_with/diff.md
  crates/rolldown/tests/rolldown/topics/npm_packages/util_deprecate/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript/src/ast_snippet.rs
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_build_import_analysis/src/utils.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_transform/src/lib.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#2592 chore(string_wizard): make `MagicString#filename` private
  crates/string_wizard/src/magic_string/mod.rs
  crates/string_wizard/tests/magic_string.rs
Labels: needs-triage

#2588 chore(rust): rename `ecma_script.rs` to `ecmascript.rs`
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/ecmascript/format/utils/namespace.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown_loader_utils/src/json_to_esm.rs
  crates/rolldown_utils/src/ecmascript.rs
  crates/rolldown_utils/src/lib.rs
Labels: needs-triage

#2601 chore: support rollup test runner import files
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
  packages/rollup-tests/test/function/index.js
Labels: needs-triage

#2602 fix(plugin): ensure correct execution order
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  packages/rolldown/src/log/logger.ts
  packages/rolldown/src/plugin/plugin-driver.ts
  packages/rolldown/tests/fixtures/plugin/plugin-order/_config.ts
  packages/rolldown/tests/fixtures/plugin/plugin-order/dynamic.js
  packages/rolldown/tests/fixtures/plugin/plugin-order/main.js
  packages/rolldown/tests/src/types.ts
  packages/rollup-tests/src/ignored-tests.js
Labels: needs-triage

#2605 chore: clearify more reason about esbuild test case
  crates/rolldown/tests/esbuild/dce/dead_code_following_jump/bypass.md
  crates/rolldown/tests/esbuild/default/no_warn_common_js_exports_in_esm_pass_through/artifacts.snap
  crates/rolldown/tests/esbuild/default/no_warn_common_js_exports_in_esm_pass_through/bypass.md
  crates/rolldown/tests/esbuild/default/node_annotation_false_positive_issue3544/bypass.md
  crates/rolldown/tests/esbuild/default/package_alias/diff.md
  crates/rolldown/tests/esbuild/default/quoted_property_mangle/_config.json
  crates/rolldown/tests/esbuild/default/quoted_property_mangle/artifacts.snap
  crates/rolldown/tests/esbuild/default/quoted_property_mangle/bypass.md
  crates/rolldown/tests/esbuild/default/this_outside_function/diff.md
  crates/rolldown/tests/esbuild/default/top_level_await_allowed_import_without_splitting/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/dce.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#2610 fix: mark some known global constructor as side effects free
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
Labels: needs-triage

#2612 release: v0.14.0
  CHANGELOG.md
  packages/rolldown/npm/darwin-arm64/package.json
  packages/rolldown/npm/darwin-x64/package.json
  packages/rolldown/npm/freebsd-x64/package.json
  packages/rolldown/npm/linux-arm-gnueabihf/package.json
  packages/rolldown/npm/linux-arm64-gnu/package.json
  packages/rolldown/npm/linux-arm64-musl/package.json
  packages/rolldown/npm/linux-x64-gnu/package.json
  packages/rolldown/npm/linux-x64-musl/package.json
  packages/rolldown/npm/wasm32-wasi/package.json
  packages/rolldown/npm/win32-arm64-msvc/package.json
  packages/rolldown/npm/win32-ia32-msvc/package.json
  packages/rolldown/npm/win32-x64-msvc/package.json
  packages/rolldown/package.json
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#2619 fix(advancedChunks): should not process treeshaked modules
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/tests/rolldown/function/advanced_chunks/issue_2617/_config.json
  crates/rolldown/tests/rolldown/function/advanced_chunks/issue_2617/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/issue_2617/lib.js
  crates/rolldown/tests/rolldown/function/advanced_chunks/issue_2617/main.js
  crates/rolldown/tests/rolldown/function/advanced_chunks/issue_2617/shaked.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  cspell.json
Labels: needs-triage

#2613 chore: update diff reason related to css
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css/bypass.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css/diff.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false/diff.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false_only_js/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false_only_js/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false_only_js/diff.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false/diff.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false_only_js/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false_only_js/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false_only_js/diff.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false/diff.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false_only_js/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false_only_js/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false_only_js/diff.md
  crates/rolldown/tests/esbuild/default/legal_comments_avoid_slash_tag_end_of_file/diff.config.js
  crates/rolldown/tests/esbuild/default/legal_comments_avoid_slash_tag_end_of_file/diff.md
  crates/rolldown/tests/esbuild/loader/loader_copy_with_bundle_from_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_copy_with_bundle_from_css/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_copy_with_bundle_from_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_data_url_text_css/bypass.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/dce.md
  scripts/snap-diff/summary/loader.md
Labels: needs-triage

#2621 fix: make sure the sort compare function satisfy `total order`
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/tests/fixtures/input/array/_config.ts
  packages/rolldown/tests/fixtures/input/object/_config.ts
  packages/rolldown/tests/fixtures/misc/virtual/virtual-module-as-chunk/_config.ts
Labels: needs-triage

#2611 feat: use `satisfies` keyword for `InputOptions` and `OutputOptions`
  packages/rolldown/src/cli/arguments/normalize.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/log/logger.ts
  packages/rolldown/src/log/logging.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/options/normalized-input-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/options/watch-option.ts
  packages/rolldown/src/rolldown-build.ts
  packages/rolldown/src/rolldown.ts
  packages/rolldown/src/types/input-options.ts
  packages/rolldown/src/types/output-options.ts
  packages/rolldown/src/types/rolldown-options.ts
  packages/rolldown/src/types/utils.ts
  packages/rolldown/src/utils/create-bundler.ts
  packages/rolldown/src/utils/normalize-input-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/src/utils/normalize-plugin-option.ts
  packages/rolldown/src/utils/normalize-tree-shake.ts
Labels: needs-triage

#2630 refactor(node/types): remove unnecessary `OverwriteInputOptionsWithDoc`
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/types/input-options.ts
Labels: needs-triage

#2608 fix: soucemap file should be a path basename
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#2626 refactor(rolldown_sourcemap): tweak `line_count` related code
  crates/bench/benches/remapping.rs
  crates/rolldown/src/utils/render_ecma_module.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_sourcemap/src/source.rs
Labels: needs-triage

#2629 fix: emit error when `output.format` did not support `topLevelAwait`
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/tests/esbuild/default/top_level_await_cjs/_config.json
  crates/rolldown/tests/esbuild/default/top_level_await_cjs/artifacts.snap
  crates/rolldown/tests/esbuild/default/top_level_await_cjs_dead_branch/_config.json
  crates/rolldown/tests/esbuild/default/top_level_await_cjs_dead_branch/artifacts.snap
  crates/rolldown/tests/esbuild/default/top_level_await_cjs_dead_branch/bypass.md
  crates/rolldown/tests/esbuild/default/top_level_await_iife/_config.json
  crates/rolldown/tests/esbuild/default/top_level_await_iife/artifacts.snap
  crates/rolldown/tests/esbuild/default/top_level_await_iife_dead_branch/_config.json
  crates/rolldown/tests/esbuild/default/top_level_await_iife_dead_branch/artifacts.snap
  crates/rolldown/tests/esbuild/default/top_level_await_iife_dead_branch/bypass.md
  crates/rolldown/tests/esbuild/default/top_level_await_no_bundle_common_js_dead_branch/_config.json
  crates/rolldown/tests/esbuild/default/top_level_await_no_bundle_common_js_dead_branch/artifacts.snap
  crates/rolldown/tests/esbuild/default/top_level_await_no_bundle_common_js_dead_branch/bypass.md
  crates/rolldown/tests/esbuild/default/top_level_await_no_bundle_iife_dead_branch/_config.json
  crates/rolldown/tests/esbuild/default/top_level_await_no_bundle_iife_dead_branch/artifacts.snap
  crates/rolldown/tests/esbuild/default/top_level_await_no_bundle_iife_dead_branch/bypass.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/inner_bundler_options/types/output_format.rs
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/mod.rs
  crates/rolldown_error/src/events/unsupported_feature.rs
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#2632 feat(cli): support abbr `-o` for `file` option.
  packages/rolldown/src/cli/arguments/alias.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#2631 fix: defer determine WrapKind of `EcmaView` of css module
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/types/module_factory.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false/bypass.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false_only_js/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false_only_js/bypass.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false/bypass.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false_only_js/artifacts.snap
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false_only_js/bypass.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/dce.md
Labels: needs-triage

#2625 refactor: PluginContext#getModuleInfo
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/watcher/watcher.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_context.rs
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin/src/plugin_driver/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/plugin-context-data.ts
  packages/rolldown/tests/fixtures/plugin/context/get-module-info/_config.ts
  packages/rolldown/tests/fixtures/plugin/context/get-module-info/dynamic.js
  packages/rolldown/tests/fixtures/plugin/context/get-module-info/main.js
  packages/rolldown/tests/fixtures/plugin/context/get-module-info/static.js
Labels: needs-triage

#2636 fix: use timer instead of watcher worker
  packages/rolldown/package.json
  packages/rolldown/rolldown.config.mjs
  packages/rolldown/src/watcher-worker.js
  packages/rolldown/src/watcher.ts
Labels: needs-triage

#2638 chore: correct usage of `prettier` in package scripts
  package.json
Labels: needs-triage

#2640 chore: improve watch test
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2637 feat: drop labels
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/esbuild/dce/drop_label_tree_shaking_bug_issue3311/_config.json
  crates/rolldown/tests/esbuild/dce/drop_label_tree_shaking_bug_issue3311/artifacts.snap
  crates/rolldown/tests/esbuild/dce/drop_label_tree_shaking_bug_issue3311/bypass.md
  crates/rolldown/tests/esbuild/dce/drop_labels/_config.json
  crates/rolldown/tests/esbuild/dce/drop_labels/artifacts.snap
  crates/rolldown/tests/esbuild/dce/drop_labels/bypass.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_testing/_config.schema.json
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/dce.md
Labels: needs-triage

#2623 feat: expose `cssEntryFileNames` and `cssChunkFileNames` options in js side
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/types/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/fixtures/output/fileNames/function/_config.ts
  packages/rolldown/tests/fixtures/output/fileNames/function/main.css
  packages/rolldown/tests/fixtures/output/fileNames/function/main.js
  packages/rolldown/tests/fixtures/output/fileNames/function/test.css
  packages/rolldown/tests/fixtures/output/fileNames/function/test.js
  packages/rolldown/tests/fixtures/output/fileNames/hash/_config.ts
  packages/rolldown/tests/fixtures/output/fileNames/hash/main.css
  packages/rolldown/tests/fixtures/output/fileNames/hash/main.js
  packages/rolldown/tests/fixtures/output/fileNames/hash/test.css
  packages/rolldown/tests/fixtures/output/fileNames/hash/test.js
  packages/rolldown/tests/fixtures/output/fileNames/string/_config.ts
  packages/rolldown/tests/fixtures/output/fileNames/string/main.css
  packages/rolldown/tests/fixtures/output/fileNames/string/main.js
  packages/rolldown/tests/fixtures/output/fileNames/string/test.css
  packages/rolldown/tests/fixtures/output/fileNames/string/test.js
Labels: needs-triage

#2098 feat(plugin/replace): sourcemap
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_replace/src/plugin.rs
  crates/rolldown_plugin_replace/tests/form/assignment/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/assignment/mod.rs
  crates/rolldown_plugin_replace/tests/form/delimiters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/delimiters/mod.rs
  crates/rolldown_plugin_replace/tests/form/match_variables/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/match_variables/mod.rs
  crates/rolldown_plugin_replace/tests/form/process_check/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/process_check/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_characters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/special_characters/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_delimiters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/special_delimiters/mod.rs
  crates/rolldown_plugin_replace/tests/form/ternary_operator/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/ternary_operator/mod.rs
  crates/rolldown_plugin_replace/tests/form/typescript_declare/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/typescript_declare/mod.rs
  packages/rolldown/src/binding.d.ts
Labels: on hold

#2645 chore(repo/lint): prefer relative paths while using lint-staged
  .husky/pre-commit
  .oxlintignore
Labels: needs-triage

#2648 chore: update esbuild test status
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_css/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_css/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_css/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_css/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_css/diff.md
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_css/_config.json
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_css/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_css/diff.md
  scripts/snap-diff/stats/aggregated-reason.md
Labels: needs-triage

#2650 chore: support regex pattern in esbuild diff tool resolve
  crates/rolldown/tests/esbuild/loader/loader_file_common_js_and_es6/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_ext_path_asset_names_js/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_multiple_no_collision/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_one_source_two_different_output_paths_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_asset_names_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_public_path_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_asset_names_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_css/diff.config.js
  crates/rolldown/tests/esbuild/loader/loader_file_relative_path_js/diff.config.js
  scripts/snap-diff/diff.ts
Labels: needs-triage

#2653 fix: diagnostic with wrong span wrong span when content has none ascii char
  crates/rolldown/tests/rolldown/warnings/none-ascii-content/_config.json
  crates/rolldown/tests/rolldown/warnings/none-ascii-content/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/none-ascii-content/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_error/src/diagnostic.rs
Labels: needs-triage

#2656 chore(rust/test): allow `crates/rolldown/tests/rolldown/warnings/commonjs_variable_in_esm` to put more tests in
  crates/rolldown/tests/rolldown/warnings/commonjs_variable_in_esm/1/_config.json
  crates/rolldown/tests/rolldown/warnings/commonjs_variable_in_esm/1/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/commonjs_variable_in_esm/1/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2662 chore: update esbuild inject tests related stats
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/tests/esbuild/default/inject/_config.json
  crates/rolldown/tests/esbuild/default/inject/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject/diff.md
  crates/rolldown/tests/esbuild/default/inject_assign/_config.json
  crates/rolldown/tests/esbuild/default/inject_assign/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_duplicate/bypass.md
  crates/rolldown/tests/esbuild/default/inject_import_meta/_config.json
  crates/rolldown/tests/esbuild/default/inject_import_meta/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_import_order/bypass.md
  crates/rolldown/tests/esbuild/default/inject_import_ts/bypass.md
  crates/rolldown/tests/esbuild/default/inject_jsx/_config.json
  crates/rolldown/tests/esbuild/default/inject_jsx/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_jsx/diff.md
  crates/rolldown/tests/esbuild/default/inject_jsx_dot_names/_config.json
  crates/rolldown/tests/esbuild/default/inject_jsx_dot_names/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_jsx_dot_names/diff.md
  crates/rolldown/tests/esbuild/default/inject_no_bundle/_config.json
  crates/rolldown/tests/esbuild/default/inject_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_no_bundle/diff.md
  crates/rolldown/tests/esbuild/default/inject_with_define/_config.json
  crates/rolldown/tests/esbuild/default/inject_with_define/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_with_define/diff.md
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_bundle/_config.json
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_bundle/diff.md
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_no_bundle/_config.json
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_no_bundle/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#2664 fix(rust): ensure filenames are valid for file systems
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/utils/extract_meaningful_input_name_from_path.rs
  packages/rolldown/tests/fixtures/topics/virtual-module/virtual-entry/_config.ts
  packages/rolldown/tests/fixtures/topics/virtual-module/virtual-entry/main.js
Labels: needs-triage

#2668 chore: add `cspell` to `lint-staged`
  package.json
Labels: needs-triage

#2667 fix: remove '\0' hack
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_module_preload_polyfill/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/basic/main.js.snap
Labels: needs-triage

#2666 chore(cli): complete descriptions for the cli options
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#2672 chore: add target for esbuild lowering testing
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/target.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_testing/_config.schema.json
Labels: needs-triage

#2661 chore: enable rollup form test
  packages/rollup-tests/package.json
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/ignored-treeshaking-tests.json
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
  packages/rollup-tests/test/form/found-tree-shaking-not-align.js
  packages/rollup-tests/test/form/index.js
  packages/rollup-tests/test/test.js
  packages/rollup-tests/test/utils.js
  pnpm-lock.yaml
Labels: needs-triage

#2670 fix: check falsy plugin in options hook
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/plugin-driver.ts
  packages/rolldown/tests/fixtures/plugin/falsy/_config.ts
  packages/rolldown/tests/fixtures/plugin/falsy/main.js
Labels: needs-triage

#2675 fix: deconflict `__require`
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/tests/rolldown/misc/require_deconflict/_config.json
  crates/rolldown/tests/rolldown/misc/require_deconflict/artifacts.snap
  crates/rolldown/tests/rolldown/misc/require_deconflict/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2674 chore: skip pure transformation test case
  crates/rolldown/tests/esbuild/lower/class_super_this_issue242_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async2016_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async2017_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_super_es2016_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_super_es2017_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_class_field2020_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_class_field_next_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_export_star_as_name_collision_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_object_spread_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_optional_catch_name_collision_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_class_expr2020_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_field_assignments2015_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_field_assignments2019_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_field_assignments2020_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_field_assignments_next_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_field_optional_chain2019_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_field_optional_chain2020_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_private_field_optional_chain_next_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_static_async_super_es2016_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_static_async_super_es2021_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_static_super_es2016_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_static_super_es2021_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/ts_lower_class_field2020_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/ts_lower_class_private_field_next_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/ts_lower_object_rest2017_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/ts_lower_object_rest2018_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/ts_lower_private_field_optional_chain2015_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/lower/ts_lower_private_static_members2015_no_bundle/bypass.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/lower.md
Labels: needs-triage

#2673 fix: fix deconflict in nested scope
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown/tests/rolldown/issues/2669/_config.json
  crates/rolldown/tests/rolldown/issues/2669/artifacts.snap
  crates/rolldown/tests/rolldown/issues/2669/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2671 chore(rolldown): oxc 0.36.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/tests/esbuild/ts/ts_export_equals/_config.json
  crates/rolldown/tests/esbuild/ts/ts_export_equals/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_export_equals/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
  crates/rolldown_plugin_build_import_analysis/src/utils.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_transform/src/lib.rs
Labels: needs-triage

#2682 chore: remove redundant types and reorganize files
  packages/rolldown/src/constants/types.ts
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/options/normalized-ecma-transform-plugin-config.ts
  packages/rolldown/src/plugin/hook-filter.ts
  packages/rolldown/src/rolldown-build.ts
  packages/rolldown/src/types/assert.ts
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/src/utils/normalize-string-or-regex.ts
Labels: needs-triage

#2688 feat: allow runtime to load non JS configs
  packages/rolldown/package.json
  packages/rolldown/src/cli/utils.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/ext-ts/index.ts
  pnpm-lock.yaml
Labels: needs-triage

#2689 feat: add `defineConfig` overload
  packages/rolldown/src/utils/define-config.ts
Labels: needs-triage

#2692 fix(ci): ignore cargo deny advisories some rules
  deny.toml
Labels: needs-triage

#2693 refactor(dep): replace `derivative` with `derive_more`
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/types/binding_advanced_chunks_options.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_asset_source.rs
  crates/rolldown_binding/src/options/plugin/types/binding_emitted_asset.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_load_output.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_render_chunk_output.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_resolve_id_extra_args.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_resolve_id_output.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_side_effects.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_transform_output.rs
  crates/rolldown_binding/src/options/plugin/types/binding_plugin_context_resolve_options.rs
  crates/rolldown_binding/src/options/plugin/types/binding_plugin_transform_extra_args.rs
  crates/rolldown_binding/src/types/binding_pre_rendered_chunk.rs
  crates/rolldown_binding/src/types/binding_rendered_chunk.rs
  crates/rolldown_binding/src/types/binding_sourcemap.rs
Labels: needs-triage

#2694 feat: polyfill `import.meta.url` when `platform: 'node'` and `format: 'cjs'`
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/tests/rolldown/topics/import_meta_url_polyfill/node_cjs/_config.json
  crates/rolldown/tests/rolldown/topics/import_meta_url_polyfill/node_cjs/artifacts.snap
  crates/rolldown/tests/rolldown/topics/import_meta_url_polyfill/node_cjs/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/ext/mod.rs
Labels: needs-triage

#2700 fix(watcher): only watch same file once
  crates/rolldown/src/watcher/watcher.rs
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2702 feat(watcher): handle watcher error
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/watcher/watcher.rs
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_common/src/types/watch.rs
  cspell.json
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/watcher.ts
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2701 feat: emit error diagnostic when assign to import
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/import_assign_analyzer.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/esbuild/default/assign_to_import/_config.json
  crates/rolldown/tests/esbuild/default/assign_to_import/artifacts.snap
  crates/rolldown/tests/rolldown/errors/assign_to_import/_config.json
  crates/rolldown/tests/rolldown/errors/assign_to_import/artifacts.snap
  crates/rolldown/tests/rolldown/errors/assign_to_import/foo.js
  crates/rolldown/tests/rolldown/errors/assign_to_import/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/types/module_id.rs
  crates/rolldown_error/Cargo.toml
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/assign_to_import.rs
  crates/rolldown_error/src/events/mod.rs
Labels: needs-triage

#2687 feat: support PluginContext.load
  Cargo.lock
  crates/rolldown/src/lib.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_loader/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/module_loader/task_context.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_context.rs
  crates/rolldown_binding/src/utils/napi_error.rs
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module_loader/mod.rs
  crates/rolldown_common/src/module_loader/runtime_module_brief.rs
  crates/rolldown_common/src/module_loader/runtime_task_result.rs
  crates/rolldown_common/src/module_loader/task_result.rs
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin/src/plugin_driver/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/plugin/context/load/_config.ts
  packages/rolldown/tests/fixtures/plugin/context/load/foo.js
  packages/rolldown/tests/fixtures/plugin/context/load/main.js
Labels: needs-triage

#2706 fix: check *assign to import* for namespace specifier
  crates/rolldown/src/ast_scanner/import_assign_analyzer.rs
  crates/rolldown/tests/esbuild/default/assign_to_import/artifacts.snap
  crates/rolldown/tests/rolldown/errors/assign_to_import/artifacts.snap
  crates/rolldown/tests/rolldown/errors/assign_to_import/main.js
Labels: needs-triage

#2709 fix: cli doesn't show config loading error details
  packages/rolldown/src/cli/index.ts
Labels: needs-triage

#2714 feat: create module info before run load hook
  crates/rolldown/src/module_loader/module_task.rs
  packages/rolldown/tests/fixtures/plugin/context/get-module-info/_config.ts
Labels: needs-triage

#2715 fix: `forbid-const-assign` should considering all write scenario
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/esbuild/dce/const_value_inlining_assign/_config.json
  crates/rolldown/tests/esbuild/dce/const_value_inlining_assign/artifacts.snap
  crates/rolldown/tests/esbuild/default/forbid_const_assign_when_bundling/_config.json
  crates/rolldown/tests/esbuild/default/forbid_const_assign_when_bundling/artifacts.snap
  crates/rolldown/tests/esbuild/default/forbid_const_assign_when_lowering_using/_config.json
  crates/rolldown/tests/esbuild/default/forbid_const_assign_when_lowering_using/artifacts.snap
  crates/rolldown/tests/rolldown/errors/forbid_const_assign/_config.json
  crates/rolldown/tests/rolldown/errors/forbid_const_assign/artifacts.snap
  crates/rolldown/tests/rolldown/errors/forbid_const_assign/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2713 feat: give a specific error if PluginContext.load is unexpected usage
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin/src/plugin_driver/mod.rs
  packages/rolldown/tests/fixtures/plugin/context/load/_config.ts
Labels: needs-triage

#2711 fix: preserve js plugin hook error stacktrace
  crates/rolldown_binding/src/utils/mod.rs
  packages/rolldown/tests/fixtures/misc/plugin-error/_config.ts
  packages/rolldown/tests/fixtures/misc/plugin-error/main.js
Labels: needs-triage

#2716 chore: cleanup rollup PluginContext.load test
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#2710 feat: `new URL(..., import.meta.url)` support
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ast_scanner/new_url.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/src/css/mod.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/utils/ecma_visitors/mod.rs
  crates/rolldown/src/utils/load_source.rs
  crates/rolldown/tests/rolldown/topics/new_url/.gitignore
  crates/rolldown/tests/rolldown/topics/new_url/_config.json
  crates/rolldown/tests/rolldown/topics/new_url/artifacts.snap
  crates/rolldown/tests/rolldown/topics/new_url/main.js
  crates/rolldown/tests/rolldown/topics/new_url/node_modules/foo/index.txt
  crates/rolldown/tests/rolldown/topics/new_url/node_modules/foo/package.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/ecma_view.rs
  crates/rolldown_common/src/types/import_kind.rs
  crates/rolldown_common/src/types/import_record.rs
  crates/rolldown_ecmascript_utils/src/ext/mod.rs
  crates/rolldown_ecmascript_utils/src/ext/span_ext.rs
  crates/rolldown_resolver/src/resolver.rs
Labels: needs-triage

#2717 fix(umd): check name option if chunk has exports
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/tests/rolldown/function/export_mode/umd/auto/none/_config.json
  packages/rollup-tests/src/ignored-tests.js
Labels: needs-triage

#2719 fix: preserve external module side effects at format umd/iife
  crates/rolldown/src/ecmascript/format/utils/mod.rs
  crates/rolldown/tests/esbuild/importstar/re_export_star_external_iife/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_external_iife/diff.md
  crates/rolldown/tests/esbuild/importstar/re_export_star_iife_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_iife_no_bundle/diff.md
  crates/rolldown/tests/rolldown/function/format/iife/external_modules/_config.json
  crates/rolldown/tests/rolldown/function/format/iife/external_modules/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/external_modules/main.js
  crates/rolldown/tests/rolldown/function/format/umd/external_modules/_config.json
  crates/rolldown/tests/rolldown/function/format/umd/external_modules/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/umd/external_modules/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rollup-tests/src/ignored-tests.js
Labels: needs-triage

#2720 feat: dynamic import treeshaking
  crates/rolldown/src/ast_scanner/dynamic_import.rs
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/types/linking_metadata.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/tests/rolldown/issues/2038/a/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-bailout/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-bailout/a.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-bailout/a2.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-bailout/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-bailout/lib.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-bailout/main.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-then/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-then/a.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-then/a2.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-then/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-then/lib.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-then/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/dynamic_import_usage.rs
  crates/rolldown_common/src/ecmascript/mod.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module_loader/task_result.rs
  crates/rolldown_common/src/types/entry_point.rs
  packages/rolldown/tests/fixtures/tree-shake/inline-dynamic-imports/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/inline-dynamic-imports/lib.js
  packages/rolldown/tests/fixtures/tree-shake/inline-dynamic-imports/main.js
  packages/rolldown/tests/fixtures/tree-shake/inline-dynamic-imports/module.js
Labels: needs-triage

#2722 feat: dynamic import treeshake `import()` destructing binding pattern
  crates/rolldown/src/ast_scanner/dynamic_import.rs
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-bailout/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-then/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_bailout/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_bailout/a.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_bailout/a2.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_bailout/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_bailout/lib.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_bailout/main.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then/a.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then/a2.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then/lib.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then/main.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur/lib.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur/main.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur_unused/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur_unused/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur_unused/lib.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_then_destructur_unused/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2731 refactor: use `NODEJS_BUILTINS` from oxc-resolver
  Cargo.lock
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/ecmascript/node_builtin_modules.rs
Labels: needs-triage

#2729 fix: prefix-only module is a builtin module
  crates/rolldown_common/src/ecmascript/node_builtin_modules.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_plugin/src/utils/resolve_id_with_plugins.rs
Labels: needs-triage

#2658 feat: implement vite resolve plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_limited_boolean.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  crates/rolldown_plugin_vite_resolve/Cargo.toml
  crates/rolldown_plugin_vite_resolve/src/external.rs
  crates/rolldown_plugin_vite_resolve/src/lib.rs
  crates/rolldown_plugin_vite_resolve/src/package_json_cache.rs
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  crates/rolldown_plugin_vite_resolve/src/utils.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#2733 feat(rust/string_wizard): support `replace` method
  Cargo.lock
  crates/string_wizard/Cargo.toml
  crates/string_wizard/src/lib.rs
  crates/string_wizard/src/magic_string/mod.rs
  crates/string_wizard/src/magic_string/replace.rs
  crates/string_wizard/tests/magic_string_replace.rs
  crates/string_wizard/tests/snapshots/magic_string_replace__sourcemap.snap
Labels: needs-triage

#2732 feat: expose closed property and support using for RolldownBuild
  crates/rolldown/src/bundler.rs
  crates/rolldown_binding/src/bundler.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/rolldown-build.ts
  packages/rolldown/tests/build-api/build-api.test.ts
  packages/rolldown/tsconfig.check.json
Labels: needs-triage

#2740 refactor: reduce max hash size
  crates/rolldown_utils/src/hash_placeholder.rs
Labels: needs-triage

#2746 chore(test): allow `new_url` to put more tests in
  crates/rolldown/tests/rolldown/topics/new_url/should_prefer_relative/.gitignore
  crates/rolldown/tests/rolldown/topics/new_url/should_prefer_relative/_config.json
  crates/rolldown/tests/rolldown/topics/new_url/should_prefer_relative/artifacts.snap
  crates/rolldown/tests/rolldown/topics/new_url/should_prefer_relative/main.js
  crates/rolldown/tests/rolldown/topics/new_url/should_prefer_relative/node_modules/foo/index.txt
  crates/rolldown/tests/rolldown/topics/new_url/should_prefer_relative/node_modules/foo/package.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2748 ci: fix metric CI pnpm version
  .github/workflows/metric.yml
Labels: needs-triage

#2718 chore: skip watcher unstable tests
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2753 feat: optout `new URL('./foo', import.meta.url)` import
  crates/rolldown/src/ast_scanner/new_url.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/utils/mod.rs
  crates/rolldown/tests/rolldown/topics/new_url/opt-out/_config.json
  crates/rolldown/tests/rolldown/topics/new_url/opt-out/artifacts.snap
  crates/rolldown/tests/rolldown/topics/new_url/opt-out/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/comment_annotation.rs
  crates/rolldown_common/src/ecmascript/mod.rs
  crates/rolldown_common/src/lib.rs
Labels: needs-triage

#2762 style(string_wizard): code style improvement
  crates/string_wizard/src/magic_string/mod.rs
Labels: needs-triage

#2766 perf(rolldown_sourcemap): pre-allocate memory in `join` method
  Cargo.lock
  Cargo.toml
  crates/rolldown_sourcemap/Cargo.toml
  crates/rolldown_sourcemap/benches/join.rs
  crates/rolldown_sourcemap/src/source.rs
  crates/rolldown_sourcemap/src/source_joiner.rs
Labels: needs-triage

#2759 fix: preserve more js plugin hook errors
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_binding/src/types/binding_outputs.rs
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/build_error/mod.rs
  crates/rolldown_error/src/events/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/rolldown.ts
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/tests/fixtures/misc/error/diagnostics/_config.ts
  packages/rolldown/tests/fixtures/misc/error/diagnostics/main1.js
  packages/rolldown/tests/fixtures/misc/error/diagnostics/main2.js
  packages/rolldown/tests/fixtures/misc/error/load/_config.ts
  packages/rolldown/tests/fixtures/misc/error/load/main.js
  packages/rolldown/tests/fixtures/misc/error/renderChunk/_config.ts
  packages/rolldown/tests/fixtures/misc/error/renderChunk/main.js
  packages/rolldown/tests/fixtures/misc/error/resolveId/_config.ts
  packages/rolldown/tests/fixtures/misc/error/resolveId/main.js
  packages/rolldown/tests/fixtures/misc/error/transform/_config.ts
  packages/rolldown/tests/fixtures/misc/error/transform/main.js
  packages/rolldown/tests/fixtures/misc/plugin-error/_config.ts
  packages/rolldown/tests/plugin/plugin.test.ts
Labels: needs-triage

#2769 fix(interop): improve compatibility of esm imports cjs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/tests/rolldown/function/resolve/browser_filed_false/artifacts.snap
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/.54/_config.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/50/_config.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/50/_test.mjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/50/artifacts.snap
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/50/entry.js
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/50/foo.cjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/50/package.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/51/_config.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/51/_test.mjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/51/artifacts.snap
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/51/entry.js
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/51/foo.cjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/51/package.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/52/_config.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/52/_test.mjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/52/artifacts.snap
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/52/entry.mjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/52/foo.js
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/53/_config.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/53/_test.mjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/53/artifacts.snap
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/53/entry.mjs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/53/foo.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
Labels: needs-triage

#2763 perf: improve the String concatenation performance
  Cargo.lock
  Cargo.toml
  crates/bench/Cargo.toml
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/utils/namespace.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown/src/utils/render_ecma_module.rs
  crates/rolldown_rstr/src/lib.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/bench/concat_string.rs
  crates/rolldown_utils/src/concat_string.rs
  crates/rolldown_utils/src/dataurl.rs
  crates/rolldown_utils/src/ecmascript.rs
  crates/rolldown_utils/src/js_regex.rs
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/mime.rs
Labels: needs-triage

#2771 fix: correctly collect Result without flatten
  crates/rolldown_binding/src/types/binding_outputs.rs
Labels: needs-triage

#2772 feat: support mark moduleSideEffects at PluginContext.load
  crates/rolldown_binding/src/options/plugin/binding_plugin_context.rs
  crates/rolldown_plugin/src/plugin_context.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/tests/fixtures/plugin/context/load/_config.ts
  packages/rolldown/tests/fixtures/plugin/context/load/main.js
Labels: needs-triage

#2773 refactor(rust): remove `compat_mode` variable that has no effect
  crates/rolldown/src/stages/link_stage/mod.rs
Labels: needs-triage

#2775 refactor(rust): remove unnecessary double wrapped result
  crates/bench/benches/scan.rs
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/watcher/watcher.rs
  crates/rolldown/tests/integration_rolldown.rs
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_testing/src/integration_test.rs
Labels: needs-triage

#2767 fix: enhance js plugin hook error like rollup
  packages/rolldown/src/plugin/bindingify-plugin.ts
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/tests/fixtures/misc/error/load/_config.ts
  packages/rolldown/tests/fixtures/misc/error/plugin-context/_config.ts
  packages/rolldown/tests/fixtures/misc/error/plugin-context/main.js
  packages/rolldown/tests/fixtures/misc/error/renderChunk/_config.ts
  packages/rolldown/tests/fixtures/misc/error/resolveId/_config.ts
  packages/rolldown/tests/fixtures/misc/error/transform/_config.ts
Labels: needs-triage

#2739 feat: vite-resolve-plugin dev support
  Cargo.lock
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_callable_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/mod.rs
  crates/rolldown_plugin_vite_resolve/Cargo.toml
  crates/rolldown_plugin_vite_resolve/src/callable_plugin.rs
  crates/rolldown_plugin_vite_resolve/src/external.rs
  crates/rolldown_plugin_vite_resolve/src/lib.rs
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  crates/rolldown_plugin_vite_resolve/src/utils.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/plugin/builtin-plugin.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#2780 refactor: render chunk imports for format esm
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/utils/mod.rs
  crates/rolldown/src/utils/chunk/collect_render_chunk_imports.rs
Labels: needs-triage

#2782 fix(watcher): run first build after listener is attached
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/watcher/watcher.rs
  crates/rolldown_binding/src/types/watcher.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/watcher.ts
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2783 refactor(cjs): render external module imports
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/tests/esbuild/default/import_fs_node_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/import_fs_node_common_js/bypass.md
  crates/rolldown/tests/esbuild/default/import_namespace_this_value/artifacts.snap
  crates/rolldown/tests/esbuild/default/import_namespace_this_value/diff.md
  crates/rolldown/tests/esbuild/default/string_export_names_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/string_export_names_common_js/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2798 refactor: scope hoisting finalizer
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
  crates/rolldown_common/src/types/symbol_ref.rs
Labels: needs-triage

#2791 refactor(watcher): make WatcherEventData structured
  crates/rolldown/src/watcher/emitter.rs
  crates/rolldown/src/watcher/watcher.rs
  crates/rolldown_binding/src/types/watcher.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/watch.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/watcher.ts
Labels: needs-triage

#2803 perf: ast scanner `is_top_level`
  crates/rolldown/src/ast_scanner/mod.rs
Labels: needs-triage

#2800 feat: use `BuildResult` for `validate_options_for_multi_chunk_output`
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/utils/chunk/validate_options_for_multi_chunk_output.rs
  crates/rolldown/tests/rolldown/errors/invalid_option/invalid-output-file/_config.json
  crates/rolldown/tests/rolldown/errors/invalid_option/invalid-output-file/artifacts.snap
  crates/rolldown/tests/rolldown/errors/invalid_option/invalid-output-file/lib.js
  crates/rolldown/tests/rolldown/errors/invalid_option/invalid-output-file/main.js
  crates/rolldown/tests/rolldown/errors/invalid_option/unsupported_code_splitting_format/artifacts.snap
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/events/invalid_option.rs
Labels: needs-triage

#2805 chore: oxlint v0.12.0
  .oxlintrc.json
  package.json
  pnpm-lock.yaml
Labels: needs-triage

#2813 ci: don't publish every commit of main branch to `pkg.pr.new`
  .github/workflows/ci.yml
  .github/workflows/preview-commit.yml
Labels: needs-triage

#2810 chore: make watcher test stable
  packages/rolldown/src/index.ts
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2797 chore: provide friendly failed tests status
  cspell.json
  packages/rollup-tests/src/ignored-by-supported-features.md
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/intercept/check.js
  packages/rollup-tests/src/intercept/update-test-status.js
  packages/rollup-tests/src/intercept/utils.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#2807 fix(cjs): shouldn't generate `export` keyword in cjs output
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/tests/esbuild/importstar/export_self_common_js_minified/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/export_self_common_js_minified/bypass.md
  crates/rolldown/tests/esbuild/importstar/import_self_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/import_self_common_js/bypass.md
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/14/_config.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/14/artifacts.snap
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/15/_config.json
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/15/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/importstar.md
Labels: needs-triage

#2808 feat: enable `inlineDynamicImports` automatically if format is `iffe` or `umd`
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/bundler_builder.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/utils/chunk/validate_options_for_multi_chunk_output.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/rolldown/errors/invalid_option/invalid-output-file/artifacts.snap
  crates/rolldown/tests/rolldown/errors/invalid_option/unsupported_code_splitting_format/_config.json
  crates/rolldown/tests/rolldown/errors/invalid_option/unsupported_code_splitting_format/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/invalid_option/unsupported_code_splitting_format/_config.json
  crates/rolldown/tests/rolldown/warnings/invalid_option/unsupported_code_splitting_format/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/invalid_option/unsupported_code_splitting_format/lib.js
  crates/rolldown/tests/rolldown/warnings/invalid_option/unsupported_code_splitting_format/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/events/invalid_option.rs
  crates/rolldown_error/src/lib.rs
Labels: needs-triage

#2819 refactor(test): remove support for `_test.cjs`
  crates/rolldown/tests/rolldown/function/format/cjs/import_export_unicode/_test.mjs
  crates/rolldown/tests/rolldown/semantic/export_star_from_external_as_shared_entries_cjs/_test.mjs
  crates/rolldown/tests/rolldown/semantic/export_star_from_external_as_wrapped_entry_cjs/_test.mjs
  crates/rolldown/tests/rolldown/sourcemap/debug_ids/_test.mjs
  crates/rolldown/tests/rolldown/topics/cjs_module_lexer_compat/export_star_from_external/_test.mjs
  crates/rolldown/tests/rolldown/topics/cjs_module_lexer_compat/exports/_test.mjs
  crates/rolldown/tests/rolldown/topics/live_bindings/default_export_binding_cjs/_test.mjs
  crates/rolldown/tests/rolldown/topics/live_bindings/default_export_expr_cjs/_test.mjs
  crates/rolldown/tests/rolldown/topics/live_bindings/named_exports_cjs/_test.mjs
  crates/rolldown/tests/rolldown/topics/live_bindings/named_exports_in_common_chunks_cjs/_test.mjs
  crates/rolldown/tests/rolldown/topics/preserve_semantic_of_entries_exports/.named_export_in_wrapped_and_shared_entries_cjs/_test.mjs
  crates/rolldown/tests/rolldown/topics/preserve_semantic_of_entries_exports/named_export_cjs/_test.mjs
  crates/rolldown/tests/rolldown/topics/preserve_semantic_of_entries_exports/named_export_in_shared_entries_cjs/_test.mjs
  crates/rolldown/tests/rolldown/topics/preserve_semantic_of_entries_exports/named_export_in_wrapped_cjs/_test.mjs
  crates/rolldown_testing/src/integration_test.rs
Labels: needs-triage

#2825 refactor(plugin/vite-resolve): remove unnecessary generics type
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
Labels: needs-triage

#2824 refactor(plugin/vite-resolve): implement AdditionalOptions from u8
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
Labels: needs-triage

#2834 fix(inlineDynamicImports): don't normalize `inlineDynamicImports` on js side
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/rolldown/warnings/invalid_option/unsupported_code_splitting_format/artifacts.snap
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
Labels: needs-triage

#2837 feat: set unspecified platform to `node` if format is `cjs`
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/esbuild/default/import_meta_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/import_meta_common_js/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/src/types/input-options.ts
  packages/rolldown/src/types/output-options.ts
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
Labels: needs-triage

#2836 feat: don't normalize options on js side - part1
  crates/rolldown/src/utils/normalize_options.rs
  packages/rolldown/src/options/bindingify-output-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
Labels: needs-triage

#2840 chore: cleanup rollup error/warning tests
  packages/rollup-tests/src/ignored-by-supported-features.md
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
  packages/rollup-tests/test/function/index.js
Labels: needs-triage

#2843 fix(use_strict): shouldn't care about treeshaked modules
  crates/rolldown/src/types/generator.rs
  crates/rolldown/src/utils/chunk/determine_use_strict.rs
  crates/rolldown/tests/rolldown/misc/use_strict/ignore_treeshaked_modules/_config.json
  crates/rolldown/tests/rolldown/misc/use_strict/ignore_treeshaked_modules/_test.mjs
  crates/rolldown/tests/rolldown/misc/use_strict/ignore_treeshaked_modules/artifacts.snap
  crates/rolldown/tests/rolldown/misc/use_strict/ignore_treeshaked_modules/main.js
  crates/rolldown/tests/rolldown/misc/use_strict/ignore_treeshaked_modules/shaked.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/module/normal_module.rs
  cspell.json
Labels: needs-triage

#2823 refactor: watcher emitter
  crates/rolldown/src/watcher/emitter.rs
  crates/rolldown/src/watcher/watcher.rs
  crates/rolldown_binding/src/types/watcher.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/watch.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/watcher.ts
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2818 feat: support function for `output.globals`
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/format/app.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_option/globals.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_option/mod.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_sourcemap/src/source_joiner.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/types/output-options.ts
  packages/rolldown/src/utils/normalize-output-options.ts
  packages/rolldown/tests/fixtures/output/format/iife/globals-with-function/_config.ts
  packages/rolldown/tests/fixtures/output/format/iife/globals-with-function/main.js
Labels: needs-triage

#2847 refactor: unresolved specifier should be wrapped with single quote
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/tests/esbuild/default/comment_preservation_preserve_jsx/artifacts.snap
  crates/rolldown/tests/esbuild/default/comment_preservation_transform_jsx/artifacts.snap
  crates/rolldown/tests/esbuild/default/import_re_export_es6_issue149/artifacts.snap
  crates/rolldown/tests/esbuild/default/jsx_automatic_imports_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/jsx_automatic_imports_es6/artifacts.snap
  crates/rolldown/tests/esbuild/default/jsx_import_meta_value/artifacts.snap
  crates/rolldown/tests/esbuild/default/jsx_syntax_in_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_escape_slash_script_and_style_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_escape_slash_script_and_style_external/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_many_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_many_linked/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_no_escape_slash_script_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_no_escape_slash_style_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/mangle_props_jsx_preserve/artifacts.snap
  crates/rolldown/tests/esbuild/default/mangle_props_jsx_transform/artifacts.snap
  crates/rolldown/tests/esbuild/default/metafile_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/metafile_various_cases/artifacts.snap
  crates/rolldown/tests/esbuild/default/minified_jsx_preserve_with_object_spread/artifacts.snap
  crates/rolldown/tests/esbuild/loader/jsx_automatic_no_name_collision/artifacts.snap
  crates/rolldown/tests/esbuild/loader/jsx_preserve_capital_letter/artifacts.snap
  crates/rolldown/tests/esbuild/loader/jsx_preserve_capital_letter_minify/artifacts.snap
  crates/rolldown/tests/esbuild/loader/jsx_preserve_capital_letter_minify_nested/artifacts.snap
  crates/rolldown/tests/esbuild/loader/jsx_syntax_in_js_with_jsx_loader/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_data_url_text_css_cannot_import/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_object_spread_no_bundle/artifacts.snap
Labels: needs-triage

#2849 feat: `experimental.viteMode`
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ast_scanner/new_url.rs
  crates/rolldown/tests/rolldown/topics/new_url/opt_out_vite_mode/_config.json
  crates/rolldown/tests/rolldown/topics/new_url/opt_out_vite_mode/artifacts.snap
  crates/rolldown/tests/rolldown/topics/new_url/opt_out_vite_mode/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_input_options/binding_experimental_options.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/experimental_options.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/types/input-options.ts
Labels: needs-triage

#2850 chore: update snapshot reason
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/artifacts.snap
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/bypass.md
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/diff.config.js
  crates/rolldown/tests/esbuild/default/quoted_property/bypass.md
  crates/rolldown/tests/esbuild/default/top_level_await_forbidden_require_dead_branch/bypass.md
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#2846 chore(rolldown): oxc v0.37.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/tests/esbuild/default/legal_comments_escape_slash_script_and_style_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_escape_slash_script_and_style_external/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_many_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_many_linked/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_modify_indent/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_no_escape_slash_script_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_no_escape_slash_style_end_of_file/artifacts.snap
  crates/rolldown/tests/rolldown/cjs_compat/mix-cjs-esm/artifacts.snap
  crates/rolldown/tests/rolldown/cjs_compat/require/require_cjs/artifacts.snap
  crates/rolldown/tests/rolldown/cjs_compat/require/require_esm/artifacts.snap
  crates/rolldown/tests/rolldown/function/minify/basic/artifacts.snap
  crates/rolldown/tests/rolldown/function/module_types/asset/artifacts.snap
  crates/rolldown/tests/rolldown/misc/basic/artifacts.snap
  crates/rolldown/tests/rolldown/misc/object_shorthand_property/artifacts.snap
  crates/rolldown/tests/rolldown/misc/wrapped_esm/artifacts.snap
  crates/rolldown/tests/rolldown/sourcemap/live_binding/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/basic_scoped/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/complex_params_patterns/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/decl_complex_patterns/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/decl_nested_assign_pattern/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/default_function/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/issue_364/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/wrapped_esm_export_named_function/artifacts.snap
  crates/rolldown/tests/rolldown/topics/import_meta_url_polyfill/node_cjs/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/multi-declarator/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_plugin_replace/tests/form/assignment/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/delimiters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/match_variables/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/process_check/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/special_characters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/special_delimiters/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/ternary_operator/artifacts.snap
  crates/rolldown_plugin_replace/tests/form/typescript_declare/artifacts.snap
  crates/string_wizard/tests/snapshots/magic_string_replace__sourcemap.snap
  packages/rolldown/src/binding.d.ts
  packages/rolldown/tests/fixtures/function/comments/preserve-legal-comments/output.snap
Labels: needs-triage

#2852 chore: update esbuild snapshot reason
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false/bypass.md
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false_only_js/bypass.md
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/dce.md
Labels: needs-triage

#2853 fix: side effects detect of destructing array
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/tests/esbuild/dce/dce_of_destructuring/artifacts.snap
  crates/rolldown/tests/esbuild/dce/dce_of_destructuring/diff.md
  crates/rolldown/tests/esbuild/default/comment_preservation/artifacts.snap
  crates/rolldown/tests/esbuild/default/comment_preservation/diff.md
  crates/rolldown/tests/esbuild/ts/ts_abstract_class_field_use_define/bypass.md
  crates/rolldown/tests/esbuild/ts/ts_abstract_class_field_use_define/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/dce.md
  scripts/snap-diff/summary/ts.md
Labels: needs-triage

#2854 fix(string_wizard): output source map with utf16-based location
  crates/string_wizard/src/magic_string/source_map.rs
  crates/string_wizard/src/source_map/sourcemap_builder.rs
  crates/string_wizard/tests/magic_string_replace.rs
  crates/string_wizard/tests/snapshots/magic_string_replace__output.snap
  crates/string_wizard/tests/snapshots/magic_string_replace__sourcemap_with_chinese.snap
Labels: needs-triage

#2856 feat: treeshake.annotations
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/tests/esbuild/dce/disable_tree_shaking/_config.json
  crates/rolldown/tests/esbuild/dce/disable_tree_shaking/artifacts.snap
  crates/rolldown/tests/esbuild/dce/disable_tree_shaking/bypass.md
  crates/rolldown/tests/esbuild/dce/disable_tree_shaking/diff.md
  crates/rolldown/tests/esbuild/dce/remove_unused_pure_comment_calls/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_input_options/treeshake.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/treeshake.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/treeshake/index.ts
  packages/rolldown/src/treeshake/module-side-effects.ts
  packages/rolldown/src/utils/normalize-tree-shake.ts
  packages/rolldown/tests/fixtures/tree-shake/annotations/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/annotations/main.js
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/dce.md
Labels: needs-triage

#2857 refactor(rust/chunk): replace usages related to `Chunk#kind` with more abstract method
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown_common/src/chunk/mod.rs
Labels: needs-triage

#2868 chore: update more rollup test status
  packages/rollup-tests/src/ignored-by-supported-features.md
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
  packages/rollup-tests/test/function/index.js
Labels: needs-triage

#2858 feat: don't normalize options on js side - part3
  packages/rolldown/src/log/logger.ts
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/options/normalized-input-options.ts
  packages/rolldown/src/treeshake/index.ts
  packages/rolldown/src/treeshake/module-side-effects.ts
  packages/rolldown/src/utils/create-bundler.ts
  packages/rolldown/src/utils/normalize-input-options.ts
  packages/rolldown/src/utils/normalize-tree-shake.ts
  packages/rolldown/tests/fixtures/plugin/render-start/_config.ts
Labels: needs-triage

#2865 fix: prevent crashes with dynamic imports using variable paths when `inlineDynamicImports` is enabled
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/tests/rolldown/issues/2833/_config.json
  crates/rolldown/tests/rolldown/issues/2833/artifacts.snap
  crates/rolldown/tests/rolldown/issues/2833/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#2869 feat(plugin/vite-resolve): implement more logics for `createIdResolver`
  Cargo.lock
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_vite_resolve/Cargo.toml
  crates/rolldown_plugin_vite_resolve/src/external.rs
  crates/rolldown_plugin_vite_resolve/src/lib.rs
  crates/rolldown_plugin_vite_resolve/src/package_json_peer.rs
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  crates/rolldown_plugin_vite_resolve/src/utils.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#2855 fix(watcher): handle plugin error
  crates/rolldown/src/watcher/watcher.rs
  crates/rolldown_binding/src/types/binding_outputs.rs
  crates/rolldown_binding/src/types/watcher.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/mod.rs
  crates/rolldown_common/src/types/outputs_diagnostics.rs
  crates/rolldown_common/src/types/watch.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/utils/error.ts
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/src/watcher.ts
  packages/rolldown/tests/watch/foo.js
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#2871 refactor: use unwrap_or_else
  crates/rolldown/src/utils/normalize_options.rs
Labels: needs-triage

#2870 feat: don't normalize options on js side - part4
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/types/binding_log_level.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/log/logger.ts
  packages/rolldown/src/options/bindingify-input-options.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/options/normalized-input-options.ts
  packages/rolldown/src/utils/create-bundler.ts
  packages/rolldown/src/utils/normalize-input-options.ts
  packages/rolldown/src/utils/normalize-plugin-option.ts
Labels: needs-triage

#2862 chore: oxc_resolver v2.1.1
  Cargo.lock
  Cargo.toml
Labels: needs-triage

#2878 fix: fix cjs live binding import source map
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
  crates/rolldown/tests/rolldown/cjs_compat/mix-cjs-esm/artifacts.snap
  crates/rolldown/tests/rolldown/sourcemap/live_binding/artifacts.snap
  crates/rolldown/tests/rolldown/topics/import_meta_url_polyfill/node_cjs/artifacts.snap
Labels: needs-triage

#2872 chore(node): use more accurate filename for options files
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/cli/arguments/normalize.ts
  packages/rolldown/src/cli/arguments/schema.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/options/input-options-schema.ts
  packages/rolldown/src/options/output-options-schema.ts
  packages/rolldown/src/options/watch-options.ts
  packages/rolldown/src/rolldown.ts
Labels: needs-triage

#2880 chore(rust): move `BindingBuiltinPluginName` to a standalone file
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_callable_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_builtin_plugin_name.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#2875 chore: update esbuild test stats
  crates/rolldown/tests/esbuild/default/arrow_fn_scope/bypass.md
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_bundle/bypass.md
  crates/rolldown/tests/esbuild/default/inject_with_string_export_name_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/default/multiple_entry_points_same_name_collision/bypass.md
  crates/rolldown/tests/esbuild/default/string_export_names_common_js/diff.md
  crates/rolldown/tests/esbuild/default/use_strict_directive_bundle_iife_issue2264/bypass.md
  crates/rolldown/tests/esbuild/default/use_strict_directive_minify_no_bundle/bypass.md
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#2886 chore(node): move `MinimalPluginContext` to a standalone file
  packages/rolldown/src/index.ts
  packages/rolldown/src/log/logger.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/minimal-plugin-context.ts
  packages/rolldown/src/plugin/plugin-context.ts
Labels: needs-triage

#2891 refactor: use `BuildDiagnostic::from_oxc_diagnostics`
  crates/rolldown_ecmascript/src/ecma_compiler.rs
Labels: needs-triage
