Repository rolldown/rolldown, pull requests merged in 2025-03, with the labels that each got.

#3722 test(node): remove unnecessary `banner` test
  packages/rolldown/tests/fixtures/function/banner/async/_config.ts
  packages/rolldown/tests/fixtures/function/banner/async/main.js
  packages/rolldown/tests/fixtures/function/banner/normal/_config.ts
  packages/rolldown/tests/fixtures/function/banner/normal/main.js
  packages/rolldown/tests/fixtures/output/banner/async-function/_config.ts
  packages/rolldown/tests/fixtures/output/banner/function/_config.ts
  packages/rolldown/tests/fixtures/output/banner/string/_config.ts
  packages/rolldown/tests/fixtures/output/banner/string/main.js
  packages/rolldown/tests/fixtures/verify-options/_config.ts
Labels: needs-triage

#3721 docs: document `advancedChunks`
  packages/rolldown/src/options/output-options.ts
Labels: needs-triage

#3714 fix: NormalizedOutputOptions sourcemapIgnoreList
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/utils/bindingify-output-options.ts
  packages/rolldown/tests/fixtures/plugin/normalized-option/_config.ts
Labels: needs-triage

#3720 feat: expose sourcemapDebugIds to OutputOptions and CLI
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/bindingify-output-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#3726 build(docs): ignore `#` symbols that aren't used as the title mark
  docs/data-loading/options-doc.data.ts
Labels: needs-triage

#3724 test(node): improve `outro` and `intro` test
  packages/rolldown/tests/fixtures/function/intro/_config.ts
  packages/rolldown/tests/fixtures/function/intro/main.js
  packages/rolldown/tests/fixtures/function/outro/_config.ts
  packages/rolldown/tests/fixtures/function/outro/main.js
  packages/rolldown/tests/fixtures/output/intro/string/_config.ts
  packages/rolldown/tests/fixtures/output/intro/string/main.js
  packages/rolldown/tests/fixtures/output/outro/string/_config.ts
  packages/rolldown/tests/fixtures/output/outro/string/main.js
  packages/rolldown/tests/fixtures/verify-options/_config.ts
Labels: needs-triage

#3716 chore: fix typos
  CHANGELOG.md
  crates/rolldown/tests/esbuild/lower/lower_exponentiation_operator_no_bundle/entry.js
  packages/rolldown/tests/fixtures/plugin/output-plugins/_config.ts
  packages/rolldown/tests/stability/issue-3453/src/lib/file1.js
Labels: needs-triage

#3718 style: apply a few fixes suggested by clippy
  crates/rolldown/src/ast_scanner/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
Labels: needs-triage

#3732 fix: stackblitz merge_transform_options failed
  crates/rolldown/src/bundler_builder.rs
Labels: needs-triage

#3733 chore: add alias command for run rolldown-node-test only
  justfile
Labels: needs-triage

#3730 fix: minify with jsx preserve
  crates/rolldown_ecmascript/src/ecma_compiler.rs
  packages/rolldown/tests/fixtures/jsx/preserve-minify/_config.ts
  packages/rolldown/tests/fixtures/jsx/preserve-minify/main.jsx
Labels: needs-triage

#3734 chore: add new task cargo ls-lint
  .cargo/config.toml
  .ls-lint.json
  .ls-lint.yml
  Cargo.lock
  Cargo.toml
  justfile
  packages/rolldown/src/log/log-handler.ts
  packages/rolldown/src/log/logger.ts
  packages/rolldown/src/plugin/minimal-plugin-context.ts
  packages/rolldown/src/plugin/plugin-driver.ts
  packages/rolldown/src/plugin/transform-plugin-context.ts
  packages/rolldown/tests/stability/issue-3453/src/build.mjs
  packages/rolldown/tests/stability/issue-3453/src/import-maps.js
  packages/rolldown/tests/stability/issue-3453/src/main-script.js
  tasks/ls-lint/Cargo.toml
  tasks/ls-lint/src/main.rs
Labels: needs-triage

#3736 fix(rust): only replace specified-length placeholders for the `hash` type
  crates/rolldown_common/src/inner_bundler_options/types/filename_template.rs
  crates/rolldown_utils/src/replace_all_placeholder.rs
Labels: needs-triage

#3745 fix(node): EmittedFile type compat
  packages/rolldown/src/plugin/plugin-context.ts
Labels: needs-triage

#3749 fix(node): allow updating sourcemap.debugId by plugins
  crates/rolldown_binding/src/types/binding_sourcemap.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/types/sourcemap.ts
  packages/rolldown/tests/fixtures/plugin/generate-bundle/_config.ts
Labels: needs-triage

#3757 ci: install toolchain in FreeBSD build
  .github/workflows/reusable-release-build.yml
Labels: needs-triage

#3748 feat: validate option
  packages/rolldown/src/api/rolldown/index.ts
  packages/rolldown/src/api/rolldown/rolldown-build.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/validate-option.test.ts
  packages/rollup-tests/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3756 test(node): remove unnecessary `comments` test
  packages/rolldown/tests/fixtures/function/comments/preserve-legal-comments/_config.ts
  packages/rolldown/tests/fixtures/function/comments/preserve-legal-comments/main.js
  packages/rolldown/tests/fixtures/function/comments/preserve-legal-comments/output.snap
  packages/rolldown/tests/fixtures/verify-options/_config.ts
Labels: needs-triage

#3760 refactor: validate watch chokidar
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/validate-option.test.ts
Labels: needs-triage

#3763 refactor: simplify crates/rolldown_utils/src/global_reference.rs
  crates/rolldown_ecmascript_utils/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  crates/rolldown_utils/src/global_reference.rs
Labels: needs-triage

#3765 chore: add build-js-glue command to build js side code only
  justfile
  packages/rolldown/build.ts
  packages/rolldown/package.json
Labels: needs-triage

#3768 chore: ensure the binding binary is always up to date.
  packages/rolldown/build-binding.js
  packages/rolldown/package.json
Labels: needs-triage

#3750 fix: load mts config without type module
  packages/rolldown/src/cli/load-config.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/ext-mjs/package.json
  packages/rolldown/tests/cli/fixtures/ext-mts/package.json
Labels: needs-reproduction

#3671 feat(hmr): fetch changed modules via `HmrModuleLoader`
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/hmr/hmr_module_loader.rs
  crates/rolldown/src/hmr/hmr_module_task.rs
  crates/rolldown/src/hmr/mod.rs
  crates/rolldown/src/module_loader/mod.rs
  crates/rolldown_binding/src/bundler.rs
Labels: needs-triage

#3778 feat(rust/ecma_utils): helpers for creating AST more easily
  crates/rolldown_ecmascript_utils/src/lib.rs
  crates/rolldown_ecmascript_utils/src/quote.rs
Labels: needs-triage

#3780 feat: expose `transform` options
  crates/rolldown/src/bundler_builder.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
Labels: needs-triage

#3783 chore: bump oxc_resolver
  Cargo.lock
  Cargo.toml
Labels: needs-triage

#3786 refactor: simplify native_resolve for module side effects
  crates/rolldown_common/src/inner_bundler_options/types/treeshake.rs
Labels: needs-triage

#3742 chore: make watch multiply options test stable
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#3789 feat: treeshake.manualPureFunctions
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_treeshake.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/treeshake.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/types/module-side-effects.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/fixtures/tree-shake/manual-pure-functions/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/manual-pure-functions/main.js
Labels: needs-triage

#3792 feat(rust/hmr): improve runtime and generate runnable patch
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/runtime/runtime-extra-dev.js
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/_config.json
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3798 refactor: normalize treeshake options in rolldown/core
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/treeshake.rs
Labels: needs-triage

#3801 feat: export `moduleRunnerTransform` from `rolldown/experimental`
  packages/rolldown/src/experimental-index.ts
Labels: needs-triage

#3803 ci(publish-preview): support pull_request
  .github/workflows/preview-commit.yml
Labels: needs-triage, trigger: preview

#3804 feat(node): remove `implements` from PluginContext types
  packages/rolldown/src/plugin/minimal-plugin-context.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/plugin/transform-plugin-context.ts
  packages/rolldown/src/types/assert.ts
Labels: needs-triage

#3805 fix(node): allow `output.minify: 'dce-only'`
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#3812 refactor: use oxc builtin pure flag
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/annotation.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/tests/esbuild/ts/ts_enum_define/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_enum_define/bypass.md
  crates/rolldown/tests/esbuild/ts/ts_minify_enum/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_minify_enum/bypass.md
  crates/rolldown/tests/rolldown/function/module_types/ts/enum_reference_id_not_exist_after_transform/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
Labels: needs-triage

#3815 perf(rust): avoid unnecessary source clone
  crates/rolldown/src/stages/generate_stage/mod.rs
Labels: needs-triage

#3814 feat(hmr): improve handling of `export default`
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
Labels: needs-triage

#3817 release: v1.0.0-beta.4
  CHANGELOG.md
  packages/rolldown/npm/darwin-arm64/package.json
  packages/rolldown/npm/darwin-x64/package.json
  packages/rolldown/npm/freebsd-x64/package.json
  packages/rolldown/npm/linux-arm-gnueabihf/package.json
  packages/rolldown/npm/linux-arm64-gnu/package.json
  packages/rolldown/npm/linux-arm64-musl/package.json
  packages/rolldown/npm/linux-x64-gnu/package.json
  packages/rolldown/npm/linux-x64-musl/package.json
  packages/rolldown/npm/wasm32-wasi/package.json
  packages/rolldown/npm/win32-arm64-msvc/package.json
  packages/rolldown/npm/win32-ia32-msvc/package.json
  packages/rolldown/npm/win32-x64-msvc/package.json
  packages/rolldown/package.json
Labels: needs-triage

#3797 chore(rolldown): oxc v0.57.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/dynamic_import.rs
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/import_assign_analyzer.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/generate_lazy_export.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/type_alias.rs
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/ecma_view.rs
  crates/rolldown_common/src/module/mod.rs
  crates/rolldown_common/src/module_loader/runtime_task_result.rs
  crates/rolldown_common/src/module_loader/task_result.rs
  crates/rolldown_common/src/types/ast_scopes.rs
  crates/rolldown_common/src/types/symbol_ref.rs
  crates/rolldown_common/src/types/symbol_ref_db.rs
  crates/rolldown_ecmascript/src/ecma_ast/helpers.rs
  crates/rolldown_ecmascript/src/ecma_compiler.rs
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/call_expression_ext.rs
  crates/rolldown_plugin_transform/src/lib.rs
  package.json
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rollup-tests/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3818 chore: fix typos
  CHANGELOG.md
Labels: needs-triage

#3819 refactor: remove some redundant arguments in `side_effect_detector`
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
  crates/rolldown_common/src/types/ast_scopes.rs
  crates/rolldown_common/src/types/symbol_ref_db.rs
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/call_expression_ext.rs
Labels: needs-triage

#3820 refactor: add more variant for `External`
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/utils/load_entry_module.rs
  crates/rolldown/tests/rolldown/errors/entry_cannot_be_external/mod.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/basic/mod.rs
  crates/rolldown/tests/rolldown/issues/1733/mod.rs
  crates/rolldown/tests/rolldown/plugin/plugin_context/custom_arg_in_resolve/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_callable_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_context.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_resolve_id_output.rs
  crates/rolldown_binding/src/options/plugin/types/binding_resolved_external.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/resolved_request_info.rs
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin/src/types/hook_resolve_id_output.rs
  crates/rolldown_plugin/src/utils/resolve_id_with_plugins.rs
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
  crates/rolldown_resolver/src/resolver.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/utils/resolved-external.ts
Labels: needs-triage

#3822 fix: dataurl plugin resolve panic
  crates/rolldown/tests/rolldown/issues/3821/_config.json
  crates/rolldown/tests/rolldown/issues/3821/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3821/index.css
  crates/rolldown/tests/rolldown/issues/3821/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_plugin_data_url/src/data_url_plugin.rs
Labels: needs-triage

#3823 refactor(rust): simplify `keep_name_statement_to_insert`
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
Labels: needs-triage

#3824 refactor(hmr/client): implement `DevRuntime` class for module management
  crates/rolldown/src/runtime/runtime-extra-dev.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3832 feat(hmr): inject `ModuleHotContext` for each module
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/runtime/runtime-extra-dev.js
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3835 chore: generate ts checks option
  packages/rolldown/src/options/generated/checks-options.ts
  packages/rolldown/src/options/input-options.ts
  tasks/gen_options/src/generators/checks.rs
  tasks/gen_options/src/output/mod.rs
  tasks/gen_options/src/output/rust.rs
Labels: needs-triage

#3828 fix(cli): remove duplicate error message in stack trace
  packages/rolldown/src/cli/index.ts
Labels: needs-triage

#3836 chore: inline generate check options for validator.ts
  .taplo.toml
  Cargo.lock
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  tasks/gen_options/Cargo.toml
  tasks/gen_options/src/generators/checks.rs
  tasks/gen_options/src/lib.rs
  tasks/gen_options/src/output/mod.rs
  tasks/gen_options/src/output/rust.rs
  tasks/gen_options/src/utils/mod.rs
  tasks/ls_lint/Cargo.toml
Labels: needs-triage

#3838 chore: update NAPI-RS cli
  packages/rolldown/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3840 chore(cli): improve the output format of errors
  packages/rolldown/src/utils/error.ts
Labels: needs-triage

#3839 chore: generate binding checks option and inner option
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/src/generated/binding_checks_options.rs
  crates/rolldown_binding/src/generated/mod.rs
  crates/rolldown_binding/src/lib.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_checks_options.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_common/src/generated/checks_options.rs
  crates/rolldown_common/src/generated/mod.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/checks_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  tasks/gen_options/Cargo.toml
  tasks/gen_options/src/generators/checks.rs
Labels: needs-triage

#3844 chore(rolldown): oxc v0.58.1
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  package.json
  packages/rolldown/package.json
  packages/rollup-tests/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3842 chore: generate EventKindSwitch converter from ChecksOption
  crates/rolldown/src/stages/link_stage/sort_modules.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown_common/src/generated/checks_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_error/src/generated/event_kind_switcher.rs
  crates/rolldown_error/src/lib.rs
  crates/rolldown_error/src/types/diagnostic_container.rs
  crates/rolldown_error/src/types/mod.rs
  tasks/gen_options/src/generators/checks.rs
  tasks/gen_options/src/main.rs
Labels: needs-triage

#3846 feat: filter out diagnostics disabled in checks options
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_error/src/lib.rs
  crates/rolldown_error/src/types/diagnostic_container.rs
  crates/rolldown_error/src/types/mod.rs
  crates/rolldown_error/src/utils.rs
  packages/rolldown/tests/fixtures/onwarn/disable-eval-warn/_config.ts
  packages/rolldown/tests/fixtures/onwarn/disable-eval-warn/main.js
Labels: needs-triage

#3849 fix: generate sourcemapMappingUrl reference properly
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/tests/rolldown/sourcemap/css_sourcemap_reference/_config.json
  crates/rolldown/tests/rolldown/sourcemap/css_sourcemap_reference/a.css
  crates/rolldown/tests/rolldown/sourcemap/css_sourcemap_reference/artifacts.snap
  crates/rolldown/tests/rolldown/sourcemap/css_sourcemap_reference/b.css
  crates/rolldown/tests/rolldown/sourcemap/css_sourcemap_reference/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3851 feat(hmr): wrap module code into a function
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/runtime/runtime-extra-dev.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  examples/hmr-raw/src/Draw.js
  examples/hmr-raw/src/time.js
Labels: needs-triage

#3850 chore: add comments and description for check option
  packages/rolldown/src/options/generated/checks-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  tasks/generator/src/generators/checks.rs
Labels: needs-triage

#3854 feat: emit diagnostic when configuration field conflict
  crates/rolldown/src/bundler_builder.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/tests/rolldown/warnings/configuration_field_conflict/_config.json
  crates/rolldown/tests/rolldown/warnings/configuration_field_conflict/artifacts.snap
  crates/rolldown/tests/rolldown/warnings/configuration_field_conflict/main.tsx
  crates/rolldown/tests/rolldown/warnings/configuration_field_conflict/tsconfig.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/generated/binding_checks_options.rs
  crates/rolldown_common/src/generated/checks_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/jsx.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/configuration_field_conflict.rs
  crates/rolldown_error/src/events/mod.rs
  crates/rolldown_error/src/generated/event_kind_switcher.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/generated/checks-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#3855 feat: calculate relative external module rendered path
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/stages/link_stage/reference_needed_symbols.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/tests/esbuild/default/export_wildcard_fs_node_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/export_wildcard_fs_node_common_js/bypass.md
  crates/rolldown/tests/esbuild/default/re_export_default_no_bundle_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/re_export_default_no_bundle_common_js/bypass.md
  crates/rolldown/tests/esbuild/default/string_export_names_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/string_export_names_common_js/diff.md
  crates/rolldown/tests/esbuild/default/string_export_names_iife/artifacts.snap
  crates/rolldown/tests/esbuild/default/string_export_names_iife/diff.md
  crates/rolldown/tests/rollup/relative-external/_config.json
  crates/rolldown/tests/rollup/relative-external/artifacts.snap
  crates/rolldown/tests/rollup/relative-external/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/module/external_module.rs
  crates/rolldown_common/src/module/mod.rs
  crates/rolldown_testing/_config.schema.json
  crates/rolldown_testing_config/src/lib.rs
  packages/rolldown/build.ts
  packages/rollup-tests/src/ignored-by-unsupported-features.md
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
Labels: needs-triage

#3856 docs: more details about testing
  docs/contrib-guide/testing.md
Labels: needs-triage

#3858 chore(dev): update local node version to latest lts `22.14.0`
  .node-version
Labels: needs-triage

#3859 chore: auto convert EventKind doc comment to validator description
  crates/rolldown_error/src/event_kind.rs
  tasks/generator/src/generators/checks.rs
  tasks/generator/src/utils/mod.rs
  tasks/generator/src/utils/syn_utils.rs
Labels: needs-triage

#3860 chore(renovate): apply pinGitHubActionDigestsToSemver
  .github/renovate.json
Labels: needs-triage

#3861 chore(ci): run zizmor to harden GitHub Actions security
  .github/workflows/ci-security.yml
Labels: needs-triage

#3865 feat(hmr/rust): reuse existing `ModuleLoader`
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/hmr/hmr_module_loader.rs
  crates/rolldown/src/hmr/mod.rs
Labels: needs-triage

#3867 chore: update announcement blog post link in readme
  README.md
Labels: needs-triage

#3869 perf: use mimalloc-safe which is maintaining by us
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/lib.rs
Labels: needs-triage

#3882 chore(docs): fix document generating
  docs/data-loading/options-doc.data.ts
Labels: needs-triage

#3883 chore(ci): add CMake installation step to fix building on freeBSD
  .github/workflows/reusable-release-build.yml
Labels: trigger: preview

#3885 release: v1.0.0-beta.6
  CHANGELOG.md
  packages/rolldown/npm/darwin-arm64/package.json
  packages/rolldown/npm/darwin-x64/package.json
  packages/rolldown/npm/freebsd-x64/package.json
  packages/rolldown/npm/linux-arm-gnueabihf/package.json
  packages/rolldown/npm/linux-arm64-gnu/package.json
  packages/rolldown/npm/linux-arm64-musl/package.json
  packages/rolldown/npm/linux-x64-gnu/package.json
  packages/rolldown/npm/linux-x64-musl/package.json
  packages/rolldown/npm/wasm32-wasi/package.json
  packages/rolldown/npm/win32-arm64-msvc/package.json
  packages/rolldown/npm/win32-ia32-msvc/package.json
  packages/rolldown/npm/win32-x64-msvc/package.json
  packages/rolldown/package.json
Labels: needs-triage

#3891 feat: make transform_ast hook to async
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/pluginable.rs
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_module_federation/src/lib.rs
Labels: needs-triage

#3887 docs(contribution): add `CMake` install guide
  cspell.json
  docs/contrib-guide/setup-the-project.md
Labels: needs-triage

#3888 chore(deps): bump `consola` to v3.4.2
  packages/rolldown/package.json
  packages/rolldown/src/cli/index.ts
  pnpm-lock.yaml
Labels: needs-triage

#3894 feat: add isolated_declaration plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_builtin_plugin_name.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/types/hook_transform_ast_args.rs
  crates/rolldown_plugin_isolated_declaration/Cargo.toml
  crates/rolldown_plugin_isolated_declaration/src/lib.rs
  crates/rolldown_plugin_isolated_declaration/src/type_import_visitor.rs
  crates/rolldown_plugin_isolated_declaration/tests/basic/_config.json
  crates/rolldown_plugin_isolated_declaration/tests/basic/artifacts.snap
  crates/rolldown_plugin_isolated_declaration/tests/basic/foo.tsx
  crates/rolldown_plugin_isolated_declaration/tests/basic/main.ts
  crates/rolldown_plugin_isolated_declaration/tests/mod.rs
  crates/rolldown_testing/src/fixture.rs
  crates/rolldown_testing/src/integration_test.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/builtin-plugin/constructors.ts
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/foo.tsx
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/main.ts
Labels: needs-triage

#3896 docs: enable deep outline
  docs/.vitepress/config.ts
Labels: needs-triage

#3898 feat: support meta#chunks at render_chunk hook
  crates/rolldown/src/utils/render_chunks.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_plugin/src/types/hook_render_chunk_args.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/tests/fixtures/plugin/render-chunk/basic/_config.ts
Labels: needs-triage

#3900 fix(tasks/generator): ensure `just update-generated-code` runs correctly on `Windows`
  tasks/generator/src/output/rust.rs
Labels: needs-triage

#3902 feat(isolated_declaration): add `stripInternal` option
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_isolated_declaration/src/lib.rs
  crates/rolldown_plugin_isolated_declaration/tests/mod.rs
  crates/rolldown_plugin_isolated_declaration/tests/strip_internal/_config.json
  crates/rolldown_plugin_isolated_declaration/tests/strip_internal/artifacts.snap
  crates/rolldown_plugin_isolated_declaration/tests/strip_internal/main.ts
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/builtin-plugin/constructors.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/foo.tsx
Labels: needs-triage

#3904 fix: reuse `JSON.parse` wrapper from `oxc-parser`
  packages/rolldown/package.json
  packages/rolldown/src/parse-ast-index.ts
  packages/rolldown/tests/parse-ast/parse-ast.test.ts
  pnpm-lock.yaml
Labels: needs-triage

#3906 refactor(node/hmr): encapsulate dev server logic within DevServer class
  packages/test-dev-server/src/index.ts
Labels: needs-triage

#3909 perf: aovid RollupRenderedChunk clone
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/utils/augment_chunk_hash.rs
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown/src/utils/chunk/mod.rs
  crates/rolldown/src/utils/render_chunks.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/types/binding_output_chunk.rs
  crates/rolldown_binding/src/types/binding_rendered_chunk.rs
  crates/rolldown_binding/src/types/binding_rendered_module.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/ecmascript/ecma_asset_meta.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_option/addon.rs
  crates/rolldown_common/src/types/output_chunk.rs
  crates/rolldown_common/src/types/rollup_rendered_chunk.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin/src/plugin_driver/output_hooks.rs
  crates/rolldown_plugin/src/pluginable.rs
  crates/rolldown_plugin/src/types/hook_addon_args.rs
  crates/rolldown_plugin/src/types/hook_render_chunk_args.rs
Labels: needs-triage

#3905 chore: bump and unpin pnpm version
  .github/renovate.json
  package.json
Labels: needs-triage

#3912 test(builtin-plugin): migrate `dynamicImportVars` test cases from `Vite`
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/basic/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/basic/dir/a/foo.css
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/basic/dir/a/module-a-1.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/basic/dir/a/module-a-2.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/basic/dir/b/module-b-1.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/basic/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/vite/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/vite/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/vite/main.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/vite/mods/hello.js
  packages/rolldown/tests/fixtures/builtin-plugin/dynamic-import-vars/vite/mods/hi.js
Labels: needs-triage

#3913 chore(rolldown): oxc v0.61.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_using/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_using_unsupported_async/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_unsupported_async/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_using_unsupported_using_and_async/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_unsupported_using_and_async/bypass.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
  crates/rolldown_ecmascript/src/ecma_compiler.rs
  crates/rolldown_ecmascript_utils/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#3915 chore(binding): rename RenderedChunk to BindingRenderedChunk
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/types/binding_rendered_chunk.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/utils/transform-rendered-chunk.ts
Labels: needs-triage

#3919 refactor: inline build_resolve_ret
  crates/rolldown_resolver/src/resolver.rs
Labels: needs-triage

#3917 chore(ci): fix workflow security issues reported by zizmor
  .github/workflows/autofix.yml
  .github/workflows/automate-jobs.yml
  .github/workflows/automation-labeled.yml
  .github/workflows/automation-stale-bot.yml
  .github/workflows/benchmark-node.yml
  .github/workflows/benchmark-rust.yml
  .github/workflows/cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/codspeed-node.yml.bak
  .github/workflows/link-check.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/mergeability-check.yml
  .github/workflows/metric.yml
  .github/workflows/preview-commit.yml
  .github/workflows/publish-nightly-canary.yml
  .github/workflows/publish-packages.yml
  .github/workflows/reusable-cargo-test.yml
  .github/workflows/reusable-node-test.yml
  .github/workflows/reusable-release-build.yml
  .github/workflows/reusable-wasi-test.yml
Labels: needs-triage

#3920 feat: add HookTransformAstArgs#stable_id
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/types/hook_transform_ast_args.rs
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_isolated_declaration/src/lib.rs
Labels: needs-triage

#3923 feat: make ScanStageOutput cloneable
  crates/rolldown/src/css/mod.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown_common/src/asset/asset_view.rs
  crates/rolldown_common/src/css/css_view.rs
  crates/rolldown_common/src/ecmascript/ecma_view.rs
  crates/rolldown_common/src/module/external_module.rs
  crates/rolldown_common/src/module/mod.rs
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_common/src/module_loader/runtime_module_brief.rs
  crates/rolldown_common/src/types/ast_scopes.rs
  crates/rolldown_common/src/types/hmr_info.rs
  crates/rolldown_common/src/types/import_record.rs
  crates/rolldown_common/src/types/module_table.rs
  crates/rolldown_common/src/types/named_export.rs
  crates/rolldown_common/src/types/namespace_alias.rs
  crates/rolldown_common/src/types/source_mutation.rs
  crates/rolldown_common/src/types/stmt_info.rs
  crates/rolldown_common/src/types/symbol_ref_db.rs
  crates/rolldown_ecmascript/src/ecma_ast/mod.rs
Labels: needs-triage

#3927 perf(rolldown_binding): upgrade napi-build
  Cargo.lock
Labels: needs-triage

#3928 fix: determine a module side effects for `require` a module that can't analyze statically
  crates/rolldown/src/stages/link_stage/tree_shaking/determine_side_effects.rs
  crates/rolldown/tests/rolldown/tree_shaking/require_module_determined_in_runtime/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/require_module_determined_in_runtime/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/require_module_determined_in_runtime/foo.js
  crates/rolldown/tests/rolldown/tree_shaking/require_module_determined_in_runtime/main.mjs
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3929 test(builtin-plugin): migrate `importGlob` test cases from `Vite`
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/.gitignore
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/modules/a.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/modules/b.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/modules/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/node_modules/framework/pages/hello.page.js
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/sibling.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/b/a.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/b/b.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/b/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/restore-query-extension/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/restore-query-extension/index.ts.snap
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/transform/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/transform/index.ts.snap
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/virtual-modules/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/virtual-modules/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/virtual-modules/index.ts.snap
Labels: needs-triage

#3921 docs: remove about and redirect to guide
  docs/about.md
  docs/netlify.toml
Labels: needs-triage

#3930 fix: check dummy record in all import_records.iter
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/determine_side_effects.rs
  crates/rolldown_common/src/module/normal_module.rs
Labels: needs-triage

#3932 feat: add data structure that used for incremental build
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/hybrid_index_vec.rs
  crates/rolldown_common/src/types/mod.rs
  crates/rolldown_common/src/types/scan_mode.rs
  crates/rolldown_ecmascript/src/ecma_ast/mod.rs
Labels: needs-triage

#3931 refactor(rolldown_plugin_transform): improve code style and align `filter` logic with `Vite`
  crates/rolldown_plugin_transform/src/lib.rs
Labels: needs-triage

#3908 feat(hmr/poc): change visited map to use `VisitState` enum for better state management
  crates/rolldown/src/module_loader/module_loader.rs
Labels: needs-triage

#3935 chore(rolldown): oxc v0.61.2
  Cargo.lock
  Cargo.toml
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
  packages/rolldown/package.json
  packages/rollup-tests/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3938 perf: use `Vec::with_capacity`
  crates/rolldown/src/asset/asset_generator.rs
Labels: needs-triage

#3944 fix(ci): fix broken metric workflow
  .github/workflows/metric.yml
Labels: needs-triage

#3925 feat(node/wasi): add private `@rolldown/wasi` to prepare to distribute wasm binary in a friendly way
  justfile
  package.json
  packages/rolldown/build.ts
  packages/wasi/bin/cli.js
  packages/wasi/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3948 fix: normalize oxc minify keep_names with keep_names option
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
Labels: needs-triage

#3947 ci: publish `@rollown/wasi`
  .github/workflows/preview-commit.yml
  .github/workflows/publish-nightly-canary.yml
  .github/workflows/publish-packages.yml
  .github/workflows/reusable-release-build.yml
  packages/rolldown/build.ts
  packages/wasi/package.json
  pnpm-lock.yaml
  scripts/misc/published-package-check.mjs
Labels: needs-triage

#3952 release: v1.0.0-beta.7
  CHANGELOG.md
  packages/rolldown/npm/darwin-arm64/package.json
  packages/rolldown/npm/darwin-x64/package.json
  packages/rolldown/npm/freebsd-x64/package.json
  packages/rolldown/npm/linux-arm-gnueabihf/package.json
  packages/rolldown/npm/linux-arm64-gnu/package.json
  packages/rolldown/npm/linux-arm64-musl/package.json
  packages/rolldown/npm/linux-x64-gnu/package.json
  packages/rolldown/npm/linux-x64-musl/package.json
  packages/rolldown/npm/wasm32-wasi/package.json
  packages/rolldown/npm/win32-arm64-msvc/package.json
  packages/rolldown/npm/win32-ia32-msvc/package.json
  packages/rolldown/npm/win32-x64-msvc/package.json
  packages/rolldown/package.json
  packages/wasi/package.json
Labels: needs-triage

#3954 test: hook filter tests
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_filter.rs
  crates/rolldown_binding/src/options/plugin/types/binding_js_or_regex.rs
  crates/rolldown_utils/src/pattern_filter.rs
Labels: needs-triage

#3922 feat(node): auto fallback wasm binding on webcontainer
  cspell.json
  packages/rolldown/build.ts
  packages/rolldown/src/webcontainer-fallback.js
Labels: on hold: to be discussed, needs-triage, trigger: preview

#3958 fix(node): fix webcontainer fallback for cjs rolldown + silence pkg.pr.new check error
  packages/rolldown/build.ts
  packages/rolldown/src/webcontainer-fallback.js
Labels: needs-triage

#3959 test(json): port relevant cases from `Vite`
  .prettierignore
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/1.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/1.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/2.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/2.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/3.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/3.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/1/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/2/1.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/2/1.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/2/2.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/2/2.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/2/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/2/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/3/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/3/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/3/data.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/3/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/4/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/4/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/4/data.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/4/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/5/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/5/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/5/data.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/5/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/6/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/6/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/6/data.json.snap
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/6/main.js
Labels: needs-triage

#3963 feat(node): expose `RenderedModule` type
  packages/rolldown/src/index.ts
Labels: needs-triage

#3965 feat(hmr/poc): support HMR on situation that adds modules or modifies import statements
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown_common/src/module/normal_module.rs
  examples/hmr-raw/src/another-time.js
  examples/hmr-raw/src/time.js
Labels: needs-triage

#3967 feat(cli): support `ROLLUP_WATCH` and `ROLLDOWN_WATCH` environment variables
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/tests/cli/fixtures/watch-env/index.ts
  packages/rolldown/tests/cli/fixtures/watch-env/rolldown.config.ts
Labels: needs-triage

#3969 fix(node): ensure `this.meta.watchMode` is `true` in watch mode
  packages/rolldown/src/api/watch/watcher.ts
  packages/rolldown/src/log/logger.ts
  packages/rolldown/src/parallel-plugin-worker.ts
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/bindingify-plugin.ts
  packages/rolldown/src/plugin/bindingify-watch-hooks.ts
  packages/rolldown/src/plugin/minimal-plugin-context.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/plugin/plugin-driver.ts
  packages/rolldown/src/plugin/transform-plugin-context.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/src/utils/create-bundler.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/watch-env/rolldown.config.ts
  packages/rolldown/tests/cli/fixtures/watch-mode/index.ts
  packages/rolldown/tests/cli/fixtures/watch-mode/rolldown.config.ts
Labels: needs-triage

#3971 refactor(node): remove webcontainer fallback for pkg.pr.new
  packages/rolldown/src/webcontainer-fallback.js
Labels: needs-triage

#3972 fix: filter should not stabilize args.specifier
  Cargo.lock
  crates/rolldown/src/watch/watcher_task.rs
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_utils/src/pattern_filter.rs
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/exclude/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/include/_config.ts
Labels: needs-triage

#3976 fix!: remove glob filter support for resolveId hook
  docs/guide/plugin-development.md
  packages/rolldown/src/plugin/hook-filter.ts
  packages/rolldown/src/plugin/index.ts
Labels: needs-triage

#3975 fix: filter test case
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
Labels: needs-triage

#3984 perf: avoid lock contention
  crates/rolldown_binding/src/types/binding_rendered_chunk.rs
Labels: needs-triage

#3980 perf: avoid clone immutable scoping field
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/types/scan_stage_cache.rs
  crates/rolldown_common/src/types/ast_scopes.rs
  crates/rolldown_common/src/types/symbol_ref_db.rs
Labels: needs-triage

#3991 fix(node): resolveId id filter is optional
  packages/rolldown/src/plugin/index.ts
Labels: needs-triage

#3992 refactor(node): use `MinimalPluginContextImpl` for options hook
  packages/rolldown/src/plugin/minimal-plugin-context.ts
  packages/rolldown/src/plugin/plugin-driver.ts
Labels: needs-triage
