Repository rolldown/rolldown, pull requests merged in 2025-04, with the labels that each got.

#3994 fix: correct bundle size calculation
  packages/rolldown/src/cli/commands/bundle.ts
Labels: needs-triage

#4001 feat(hmr): allow to configurate connected address of dev server
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/runtime/runtime-extra-dev.js
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/_config.json
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/experimental_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/hmr_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_testing/_config.schema.json
Labels: needs-triage

#3999 perf: cache renderChunk meta
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/plugin-context-data.ts
  packages/rolldown/src/utils/transform-rendered-chunk.ts
Labels: needs-triage, trigger: preview

#4005 docs: clarify plugin hook filter behavior
  docs/guide/plugin-development.md
Labels: needs-triage

#4011 chore(rolldown): disable `tsBuildInfoFile`
  packages/rolldown/tsconfig.json
Labels: needs-triage

#4022 chore(renovate): split rust / npm changes
  .github/actions/setup-rust/action.yml
  .github/renovate.json
Labels: needs-triage

#4020 refactor(plugin): replace `impl Future` with `async fn` in async hooks
  crates/rolldown_plugin_data_url/src/data_url_plugin.rs
  crates/rolldown_plugin_replace/tests/form/typescript_declare/mod.rs
Labels: needs-triage

#3978 fix: runtime module should get executed first always
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/stages/generate_stage/advanced_chunks.rs
  crates/rolldown/tests/rolldown/function/advanced_chunks/basic/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/issue_2617/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/max_module_size/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/max_module_size_fallback/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/max_size/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/max_size2/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/max_size3/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/min_module_size/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/min_module_size_fallback/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/min_share_count/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/min_share_count_fallback/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/min_size/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/min_size_fallback/artifacts.snap
  crates/rolldown/tests/rolldown/function/advanced_chunks/split_node_modules/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3437/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3650/_config.json
  crates/rolldown/tests/rolldown/issues/3650/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3650/first.js
  crates/rolldown/tests/rolldown/issues/3650/main.js
  crates/rolldown/tests/rolldown/issues/3650/second.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/advanced_chunks_options.rs
  crates/rolldown_testing/_config.schema.json
  docs/.vitepress/config.ts
  docs/guide/in-depth/advanced-chunks.md
Labels: needs-triage

#4028 chore: code fmt
  docs/guide/in-depth/advanced-chunks.md
Labels: needs-triage

#4029 refactor(rust): simplify `detect_side_effect_of_var_decl`
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
Labels: needs-triage

#4031 chore(infra): replace `prettier` with `dprint`
  .vscode/extensions.json
  .vscode/settings.json
  docs/.vitepress/config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixtures/a/index.ts
Labels: needs-triage

#4030 perf(rolldown_plugin_json): use `concat_string!` instead of `format!`
  crates/rolldown_plugin_json/src/lib.rs
Labels: needs-triage

#4008 perf: lazy renderChunk meta#chunks
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_render_chunk_meta_chunks.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#4032 chore: remove unnecessary taplo
  cspell.json
  justfile
Labels: needs-triage

#4026 fix(isolated_declaration): skip external id
  crates/rolldown_plugin_isolated_declaration/src/lib.rs
  crates/rolldown_plugin_isolated_declaration/tests/external/_config.json
  crates/rolldown_plugin_isolated_declaration/tests/external/artifacts.snap
  crates/rolldown_plugin_isolated_declaration/tests/external/main.ts
Labels: needs-triage

#4033 chore(infra): replace `npm-run-all` with `npm-run-all2`
  package.json
  packages/rolldown/package.json
  pnpm-lock.yaml
Labels: needs-triage

#4035 chore(infra): dprint fmt
  crates/rolldown_plugin_isolated_declaration/tests/external/main.ts
  dprint.json
  packages/rolldown/src/browser.js
Labels: needs-triage

#4042 refactor(rust): improve `rolldown_plugin_module_preload_polyfill`
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin_module_preload_polyfill/README.md
  crates/rolldown_plugin_module_preload_polyfill/src/lib.rs
  crates/rolldown_plugin_module_preload_polyfill/src/module-preload-polyfill.js
  packages/rolldown/tests/fixtures/builtin-plugin/module-preload-polyfill/basic/main.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/module-preload-polyfill/cjs/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/module-preload-polyfill/skip/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/module-preload-polyfill/skip/main.js
Labels: needs-triage

#4036 chore(infra): drop `npm-run-all2`
  examples/module-federation/package.json
  package.json
  packages/rolldown/package.json
  packages/wasi/package.json
  pnpm-lock.yaml
Labels: needs-triage

#4043 chore(infra): tweak `pnpm run` ordering
  packages/rolldown/package.json
  packages/wasi/package.json
Labels: needs-triage

#4003 chore(rolldown): oxc v0.62.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/link_stage/generate_lazy_export.rs
  crates/rolldown/src/utils/mod.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/esbuild/dce/drop_label_tree_shaking_bug_issue3311/artifacts.snap
  crates/rolldown/tests/esbuild/dce/drop_labels/artifacts.snap
  crates/rolldown/tests/esbuild/dce/inline_empty_function_calls/artifacts.snap
  crates/rolldown/tests/esbuild/dce/inline_identity_function_calls/artifacts.snap
  crates/rolldown/tests/esbuild/dce/multiple_declaration_tree_shaking/artifacts.snap
  crates/rolldown/tests/esbuild/dce/multiple_declaration_tree_shaking_minify_syntax/artifacts.snap
  crates/rolldown/tests/esbuild/default/.named_function_expression_argument_collision/_config.json
  crates/rolldown/tests/esbuild/default/.named_function_expression_argument_collision/artifacts.snap
  crates/rolldown/tests/esbuild/default/.named_function_expression_argument_collision/bypass.md
  crates/rolldown/tests/esbuild/default/.named_function_expression_argument_collision/diff.config.js
  crates/rolldown/tests/esbuild/default/.named_function_expression_argument_collision/entry.js
  crates/rolldown/tests/esbuild/default/keep_names_all_forms/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/esbuild/ts/ts_declare_class/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_declare_function/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_enum_tree_shaking/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_enum_tree_shaking/diff.md
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/allocator_helpers/mod.rs
  crates/rolldown_ecmascript_utils/src/allocator_helpers/take_in/impl_for_oxc_allocator.rs
  crates/rolldown_ecmascript_utils/src/allocator_helpers/take_in/impl_for_oxc_ast.rs
  crates/rolldown_ecmascript_utils/src/allocator_helpers/take_in/impl_for_oxc_syntax.rs
  crates/rolldown_ecmascript_utils/src/allocator_helpers/take_in/mod.rs
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
  crates/rolldown_ecmascript_utils/src/extensions/allocator_ext.rs
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/binding_pattern_ext.rs
  crates/rolldown_ecmascript_utils/src/extensions/mod.rs
  crates/rolldown_ecmascript_utils/src/lib.rs
  cspell.json
  package.json
  packages/rolldown/package.json
  packages/rollup-tests/package.json
  pnpm-lock.yaml
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#4050 feat: export `ResolveIdExtraOptions`
  packages/rolldown/src/index.ts
  packages/rolldown/src/plugin/index.ts
Labels: needs-triage

#4053 feat: add hmr option binding
  crates/rolldown_binding/src/options/binding_input_options/binding_experimental_options.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
Labels: needs-triage, trigger: preview

#4052 chore: add `preinstall` script
  package.json
  packages/rolldown/package.json
  packages/wasi/package.json
Labels: needs-triage

#4056 fix: avoid hang if load error
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_context.rs
  crates/rolldown_plugin/src/plugin_context.rs
  crates/rolldown_plugin/src/plugin_driver/mod.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/tests/fixtures/plugin/context/load-happend-error/_config.ts
  packages/rolldown/tests/fixtures/plugin/context/load-happend-error/main.js
Labels: needs-triage

#4010 refactor(rolldown): flatten dist & cleanup
  packages/rolldown/bin/cli.js
  packages/rolldown/bin/cli.mjs
  packages/rolldown/build-binding.js
  packages/rolldown/build-binding.mts
  packages/rolldown/build.ts
  packages/rolldown/package.json
  packages/wasi/bin/cli.js
  packages/wasi/bin/cli.mjs
  packages/wasi/package.json
Labels: needs-triage, trigger: preview

#4057 feat: support RolldownBuild#watchFiles
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/types/bundle_output.rs
  crates/rolldown/src/watch/watcher_task.rs
  crates/rolldown_binding/src/bundler.rs
  packages/rolldown/src/api/rolldown/rolldown-build.ts
  packages/rolldown/src/binding.d.ts
  packages/rolldown/tests/build-api/build-api.test.ts
Labels: needs-triage

#4055 chore(rolldown): oxc v0.63.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/stages/link_stage/generate_lazy_export.rs
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/esbuild/ts/ts_enum_tree_shaking/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_enum_tree_shaking/diff.md
  crates/rolldown/tests/esbuild/ts/ts_sibling_enum/artifacts.snap
  crates/rolldown/tests/esbuild/ts/ts_sibling_enum/diff.md
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
  package.json
  packages/rolldown/package.json
  packages/rollup-tests/package.json
  packages/wasi/package.json
  pnpm-lock.yaml
Labels: needs-triage

#4063 perf(node): cache properties of `OutputChunk` and `OutputAsset`
  packages/rolldown/src/utils/transform-to-rollup-output.ts
Labels: needs-triage

#4064 chore(infra): fix duplicate tasks
  packages/rolldown/package.json
Labels: needs-triage

#4065 docs: correct description of multiple filter property case
  docs/guide/plugin-development.md
Labels: needs-triage

#4069 docs: remove stale release description
  docs/guide/getting-started.md
Labels: needs-triage

#4073 chore(rust): unify naming conventions for built-in plugins
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_manifest/src/lib.rs
  crates/rolldown_plugin_replace/src/plugin.rs
  crates/rolldown_plugin_wasm_fallback/src/lib.rs
Labels: needs-triage

#4072 refactor(rust): improve `rolldown_plugin_import_glob`
  Cargo.lock
  crates/rolldown_plugin_import_glob/Cargo.toml
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_import_glob/src/utils.rs
  cspell.json
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/virtual-modules/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/virtual-modules/index.ts.snap
Labels: needs-triage

#4078 chore: remove unused module
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/cache.rs
  crates/rolldown_common/src/types/mod.rs
Labels: needs-triage

#3979 feat(docs): generate `llms.txt` and `llms-full.txt`
  docs/.vitepress/config.ts
  docs/netlify.toml
  docs/package.json
  pnpm-lock.yaml
Labels: needs-triage

#4083 refactor(rust): improve `rolldown_plugin_data_uri`
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/utils/apply_inner_plugins.rs
  crates/rolldown_plugin_data_uri/Cargo.toml
  crates/rolldown_plugin_data_uri/src/lib.rs
  crates/rolldown_plugin_data_url/src/lib.rs
Labels: needs-triage

#4082 test(node): improve `rolldown_plugin_wasm_fallback` test
  packages/rolldown/tests/fixtures/builtin-plugin/wasm-fallback/_config.ts
Labels: needs-triage

#4086 chore: add plugin execution time tracing
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/plugin_driver/output_hooks.rs
Labels: needs-triage

#4088 chore(rolldown_plugin_data_uri): add `README.md`
  crates/rolldown_plugin_data_uri/README.md
Labels: needs-triage

#4089 test(node): correct directory name for test cases
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/absolute-glob-expr/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/absolute-glob-expr/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/absolute-glob-expr/src/dir/a.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/absolute-glob-expr/src/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/basic/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/basic/dir/b.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/basic/dir/index.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/basic/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/eager/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/eager/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/eager/dir/index.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/eager/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/parent/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/parent/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/parent/dir/a.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/parent/dir/b.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/parent/src/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query-object/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query-object/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query-object/dir/b.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query-object/dir/b.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query-object/dir/index.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query-object/dir/index.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query-object/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query/dir/b.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query/dir/b.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query/dir/index.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query/dir/index.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/query/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/restore-query-extension/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/restore-query-extension/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/restore-query-extension/dir/b.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/restore-query-extension/dir/b.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/restore-query-extension/dir/index.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/restore-query-extension/dir/index.js.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/restore-query-extension/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/star-star-dot-syntax/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/star-star-dot-syntax/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/star-star-dot-syntax/dir/a.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/star-star-dot-syntax/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/a/.gitignore
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/a/modules/a.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/a/modules/b.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/a/modules/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/a/node_modules/framework/pages/hello.page.js
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/a/sibling.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/b/a.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/b/b.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/fixtures/b/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/restore-query-extension/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/restore-query-extension/index.ts.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/transform/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/transform/index.ts.snap
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/virtual-modules/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/virtual-modules/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/import-glob/vite/virtual-modules/index.ts.snap
Labels: needs-triage

#4087 feat: add `withFilter` util function
  packages/rolldown/src/index.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/with-filter.ts
  packages/rolldown/tests/fixtures/plugin/transform/with-filter/_config.ts
  packages/rolldown/tests/fixtures/plugin/transform/with-filter/a.ts
  packages/rolldown/tests/fixtures/plugin/transform/with-filter/foo.js
  packages/rolldown/tests/fixtures/plugin/transform/with-filter/main.js
Labels: needs-triage

#4091 refactor(rolldown_plugin_json): move utility functions to `utils.rs`
  crates/rolldown_plugin_json/src/lib.rs
  crates/rolldown_plugin_json/src/utils.rs
Labels: needs-triage

#4096 chore(infra): remove unnecessary `why-is-node-running`
  packages/rolldown/package.json
  pnpm-lock.yaml
Labels: needs-triage

#4098 chore: add vscode readonly files
  .vscode/settings.json
Labels: needs-triage

#4081 refactor(rust): improve `rolldown_plugin_wasm_helper`
  Cargo.lock
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_plugin_wasm_helper/Cargo.toml
  crates/rolldown_plugin_wasm_helper/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/wasm-helper/.gitignore
  packages/rolldown/tests/fixtures/builtin-plugin/wasm-helper/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/wasm-helper/add.wasm
  packages/rolldown/tests/fixtures/builtin-plugin/wasm-helper/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/wasm/_config.ts
Labels: needs-triage

#4100 refactor(rolldown_plugin_json): rename `is_build` to `minify`
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_json/src/lib.rs
  crates/rolldown_plugin_json/src/utils.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/build/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/named-exports/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects-named/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/json/vite/6/_config.ts
Labels: needs-triage

#4102 refactor(rust): improve error message related to reach hash limit
  crates/rolldown_utils/src/hash_placeholder.rs
Labels: needs-triage

#4074 fix: named_function_expression_argument
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/_config.json
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/artifacts.snap
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/bypass.md
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/diff.config.js
  crates/rolldown/tests/esbuild/default/named_function_expression_argument_collision/entry.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/deconflict.rs
  crates/rolldown_common/src/types/mod.rs
  crates/rolldown_common/src/types/symbol_ref_db.rs
  crates/rolldown_utils/src/index_vec_ext.rs
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#4094 feat(debug): set up event-based tracking system for bundler actions
  .cargo/config.toml
  .github/workflows/benchmark-rust.yml
  .gitignore
  .ls-lint.json
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/bundler_builder.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/utils/transform_source.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_debug_options.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/utils/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/debug_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_debug/Cargo.toml
  crates/rolldown_debug/src/build_id_propagate_layer.rs
  crates/rolldown_debug/src/debug_formatter.rs
  crates/rolldown_debug/src/init_tracing.rs
  crates/rolldown_debug/src/lib.rs
  crates/rolldown_debug/src/trace_action_macro.rs
  crates/rolldown_debug_action/Cargo.toml
  crates/rolldown_debug_action/src/definitions/hook_transform_call_end.rs
  crates/rolldown_debug_action/src/definitions/hook_transform_call_start.rs
  crates/rolldown_debug_action/src/definitions/mod.rs
  crates/rolldown_debug_action/src/lib.rs
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_testing/_config.schema.json
  crates/rolldown_tracing/Cargo.toml
  crates/rolldown_tracing/src/lib.rs
  cspell.json
  examples/basic-typescript/rolldown.config.js
  packages/debug/package.json
  packages/debug/src/generated/Action.ts
  packages/debug/src/generated/HookTransformCallEnd.ts
  packages/debug/src/generated/HookTransformCallStart.ts
  packages/debug/src/generated/index.ts
  packages/debug/src/index.ts
  packages/debug/tsconfig.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  pnpm-lock.yaml
  scripts/src/gen-debug-action-types.ts
  scripts/tsconfig.json
Labels: needs-triage

#4085 refactor(rust): improve `rolldown_plugin_load_fallback`
  Cargo.lock
  crates/rolldown_plugin_load_fallback/Cargo.toml
  crates/rolldown_plugin_load_fallback/src/lib.rs
Labels: needs-triage

#4105 fix: don't unwatch files when close watcher
  crates/rolldown/src/watch/watcher.rs
Labels: needs-triage

#4107 chore: prepare release `@rolldown/debug`
  .cargo/config.toml
  .github/workflows/publish-to-npm-for-nightly-canary.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/publish-to-pkg.pr.new.yml
  .github/workflows/reusable-release-build.yml
  packages/debug/package.json
  packages/debug/src/generated/index.ts
  packages/debug/src/index.ts
  packages/debug/tsconfig.json
  scripts/misc/published-package-check.mjs
  scripts/src/gen-debug-action-types.ts
Labels: needs-triage

#4110 docs: add rolldown video
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/RolldownVideoModal.vue
  docs/.vitepress/theme/components/overrides/VPHero.vue
  docs/index.md
  docs/package.json
  docs/tsconfig.json
  pnpm-lock.yaml
Labels: needs-triage

#4106 fix: support nested plugin for withFilter
  packages/rolldown/src/plugin/with-filter.ts
  packages/rolldown/tests/fixtures/plugin/transform/with-filter-nested/_config.ts
  packages/rolldown/tests/fixtures/plugin/transform/with-filter-nested/a.ts
  packages/rolldown/tests/fixtures/plugin/transform/with-filter-nested/foo.js
  packages/rolldown/tests/fixtures/plugin/transform/with-filter-nested/main.js
Labels: needs-triage

#4109 chore(rolldown_debug): add necessary features for `tracing-subscriber`
  crates/rolldown_debug/Cargo.toml
Labels: needs-triage

#4115 feat: add hmr runtime implement option
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_experimental_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/hmr_options.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#4116 feat(hmr): export hmr boundary info
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_binding/src/types/binding_hmr_output.rs
  crates/rolldown_binding/src/types/mod.rs
  crates/rolldown_common/src/hmr/hmr_boundary.rs
  crates/rolldown_common/src/hmr/hmr_output.rs
  crates/rolldown_common/src/hmr/mod.rs
  crates/rolldown_common/src/lib.rs
  packages/rolldown/src/api/rolldown/rolldown-build.ts
  packages/rolldown/src/binding.d.ts
  packages/test-dev-server/src/index.ts
Labels: needs-triage

#4112 feat: initial implementation of `@rolldown/browser`
  .github/workflows/ci.yml
  .github/workflows/publish-to-npm-for-nightly-canary.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/publish-to-pkg.pr.new.yml
  .github/workflows/reusable-browser-test.yml
  .github/workflows/reusable-release-build.yml
  .vscode/settings.json
  docs/contrib-guide/building-and-running.md
  justfile
  packages/browser/bin/cli.mjs
  packages/browser/package.json
  packages/rolldown/build.ts
  packages/rolldown/package.json
  packages/rolldown/src/binding.js
  packages/rolldown/src/cli/colors.ts
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/cli/commands/help.ts
  packages/rolldown/src/log/logs.ts
  packages/rolldown/src/plugin/with-filter.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/types.d.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/src/utils/initialize-parallel-plugins.ts
  packages/rolldown/src/utils/misc.ts
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/src/utils/validator.ts
  pnpm-lock.yaml
  scripts/misc/published-package-check.mjs
Labels: needs-triage, trigger: preview

#4117 fix(debug): prevent multiple writes on the same file
  Cargo.lock
  crates/rolldown_debug/Cargo.toml
  crates/rolldown_debug/src/debug_formatter.rs
Labels: needs-triage, trigger: preview

#4124 chore(infra): ignore generated bindings type from `rolldown_debug_action`
  .gitignore
Labels: needs-triage

#4125 refactor(browser): drop cdn import of browser
  packages/browser/package.json
  packages/rolldown/build.ts
Labels: needs-triage, trigger: preview

#4123 refactor(rust): simplify `visit_object_property`
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
Labels: needs-triage

#4108 fix(build): handle empty dependencies in rolldown configuration
  packages/rolldown/build.ts
Labels: needs-triage

#4131 fix(hmr): should generate correct commonjs wrapper
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/rolldown/issues/4129/_config.json
  crates/rolldown/tests/rolldown/issues/4129/artifacts.snap
  crates/rolldown/tests/rolldown/issues/4129/lib.js
  crates/rolldown/tests/rolldown/issues/4129/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4127 refactor(rolldown_plugin_transform): move utils logic to `utils.rs`
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_plugin_transform/src/utils.rs
Labels: needs-triage

#4137 fix(rust): `preserve-legal` should correspond to `Comments::PreserveLegal`
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
Labels: needs-triage

#4142 refactor(rust): use `Default` trait to simplify `SymbolRefDataClassic` init
  crates/rolldown_common/src/types/ast_scopes.rs
  crates/rolldown_common/src/types/symbol_ref_db.rs
Labels: needs-triage

#4140 refactor(rolldown_plugin_transform): port `get_modified_transform_options` from `rolldown-vite`
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_plugin_transform/src/utils.rs
Labels: needs-triage

#4148 feat(debug): add `plugin_index` hook-related events
  crates/rolldown_debug_action/src/definitions/hook_load_call_end.rs
  crates/rolldown_debug_action/src/definitions/hook_load_call_start.rs
  crates/rolldown_debug_action/src/definitions/hook_transform_call_end.rs
  crates/rolldown_debug_action/src/definitions/hook_transform_call_start.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  packages/debug/src/generated/HookLoadCallEnd.ts
  packages/debug/src/generated/HookLoadCallStart.ts
  packages/debug/src/generated/HookTransformCallEnd.ts
  packages/debug/src/generated/HookTransformCallStart.ts
Labels: needs-triage, trigger: preview

#4149 perf(rust): use `into_owned` instead of `to_string` to avoid unnecessary allocation
  crates/rolldown_utils/src/pattern_filter.rs
Labels: needs-triage

#4136 feat: partial builtin report plugin
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_builtin_plugin_name.rs
  crates/rolldown_plugin_report/Cargo.toml
  crates/rolldown_plugin_report/README.md
  crates/rolldown_plugin_report/src/lib.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/builtin-plugin/constructors.ts
  packages/rolldown/src/experimental-index.ts
Labels: needs-triage

#4155 test(rolldown_plugin_transform): temporarily disable test cases
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/exclude/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/include/_config.ts
Labels: needs-triage

#4156 fix: avoid load again if load success at concurrent load
  crates/rolldown_plugin/src/plugin_driver/mod.rs
  packages/rolldown/src/plugin/plugin-context.ts
Labels: needs-triage

#4157 fix: make sure flush before write into stdio
  crates/rolldown_plugin_report/src/lib.rs
Labels: needs-triage

#4158 fix: clear js side cache at bundle fininsh
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/invalidate_js_side_cache.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/plugin-context-data.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
Labels: needs-triage

#4152 refactor(rolldown_plugin_transform): clear the original misaligned logic
  Cargo.lock
  crates/rolldown_plugin_transform/Cargo.toml
  crates/rolldown_plugin_transform/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/ecma-transform/basic/_config.ts
Labels: needs-triage

#4163 docs: fix light mode modal link
  docs/.vitepress/theme/components/RolldownVideoModal.vue
Labels: needs-triage

#4162 chore: add `dprint` to onlyBuiltDependencies
  pnpm-workspace.yaml
Labels: needs-triage

#4167 fix: typo in example code
  docs/guide/in-depth/tla-in-rolldown.md
Labels: needs-triage

#4173 refactor(rust): simplify `match` branch logic
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/string_wizard/src/magic_string/mod.rs
Labels: needs-triage

#4169 refactor(rolldown_plugin_transform): refactor: watch `tsconfig.json` outside of `cwd`
  crates/rolldown_plugin_transform/src/utils.rs
Labels: needs-triage

#4176 chore: Revert "chore: add `dprint` to onlyBuiltDependencies"
  pnpm-workspace.yaml
Labels: needs-triage

#4168 feat(debug): add lifecycle-related events
  Cargo.lock
  crates/rolldown/Cargo.toml
  crates/rolldown/src/bundler.rs
  crates/rolldown_debug_action/src/definitions/build_end.rs
  crates/rolldown_debug_action/src/definitions/build_start.rs
  crates/rolldown_debug_action/src/definitions/mod.rs
  crates/rolldown_debug_action/src/lib.rs
  packages/debug/src/generated/Action.ts
  packages/debug/src/generated/BuildEnd.ts
  packages/debug/src/generated/BuildStart.ts
  packages/debug/src/generated/index.ts
Labels: needs-triage, trigger: preview

#4182 feat(debug): add `DebugTracer` for improved tracing management
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/bundler_builder.rs
  crates/rolldown_debug/src/init_tracing.rs
  crates/rolldown_debug/src/lib.rs
Labels: needs-triage

#4186 refactor(rolldown_transform_plugin): implement `From` for `TransformOptions`
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_plugin_transform/src/types/decorator_options.rs
  crates/rolldown_plugin_transform/src/types/jsx_options.rs
  crates/rolldown_plugin_transform/src/types/transform_options.rs
  crates/rolldown_plugin_transform/src/types/typescript_options.rs
  crates/rolldown_plugin_transform/src/utils.rs
Labels: needs-triage

#4181 feat: add hook usage meta
  Cargo.lock
  crates/rolldown/tests/rolldown/errors/entry_cannot_be_external/mod.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/basic/mod.rs
  crates/rolldown/tests/rolldown/function/asset_filenames/mod.rs
  crates/rolldown/tests/rolldown/issues/1733/mod.rs
  crates/rolldown/tests/rolldown/plugin/plugin_context/custom_arg_in_resolve/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/options/plugin/parallel_js_plugin.rs
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/generated/hook_usage.rs
  crates/rolldown_plugin/src/generated/mod.rs
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin/src/plugin.rs
  crates/rolldown_plugin_alias/src/lib.rs
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_data_uri/src/lib.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_isolated_declaration/src/lib.rs
  crates/rolldown_plugin_json/src/lib.rs
  crates/rolldown_plugin_load_fallback/src/lib.rs
  crates/rolldown_plugin_manifest/src/lib.rs
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_preload_polyfill/src/lib.rs
  crates/rolldown_plugin_replace/src/plugin.rs
  crates/rolldown_plugin_replace/tests/form/typescript_declare/mod.rs
  crates/rolldown_plugin_report/src/lib.rs
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
  crates/rolldown_plugin_wasm_fallback/src/lib.rs
  crates/rolldown_plugin_wasm_helper/src/lib.rs
  cspell.json
  packages/rolldown/src/plugin/bindingify-plugin.ts
  packages/rolldown/src/plugin/generated/hook-usage.ts
  tasks/generator/src/generators/hook_usage.rs
  tasks/generator/src/generators/mod.rs
  tasks/generator/src/main.rs
Labels: needs-triage

#4191 fix: deconfilct chunk name after name generated
  Cargo.lock
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/tests/rolldown/function/chunk_filenames_function/a/foo.js
  crates/rolldown/tests/rolldown/function/chunk_filenames_function/artifacts.snap
  crates/rolldown/tests/rolldown/function/chunk_filenames_function/b/foo.js
  crates/rolldown/tests/rolldown/function/chunk_filenames_function/entry.js
  crates/rolldown/tests/rolldown/function/chunk_filenames_function/mod.rs
  crates/rolldown/tests/rolldown/function/mod.rs
  crates/rolldown/tests/rolldown/issues/4129/_config.json
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/make_unique_name.rs
Labels: needs-triage

#4197 fix(rust): crashes with object containing `shorthand` to `NaN`
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/tests/rolldown/issues/4196/_config.json
  crates/rolldown/tests/rolldown/issues/4196/artifacts.snap
  crates/rolldown/tests/rolldown/issues/4196/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4199 chore(examples/par-plugin): correct tsconfig `extends` path
  examples/par-plugin/tsconfig.json
Labels: needs-triage

#4201 feat(cli): support `--input` option
  packages/rolldown/src/cli/arguments/normalize.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/cli-multi-entries/1.ts
  packages/rolldown/tests/cli/fixtures/cli-multi-entries/2.js
Labels: needs-triage

#4202 feat(cli): enable `using` syntax sugar
  packages/rolldown/src/cli/commands/bundle.ts
Labels: needs-triage

#4204 perf: make js plugin tracing more accurate
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
Labels: needs-triage

#4207 chore(deps): bump `oxc_resolver`
  Cargo.lock
Labels: needs-triage

#4200 refactor(rolldown): bundling dts by `rolldown-plugin-dts`
  .github/workflows/reusable-release-build.yml
  packages/browser/package.json
  packages/rolldown/build.ts
  packages/rolldown/package.json
  packages/rolldown/tsconfig.check.json
  pnpm-lock.yaml
Labels: needs-triage, trigger: preview

#4206 refactor(rolldown_transform_plugin): complete `From<BindingTransformPluginConfig>` implementation
  Cargo.lock
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_plugin_transform/src/types/mod.rs
  crates/rolldown_plugin_transform/src/utils.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#4219 fix: attach more comments related to export decl
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/artifacts.snap
  crates/rolldown/tests/esbuild/dce/no_side_effects_comment/diff.md
  crates/rolldown/tests/esbuild/default/legal_comments_avoid_slash_tag_end_of_file/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_avoid_slash_tag_external/artifacts.snap
  crates/rolldown/tests/esbuild/default/legal_comments_avoid_slash_tag_inline/artifacts.snap
  crates/rolldown/tests/rolldown/function/module_types/asset/artifacts.snap
  crates/rolldown/tests/rolldown/issues/4006/a.js
  crates/rolldown/tests/rolldown/issues/4006/artifacts.snap
  crates/rolldown/tests/rolldown/issues/4006/b.js
  crates/rolldown/tests/rolldown/issues/4006/main.js
  crates/rolldown/tests/rolldown/misc/object_shorthand_property/artifacts.snap
  crates/rolldown/tests/rolldown/misc/wrapped_esm/artifacts.snap
  crates/rolldown/tests/rolldown/sourcemap/live_binding/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/complex_params_patterns/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/decl_complex_patterns/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/decl_nested_assign_pattern/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/default_function/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/wrapped_esm_default_function/artifacts.snap
  crates/rolldown/tests/rolldown/topics/deconflict/wrapped_esm_export_named_function/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/multi-declarator/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/tests/fixtures/output/sourcemap/true/_config.ts
Labels: needs-triage

#4221 refactor(rust): simplify `match` with `if let` in `visit_import_expression`
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
Labels: needs-triage

#4222 refactor(rust): simplify `match` in `transform_named_declaration`
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
Labels: needs-triage

#4224 refactor(rust): inline unncessary `forcefully_include_all_statements`
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
Labels: needs-triage

#4223 refactor(rust): simplify `rewrite_simple_assignment_target`
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
Labels: needs-triage

#4225 refactor(rust): update display string for `UrlImport` to `url-token`
  crates/rolldown_common/src/types/import_kind.rs
Labels: needs-triage

#4226 refactor(rust): improve `determine_side_effects`
  crates/rolldown/src/stages/link_stage/tree_shaking/determine_side_effects.rs
Labels: needs-triage

#4180 feat(debug): add events about `resolve_id` hook
  crates/rolldown_debug_action/src/definitions/hook_resolve_id_call_end.rs
  crates/rolldown_debug_action/src/definitions/hook_resolve_id_call_start.rs
  crates/rolldown_debug_action/src/definitions/mod.rs
  crates/rolldown_debug_action/src/lib.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  packages/debug/src/generated/Action.ts
  packages/debug/src/generated/HookResolveIdCallEnd.ts
  packages/debug/src/generated/HookResolveIdCallStart.ts
  packages/debug/src/generated/index.ts
Labels: needs-triage, trigger: preview

#4229 build: add `@rolldown/debug` to pkg.pr.new build
  .github/workflows/publish-to-pkg.pr.new.yml
Labels: needs-triage

#4228 chore: improve error message
  crates/rolldown_error/src/events/unhandleable_error.rs
Labels: needs-triage

#4230 docs: clearify filter id attribute
  docs/guide/plugin-development.md
Labels: needs-triage

#4216 perf(rust): use `phf_set` for large datasets
  Cargo.lock
  Cargo.toml
  crates/rolldown_common/src/ecmascript/node_builtin_modules.rs
  crates/rolldown_plugin_vite_resolve/src/utils.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/global_reference.rs
  crates/rolldown_utils/src/light_guess.rs
Labels: needs-triage

#4235 feat(rolldown): oxc v0.65.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/bypass.md
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  package.json
  packages/browser/package.json
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rollup-tests/package.json
  pnpm-lock.yaml
Labels: needs-triage

#4236 chore: remove minification warning for prod
  packages/rolldown/src/log/logs.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/tests/fixtures/tree-shake/minify/_config.ts
Labels: needs-triage

#4232 feat: rolldown_filter_analyzer
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown_ecmascript/src/ecma_ast/helpers.rs
  crates/rolldown_filter_analyzer/Cargo.toml
  crates/rolldown_filter_analyzer/src/lib.rs
  crates/rolldown_filter_analyzer/src/test.rs
Labels: needs-triage

#4239 release: v1.0.0-beta.8
  CHANGELOG.md
  packages/browser/package.json
  packages/debug/package.json
  packages/rolldown/npm/darwin-arm64/package.json
  packages/rolldown/npm/darwin-x64/package.json
  packages/rolldown/npm/freebsd-x64/package.json
  packages/rolldown/npm/linux-arm-gnueabihf/package.json
  packages/rolldown/npm/linux-arm64-gnu/package.json
  packages/rolldown/npm/linux-arm64-musl/package.json
  packages/rolldown/npm/linux-x64-gnu/package.json
  packages/rolldown/npm/linux-x64-musl/package.json
  packages/rolldown/npm/wasm32-wasi/package.json
  packages/rolldown/npm/win32-arm64-msvc/package.json
  packages/rolldown/npm/win32-ia32-msvc/package.json
  packages/rolldown/npm/win32-x64-msvc/package.json
  packages/rolldown/package.json
Labels: needs-triage

#4234 refactor(rolldown_plugin_transform): improve `normalizeEcmaTransformPluginConfig`
  packages/rolldown/src/builtin-plugin/transform-plugin.ts
Labels: needs-triage

#4218 refactor(normal_module): refactor ESM namespace generation
  crates/rolldown_common/src/module/normal_module.rs
Labels: needs-triage

#4240 fix: don't minify .d.ts related chunk
  crates/rolldown/src/stages/generate_stage/minify_assets.rs
  packages/rolldown/tests/fixtures/output/minify-exclude-dts/_config.ts
  packages/rolldown/tests/fixtures/output/minify-exclude-dts/main.js
  packages/rolldown/tests/fixtures/output/minify-exclude-dts/snap/main-CbI6foa0.js.snap
  packages/rolldown/tests/fixtures/output/minify-exclude-dts/snap/main.d.ts.snap
  packages/rolldown/tests/fixtures/output/minify-exclude-dts/snap/main.js.snap
  packages/rolldown/tests/main.d.ts.snap
Labels: needs-triage

#4241 fix(rolldown_transform_plugin): incorrect detection of file extension
  crates/rolldown_plugin_transform/src/lib.rs
  packages/rolldown/src/builtin-plugin/transform-plugin.ts
Labels: needs-triage

#4244 fix: align sanitize_filename with rollup
  crates/rolldown_utils/src/sanitize_filename.rs
Labels: needs-triage

#4251 refactor(debug): flatten `fields` of event
  crates/rolldown_debug/src/debug_formatter.rs
  packages/debug/src/index.ts
Labels: needs-triage

#4260 docs: correct filter examples and id behavior description
  docs/guide/plugin-development.md
  packages/rolldown/src/plugin/hook-filter.ts
Labels: needs-triage

#4262 feat: validate hoistTransitiveImports
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/validate-option.test.ts
Labels: needs-triage

#4247 fix(plugin/vite-resolve): align default externalize logic with Vite
  crates/rolldown_plugin_vite_resolve/src/external.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
Labels: needs-triage

#4263 fix: using original error if normalize original plugin error has error
  packages/rolldown/src/log/logs.ts
  packages/rolldown/tests/error/error.test.ts
Labels: needs-triage

#4266 feat(plugin/transform): allow readonly array for options
  packages/rolldown/src/builtin-plugin/transform-plugin.ts
  packages/rolldown/src/utils/normalize-string-or-regex.ts
Labels: needs-triage

#4255 feat(debug): inject `call_id` for each pair of `HookResolveIdCall` events
  Cargo.lock
  Cargo.toml
  crates/rolldown_debug/Cargo.toml
  crates/rolldown_debug/src/debug_formatter.rs
  crates/rolldown_debug_action/src/definitions/hook_resolve_id_call_end.rs
  crates/rolldown_debug_action/src/definitions/hook_resolve_id_call_start.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/time.rs
  packages/debug/src/generated/HookResolveIdCallEnd.ts
  packages/debug/src/generated/HookResolveIdCallStart.ts
Labels: trigger: preview

#4267 refactor(rolldown_plugin_alias): improve code structure
  crates/rolldown_plugin_alias/src/lib.rs
Labels: needs-triage

#4273 ci: remove `needs-triage` label when issues get assigned
  .github/workflows/automate-jobs.yml
Labels: needs-triage

#4276 fix: should try to resolve `.json` extension by default
  crates/rolldown/tests/rolldown/issues/4274/_config.json
  crates/rolldown/tests/rolldown/issues/4274/artifacts.snap
  crates/rolldown/tests/rolldown/issues/4274/main.js
  crates/rolldown/tests/rolldown/issues/4274/package.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_resolver/src/resolver.rs
Labels: needs-triage

#4278 refactor(rolldown_plugin_manifest): move utils logic to `utils.rs`
  crates/rolldown_plugin_manifest/src/lib.rs
  crates/rolldown_plugin_manifest/src/utils.rs
Labels: needs-triage

#4281 refactor(rolldown_plugin_dynamic_import_vars): move ast visit logic to `ast_visit.rs`
  crates/rolldown_plugin_dynamic_import_vars/src/ast_visit.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
Labels: needs-triage

#4291 refactor(plugin/vite-resolve): remove workaround code for oxc-resolver v2 bug
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
Labels: needs-triage

#4292 ci: fix `remove-needs-triage-when-assigned` job
  .github/workflows/automate-jobs.yml
Labels: needs-triage

#4293 fix(cli): `ROLLUP_WATCH` should be set when config is loaded
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/fixtures/watch-mode/rolldown.config.ts
Labels: needs-triage

#4294 fix: align validator with the actual types for `output.polyfillRequire` / `output.minify.deadCodeElimination`
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#4295 fix(debug): ensure emitting json object per line and correct types
  crates/rolldown_debug/src/debug_formatter.rs
  packages/debug/src/index.ts
Labels: needs-triage

#4298 fix(hmr): enable incremental_build
  crates/rolldown/src/utils/normalize_options.rs
Labels: needs-triage

#4297 ci: fix `remove-needs-triage-when-assigned` job again
  .github/workflows/automate-jobs.yml
Labels: needs-triage

#4302 ci: fix `remove-needs-triage-when-assigned` job again again
  .github/workflows/automate-jobs.yml
Labels: needs-triage

#4301 perf: avoid allocating unnecessary memory in runtime for module_types map
  crates/rolldown/src/utils/load_source.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
Labels: needs-triage

#4265 docs: add performance guide
  cspell.json
  docs/.vitepress/config.ts
  docs/guide/troubleshooting.md
Labels: needs-triage

#4307 feat: make `BindingMinifyOptions` fields optional
  crates/rolldown_binding/src/types/binding_minify_options.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#4309 feat(rolldown_plugin_dynamic_import_vars): introduce `resolver` option
  Cargo.lock
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_dynamic_import_vars/Cargo.toml
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#4305 fix: moduleSideEffects function should also apply to external module
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/module_loader.rs
  packages/rolldown/tests/fixtures/tree-shake/module-side-effects-function2/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/module-side-effects-function2/main.js
  packages/rolldown/tests/fixtures/tree-shake/module-side-effects-function2/mod.js
Labels: needs-triage

#4312 ci: publish to pkg.pr.new on every main commit
  .github/workflows/publish-to-pkg.pr.new.yml
Labels: needs-triage

#4315 fix: chunk.imports should include external imports
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown/src/utils/chunk/mod.rs
  packages/rolldown/tests/fixtures/plugin/render-chunk/render-chunk-external-import/_config.ts
  packages/rolldown/tests/fixtures/plugin/render-chunk/render-chunk-external-import/main.js
Labels: needs-triage

#4314 fix(hmr): accpet deps
  crates/rolldown/src/ast_scanner/hmr.rs
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown_common/src/types/hmr_info.rs
Labels: needs-triage

#4319 fix(hmr): reexport named declaration
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/hmr/hmr_manager.rs
Labels: needs-triage

#4317 ci: publish commits on main to pkg.pr.new with debouncing
  .github/workflows/publish-to-pkg.pr.new.yml
Labels: needs-triage

#4330 refactor: enable `isolatedModules` & `verbatimModuleSyntax`
  packages/rolldown/src/api/build.ts
  packages/rolldown/src/api/rolldown/rolldown-build.ts
  packages/rolldown/src/api/watch/index.ts
  packages/rolldown/src/api/watch/watch-emitter.ts
  packages/rolldown/src/api/watch/watcher.ts
  packages/rolldown/src/builtin-plugin/replace-plugin.ts
  packages/rolldown/src/builtin-plugin/transform-plugin.ts
  packages/rolldown/src/builtin-plugin/utils.ts
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/constants/plugin.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/options/normalized-input-options.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/options/watch-options.ts
  packages/rolldown/src/parse-ast-index.ts
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/bindingify-plugin-hook-meta.ts
  packages/rolldown/src/plugin/bindingify-watch-hooks.ts
  packages/rolldown/src/plugin/generated/hook-usage.ts
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/plugin/plugin-context-data.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/src/plugin/plugin-driver.ts
  packages/rolldown/src/plugin/transform-plugin-context.ts
  packages/rolldown/src/plugin/with-filter.ts
  packages/rolldown/src/types/module-info.ts
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/types/sourcemap.ts
  packages/rolldown/src/utils/asset-source.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/bindingify-output-options.ts
  packages/rolldown/src/utils/compose-js-plugins.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/src/utils/error.ts
  packages/rolldown/src/utils/normalize-hook.ts
  packages/rolldown/src/utils/normalize-plugin-option.ts
  packages/rolldown/src/utils/plugin/index.ts
  packages/rolldown/src/utils/transform-module-info.ts
  packages/rolldown/src/utils/transform-rendered-chunk.ts
  packages/rolldown/src/utils/transform-rendered-module.ts
  packages/rolldown/src/utils/transform-side-effects.ts
  packages/rolldown/src/utils/transform-sourcemap.ts
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tsconfig.json
  tasks/generator/src/generators/hook_usage.rs
Labels: needs-triage

#4328 feat(rolldown_plugin_dynamic_import_vars): prepare for custom resolver
  crates/rolldown_plugin_dynamic_import_vars/src/ast_visit.rs
  crates/rolldown_plugin_dynamic_import_vars/src/dynamic_import_to_glob.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
Labels: needs-triage

#4329 refactor: processing external module in tokio thread instead of main thread
  crates/rolldown/src/module_loader/external_module_task.rs
  crates/rolldown/src/module_loader/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module_loader/mod.rs
  crates/rolldown_common/src/module_loader/task_result.rs
Labels: needs-triage, trigger: preview
