Repository rolldown/rolldown, pull requests merged in 2025-05, with the labels that each got.

#4392 feat(rolldown): `oxc_resolver` v8
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/src/options/binding_input_options/binding_resolve_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/resolve_options.rs
  crates/rolldown_resolver/src/resolver.rs
  crates/rolldown_testing/_config.schema.json
Labels: needs-triage

#4101 chore: enable `shellEmulator` & remove `cross-env`
  package.json
  packages/browser/package.json
  packages/rolldown/package.json
  packages/rolldown/tests/package.json
  packages/rollup-tests/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#4396 refactor(rolldown_plugin): extract native plugin context
  crates/rolldown_plugin/src/plugin_context/mod.rs
  crates/rolldown_plugin/src/plugin_context/native_context.rs
  crates/rolldown_plugin/src/plugin_context/plugin_context.rs
Labels: needs-triage

#4395 chore: switch to oxnode
  cspell.json
  package.json
  packages/bench/package.json
  packages/rolldown/build.ts
  packages/rolldown/package.json
  packages/rolldown/src/log/locate-character/package.json
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
Labels: needs-triage

#4399 chore(infra): make script `lint-repo` work on windows
  package.json
Labels: needs-triage

#4403 refactor(rolldown_plugin_vite_resolve): migrate to new plugin context structure
  Cargo.lock
  crates/rolldown_binding/src/options/plugin/binding_callable_builtin_plugin.rs
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin/src/plugin_context/plugin_context.rs
  crates/rolldown_plugin_vite_resolve/Cargo.toml
  crates/rolldown_plugin_vite_resolve/src/callable_plugin.rs
  crates/rolldown_plugin_vite_resolve/src/lib.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
Labels: needs-triage

#4407 fix(cli): invalid type used with `--target`
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#4410 feat: expose `isolatedDeclaration`
  packages/rolldown/src/experimental-index.ts
Labels: needs-triage, tsdown

#4405 feat(rolldown): oxc v0.68.1
  Cargo.lock
  Cargo.toml
  crates/bench/benches/remapping.rs
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/link_stage/generate_lazy_export.rs
  crates/rolldown/tests/esbuild/default/minified_jsx_preserve_with_object_spread/artifacts.snap
  crates/rolldown/tests/esbuild/default/minified_jsx_preserve_with_object_spread/diff.md
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/bypass.md
  crates/rolldown/tests/rolldown/function/comments/preserve_legal/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript/src/ecma_ast/gen.rs
  crates/rolldown_ecmascript/src/ecma_compiler.rs
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_build_import_analysis/src/utils.rs
  crates/rolldown_plugin_dynamic_import_vars/src/ast_visit.rs
  crates/rolldown_plugin_import_glob/src/utils.rs
  crates/rolldown_plugin_isolated_declaration/src/lib.rs
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_sourcemap/src/lib.rs
  crates/rolldown_sourcemap/src/source_joiner.rs
  package.json
  packages/browser/package.json
  packages/rolldown/package.json
  packages/rollup-tests/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#4408 fix(chunk_exports): Prevent duplicate external module imports
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/tests/rolldown/issues/4406/_config.json
  crates/rolldown/tests/rolldown/issues/4406/artifacts.snap
  crates/rolldown/tests/rolldown/issues/4406/main.js
  crates/rolldown/tests/rolldown/issues/4406/package.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4416 refactor: deduplicating external module rendering.
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
Labels: needs-triage

#4418 feat(rust): initialize `rolldown_plugin_vite_css`
  Cargo.lock
  crates/rolldown_plugin_vite_css/Cargo.toml
  crates/rolldown_plugin_vite_css/src/lib.rs
  crates/rolldown_plugin_vite_css/src/vite_css_plugin.rs
Labels: needs-triage

#4419 perf(rust): improve `PreProcessor#visit_export_named_declaration`
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
Labels: needs-triage

#4126 test(hmr): setup basic tests
  .github/workflows/reusable-node-test.yml
  .gitignore
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/runtime/runtime-extra-dev.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/test-dev-server/package.json
  packages/test-dev-server/src/index.ts
  packages/test-dev-server/tests/fixtures.test.ts
  packages/test-dev-server/tests/fixtures/basic/dev.config.mjs
  packages/test-dev-server/tests/fixtures/basic/package.json
  packages/test-dev-server/tests/fixtures/basic/src/hmr-boundary.js
  packages/test-dev-server/tests/fixtures/basic/src/main.js
  packages/test-dev-server/tests/fixtures/basic/src/new-dep.js
  packages/test-dev-server/tests/package.json
  packages/test-dev-server/tests/tsconfig.json
  packages/test-dev-server/tests/vitest.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#4421 refactor(watch): moving watch event struct to rolldown crate
  crates/rolldown/src/lib.rs
  crates/rolldown/src/watch/emitter.rs
  crates/rolldown/src/watch/event.rs
  crates/rolldown/src/watch/mod.rs
  crates/rolldown/src/watch/watcher.rs
  crates/rolldown/src/watch/watcher_task.rs
  crates/rolldown_binding/src/types/binding_watcher_event.rs
  crates/rolldown_binding/src/watcher.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/types/watch.rs
Labels: needs-triage

#4432 refactor(rust): remove unused import star and default flags from `ImportRecordMeta`
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown_common/src/types/import_record.rs
  crates/rolldown_common/src/types/named_import.rs
Labels: needs-triage

#4435 fix: dynamic import with backquotes are not bundled
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/expression_ext.rs
  packages/rolldown/tests/fixtures/misc/issues/4433/_config.ts
  packages/rolldown/tests/fixtures/misc/issues/4433/assert.mjs
  packages/rolldown/tests/fixtures/misc/issues/4433/foo.mjs
  packages/rolldown/tests/fixtures/misc/issues/4433/main.js
Labels: needs-triage

#4438 fix(hmr): make sure runtime module imported for each chunk
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/tests/rolldown/topics/hmr/mutiply-entires/_config.json
  crates/rolldown/tests/rolldown/topics/hmr/mutiply-entires/artifacts.snap
  crates/rolldown/tests/rolldown/topics/hmr/mutiply-entires/entry.js
  crates/rolldown/tests/rolldown/topics/hmr/mutiply-entires/index.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4439 refactor(rolldown_plugin_reporter): align module reporting logic
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_reporter/Cargo.toml
  crates/rolldown_plugin_reporter/src/lib.rs
  crates/rolldown_plugin_reporter/src/utils.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#4429 feat: move filter related utils to `@rolldown/pluginutils`
  .github/workflows/benchmark-node.yml
  .github/workflows/reusable-browser-test.yml
  .github/workflows/reusable-node-test.yml
  packages/pluginutils/build.mjs
  packages/pluginutils/package.json
  packages/pluginutils/src/index.ts
  packages/pluginutils/tsconfig.base.json
  packages/pluginutils/tsconfig.cjs.json
  packages/pluginutils/tsconfig.esm.json
  packages/rolldown/package.json
  packages/rolldown/src/filter-index.ts
  packages/rolldown/src/plugin/bindingify-hook-filter.ts
  packages/rolldown/src/plugin/hook-filter.ts
  packages/rolldown/tsconfig.check.json
  packages/test-dev-server/tests/fixtures.test.ts
  pnpm-lock.yaml
Labels: needs-triage

#4431 refactor(rolldown_sourcemap): remove unused `SourceJoiner#prepend_source`
  crates/rolldown_sourcemap/src/source_joiner.rs
Labels: needs-triage

#4441 ci: fix release ci
  .github/workflows/reusable-release-build.yml
Labels: needs-triage, trigger: preview

#4442 refactor(rust): rename `comments` to `legal_comments`
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/rolldown/function/legal_comments/none/_config.json
  crates/rolldown/tests/rolldown/function/legal_comments/none/artifacts.snap
  crates/rolldown/tests/rolldown/function/legal_comments/none/main.js
  crates/rolldown/tests/rolldown/function/legal_comments/preserve/_config.json
  crates/rolldown/tests/rolldown/function/legal_comments/preserve/artifacts.snap
  crates/rolldown/tests/rolldown/function/legal_comments/preserve/main.js
  crates/rolldown/tests/rolldown/function/legal_comments/preserve_legal/_config.json
  crates/rolldown/tests/rolldown/function/legal_comments/preserve_legal/artifacts.snap
  crates/rolldown/tests/rolldown/function/legal_comments/preserve_legal/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/legal_comments.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_testing/_config.schema.json
Labels: needs-triage

#4449 feat(rolldown_plugin_reporter): prepare for chunk reporting
  crates/rolldown_plugin_reporter/src/lib.rs
Labels: needs-triage

#4453 chore: add `node:` prefix to `module` in runtime.js
  crates/rolldown/src/runtime/runtime-head-node.js
  crates/rolldown/tests/rolldown/function/platform/node/should_not_throw_warnings_for_import_builtin_modules/basic/artifacts.snap
  crates/rolldown/tests/rolldown/function/resolve/alias_to_node_builtin_module/artifacts.snap
  crates/rolldown/tests/rolldown/issues/2685/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3395/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4454 chore: use `oxc-node/cli` instead of `oxc-node/core`
  packages/bench/package.json
  packages/debug/package.json
  packages/rolldown/package.json
  pnpm-lock.yaml
  scripts/package.json
Labels: needs-triage

#4446 feat(rolldown): expose `experimental` entry for browser
  packages/browser/package.json
  packages/rolldown/build.ts
  packages/rolldown/src/plugin/parallel-plugin.ts
Labels: needs-triage

#4452 refactor: upgrade `ansis` to v4
  packages/browser/package.json
  packages/rolldown/package.json
  pnpm-lock.yaml
Labels: needs-triage

#4458 feat(pluginutils): add `exactRegex` and `prefixRegex`
  packages/pluginutils/src/composable-filters.ts
  packages/pluginutils/src/index.ts
  packages/pluginutils/src/simple-filters.ts
Labels: needs-triage

#4462 feat(rolldown): oxc v9.0.0
  Cargo.lock
  Cargo.toml
  crates/rolldown_resolver/src/resolver.rs
Labels: needs-triage

#4464 feat(rolldown_plugin_reporter): align the logic in `renderChunk` hook
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_reporter/src/lib.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#4466 test(pluginutils): add test for `exactRegex` and `prefixRegex`
  packages/pluginutils/src/index.test.ts
  packages/pluginutils/src/simple-filters.test.ts
Labels: needs-triage

#4470 chore(pluginutils): exclude test files from build
  packages/pluginutils/tsconfig.cjs.json
  packages/pluginutils/tsconfig.esm.json
Labels: needs-triage

#4471 ci: release `@rolldown/pluginutils`
  .github/workflows/publish-to-npm-for-nightly-canary.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/publish-to-pkg.pr.new.yml
  .github/workflows/reusable-release-build.yml
  packages/pluginutils/package.json
  scripts/misc/published-package-check.mjs
Labels: needs-triage

#4478 feat(rolldown): oxc v0.69.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/bypass.md
  crates/rolldown/tests/esbuild/ts/ts_experimental_decorators/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#4460 refactor(hmr): hmr chunk loadExports
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/runtime/runtime-extra-dev.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/module/mod.rs
Labels: needs-triage

#4482 chore: add just command for build `@rolldown/pluginutils`
  justfile
Labels: needs-triage

#4475 feat(rolldown_plugin_reporter): basically align behavior with `rolldown-vite`
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_reporter/Cargo.toml
  crates/rolldown_plugin_reporter/src/lib.rs
  crates/rolldown_plugin_reporter/src/utils.rs
  cspell.json
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#4484 perf: enable Wasm 128bit SIMD Extension
  .cargo/config.toml
Labels: needs-triage, trigger: preview

#4485 feat: expose oxc-resolver
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#4487 perf(rename): reduce some string allocations
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown_rstr/src/lib.rs
Labels: needs-triage

#4493 chore(rolldown): `oxc-sourcemap` v3.0.1
  Cargo.lock
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_sourcemap/src/lib.rs
Labels: needs-triage

#4494 perf(rolldown): remove `ArcStr` usages in `finalize_chunks`
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown_utils/src/hash_placeholder.rs
Labels: needs-triage

#4489 fix: `asset` ModuleType not available in TypeScript package
  crates/rolldown_common/src/inner_bundler_options/types/module_type.rs
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#4496 perf(rolldown): reduce size of `ModuleLoaderMsg` from 1472 to 24 bytes
  crates/rolldown/src/module_loader/external_module_task.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_common/src/module_loader/mod.rs
  crates/rolldown_plugin/src/plugin_context/native_plugin_context.rs
Labels: needs-triage

#4495 perf(rolldown): speedup `extract_hash_placeholders` with memchr
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown_utils/src/hash_placeholder.rs
Labels: needs-triage

#4497 refactor(rolldown): change `ModuleInfo::exports` to `CompactString`
  crates/rolldown_binding/src/types/binding_module_info.rs
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_common/src/types/module_info.rs
Labels: needs-triage

#4500 refactor(rolldown): add `const RUNTIME_MODULE_ID: ModuleId`
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module_loader/runtime_module_brief.rs
  crates/rolldown_common/src/types/module_id.rs
Labels: needs-triage

#4501 chore(Cargo.toml): disable `arcstr` features
  Cargo.toml
Labels: needs-triage

#4506 feat(rolldown): expose `ModuleTypes` type
  packages/rolldown/src/index.ts
Labels: needs-triage

#4428 feat: expose `loadConfig` in api
  packages/rolldown/build.ts
  packages/rolldown/package.json
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/config.ts
  packages/rolldown/src/utils/load-config.ts
Labels: needs-triage

#4510 chore(rust): remove unused `tracing_unstable` cfg
  .cargo/config.toml
  .github/workflows/benchmark-rust.yml
  .github/workflows/reusable-release-build.yml
Labels: needs-triage, trigger: preview

#4457 feat: preserveModules
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/stages/generate_stage/advanced_chunks.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_std_utils/src/path_ext.rs
  crates/rolldown_utils/src/commondir.rs
  crates/rolldown_utils/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/bindingify-output-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/fixtures/topics/preserve-modules/_config.ts
  packages/rolldown/tests/fixtures/topics/preserve-modules/lib.js
  packages/rolldown/tests/fixtures/topics/preserve-modules/main.js
  packages/rolldown/tests/fixtures/topics/preserve-modules/src/index.js
Labels: needs-triage

#4513 refactor: normalize `clean_url` function
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  crates/rolldown_plugin_vite_resolve/src/utils.rs
Labels: needs-triage

#4518 chore: always build `@rolldown/pluginutils` before build rolldown
  justfile
Labels: needs-triage

#4517 fix: use correct `FileTemplate` when enable `preserve_modules`
  crates/rolldown_common/src/chunk/mod.rs
  packages/rolldown/tests/fixtures/topics/preserve-modules/_config.ts
Labels: needs-triage

#4520 feat: make RolldownBuild.watchFiles to async
  crates/rolldown_binding/src/bundler.rs
  packages/rolldown/src/api/rolldown/rolldown-build.ts
  packages/rolldown/src/binding.d.ts
  packages/rolldown/tests/build-api/build-api.test.ts
Labels: needs-triage

#4521 feat: output.virtualDirname
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/bindingify-output-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/fixtures/misc/virtual/virtual-dirname/_config.ts
  packages/rolldown/tests/fixtures/misc/virtual/virtual-dirname/main.js
Labels: needs-triage

#4522 chore(test): avoid invalid code on windows
  crates/rolldown_std_utils/src/path_ext.rs
  crates/rolldown_utils/src/commondir.rs
Labels: needs-triage

#4526 test(rust): ensure comments got removed with proper settings
  crates/rolldown/tests/rolldown/issues/4491/_config.json
  crates/rolldown/tests/rolldown/issues/4491/_test.mjs
  crates/rolldown/tests/rolldown/issues/4491/artifacts.snap
  crates/rolldown/tests/rolldown/issues/4491/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4529 fix: preserveModules cjs interop
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/utils/chunk/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  packages/rolldown/tests/fixtures/topics/preserve-modules/basic/_config.ts
  packages/rolldown/tests/fixtures/topics/preserve-modules/basic/lib.js
  packages/rolldown/tests/fixtures/topics/preserve-modules/basic/main.js
  packages/rolldown/tests/fixtures/topics/preserve-modules/basic/src/index.js
  packages/rolldown/tests/fixtures/topics/preserve-modules/cjs-inter-op/_config.ts
  packages/rolldown/tests/fixtures/topics/preserve-modules/cjs-inter-op/lib.js
  packages/rolldown/tests/fixtures/topics/preserve-modules/cjs-inter-op/main.js
  packages/rolldown/tests/fixtures/topics/preserve-modules/cjs-inter-op/src/index.js
Labels: needs-triage

#4530 feat: better error message for `manualChunks`
  packages/rolldown/src/cli/arguments/index.ts
  packages/rolldown/src/cli/arguments/utils.ts
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#4533 feat(rolldown_error): add necessary `id` for some errors
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/utils/chunk/determine_export_mode.rs
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/events/ambiguous_external_namespace.rs
  crates/rolldown_error/src/events/assign_to_import.rs
  crates/rolldown_error/src/events/commonjs_variable_in_esm.rs
  crates/rolldown_error/src/events/eval.rs
  crates/rolldown_error/src/events/export_undefined_variable.rs
  crates/rolldown_error/src/events/forbid_const_assign.rs
  crates/rolldown_error/src/events/import_is_undefined.rs
  crates/rolldown_error/src/events/missing_export.rs
  crates/rolldown_error/src/events/missing_global_name.rs
  crates/rolldown_error/src/events/mixed_export.rs
  crates/rolldown_error/src/events/unloadable_dependency.rs
  crates/rolldown_error/src/events/unresolved_import.rs
  crates/rolldown_error/src/events/unresolved_import_treated_as_external.rs
  crates/rolldown_error/src/events/unsupported_feature.rs
Labels: needs-triage

#4535 feat(pluginutils): `Query` filter impl
  packages/pluginutils/src/composable-filters.test.ts
  packages/pluginutils/src/composable-filters.ts
  packages/rolldown/src/plugin/bindingify-hook-filter.ts
Labels: needs-triage

#4515 feat(debug): emit `ModuleGraphReady` event
  crates/rolldown/src/bundler.rs
  crates/rolldown_common/src/types/hybrid_index_vec.rs
  crates/rolldown_debug_action/src/definitions/mod.rs
  crates/rolldown_debug_action/src/definitions/module_graph_ready.rs
  crates/rolldown_debug_action/src/lib.rs
  packages/debug/src/generated/Meta.ts
  packages/debug/src/generated/Module.ts
  packages/debug/src/generated/ModuleGraphReady.ts
  packages/debug/src/generated/index.ts
Labels: needs-triage

#4540 test(node): remove duplicate test cases
  packages/rolldown/tests/fixtures/plugin/normalized-option/_config.ts
  packages/rolldown/tests/fixtures/plugin/normalized-option/main.js
  packages/rolldown/tests/fixtures/verify-options/_config.ts
Labels: needs-triage

#4542 feat(rust): impl `Query` filter
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/render_chunks.rs
  crates/rolldown_binding/src/options/plugin/types/binding_filter_expression.rs
  crates/rolldown_plugin_transform/src/lib.rs
  crates/rolldown_plugin_transform/src/utils.rs
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/clean_url.rs
  crates/rolldown_utils/src/filter_expression.rs
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/url.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/filter-index.ts
  packages/rolldown/src/plugin/bindingify-hook-filter.ts
  packages/rolldown/tests/fixtures/filter/query/_config.ts
  packages/rolldown/tests/fixtures/filter/query/foo.js
  packages/rolldown/tests/fixtures/filter/query/main.js
Labels: needs-triage

#4543 refactor: apply some suggestion from review comments in #4535
  packages/pluginutils/src/composable-filters.test.ts
  packages/pluginutils/src/composable-filters.ts
  packages/pluginutils/src/utils.ts
  packages/rolldown/src/filter-index.ts
  packages/rolldown/tests/fixtures/filter/query/_config.ts
Labels: needs-triage

#4546 docs: check for document existence
  docs/.vitepress/theme/components/RolldownVideoModal.vue
Labels: needs-triage

#4547 perf: reduce wasm release binary size
  Cargo.toml
Labels: needs-triage

#4549 fix: add debug information for debug wasm binaries
  Cargo.toml
Labels: needs-triage

#4553 fix(node): add `type` property to `RenderedChunk`
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/utils/transform-rendered-chunk.ts
  packages/rolldown/tests/fixtures/plugin/render-chunk/basic/_config.ts
Labels: needs-triage

#4545 feat(rolldown_plugin_asset): align `resolveId` with `rolldown-vite`
  Cargo.lock
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_asset/Cargo.toml
  crates/rolldown_plugin_asset/src/lib.rs
  crates/rolldown_plugin_asset/src/utils.rs
  crates/rolldown_utils/src/pattern_filter.rs
  cspell.json
Labels: needs-triage

#4556 fix(hmr): remove duplicated import statment
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
Labels: needs-triage

#4566 refactor(utils): optimize the logic for calculating parallelism and enhance compatibility processing
  packages/rolldown/src/utils/initialize-parallel-plugins.ts
Labels: needs-triage

#4563 feat(rolldown_plugin_asset_import_meta_url): initialize `assetImportMetaUrlPlugin`
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_builtin_plugin_name.rs
  crates/rolldown_plugin_asset_import_meta_url/Cargo.toml
  crates/rolldown_plugin_asset_import_meta_url/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/builtin-plugin/constructors.ts
Labels: needs-triage

#4569 refactor: moving process_code_and_sourcemap to utils
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/utils/mod.rs
  crates/rolldown/src/utils/process_code_and_sourcemap.rs
Labels: needs-triage

#4578 refactor(rolldown_binding): move and split `binding_js_or_regex`
  crates/rolldown_binding/src/options/binding_input_options/binding_treeshake.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_watch_option.rs
  crates/rolldown_binding/src/options/binding_output_options/binding_advanced_chunks_options.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_filter_expression.rs
  crates/rolldown_binding/src/options/plugin/types/mod.rs
  crates/rolldown_binding/src/types/binding_string_or_regex.rs
  crates/rolldown_binding/src/types/js_regex.rs
  crates/rolldown_binding/src/types/mod.rs
Labels: needs-triage

#4574 docs: document bundling cjs
  docs/.vitepress/config.ts
  docs/guide/in-depth/bundling-cjs.md
Labels: needs-triage

#4568 feat(types): allow rollup plugin to be assigned to `plugins` option
  .github/workflows/reusable-node-test.yml
  packages/rolldown/src/plugin/index.ts
  packages/rolldown/src/utils/normalize-plugin-option.ts
  packages/rolldown/tests/package.json
  packages/rolldown/tests/rollup-compat.test-d.ts
  packages/rolldown/tests/tsconfig.json
Labels: trigger: preview

#4561 feat(rolldown_plugin_asset): partially align `load` hook with `rolldown-vite`
  Cargo.lock
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_plugin_asset/Cargo.toml
  crates/rolldown_plugin_asset/src/lib.rs
  crates/rolldown_plugin_asset/src/utils.rs
  packages/rolldown/src/binding.d.ts
Labels: needs-triage

#4587 fix(rolldown_plugin_transform): use `or` instead of `xor` for `transformOptions.lang`
  crates/rolldown_plugin_transform/src/utils.rs
Labels: needs-triage

#4586 refactor(rust): align `target` option with `esbuild`
  crates/rolldown/src/stages/link_stage/generate_lazy_export.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/esbuild/default/define_optional_chain_lowered/_config.json
  crates/rolldown/tests/esbuild/loader/loader_json_prototype_es5/_config.json
  crates/rolldown/tests/esbuild/lower/lower_export_star_as_name_collision/_config.json
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/_config.json
  crates/rolldown/tests/rolldown/function/es-target/_config.json
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/target.rs
  crates/rolldown_testing/_config.schema.json
  cspell.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/validator.ts
Labels: tsdown, blocker, doc

#4589 chore(rust): remove unused `EcmaCompiler#print`
  crates/rolldown_ecmascript/src/ecma_compiler.rs
Labels: needs-triage

#4592 refactor: remove unused `force_tree_shaking` in `stmt_info`
  crates/rolldown/src/stages/link_stage/create_exports_for_ecma_modules.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown_common/src/types/stmt_info.rs
Labels: needs-triage

#4593 refactor(rolldown_binding): align reporter plugin name
  crates/rolldown_binding/src/options/plugin/types/binding_builtin_plugin_name.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/builtin-plugin/constructors.ts
  packages/rolldown/src/experimental-index.ts
Labels: needs-triage

#4604 chore: remove unused dependency
  pnpm-lock.yaml
  scripts/package.json
Labels: needs-triage

#4554 feat(plugin/json): only transform module with `moduleType: 'json'`
  crates/rolldown_plugin_json/src/lib.rs
Labels: trigger: preview

#4595 fix: partial merge cjs namespace
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/sort_modules.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown/src/stages/scan_stage.rs
  crates/rolldown/src/types/linking_metadata.rs
  crates/rolldown/src/types/scan_stage_cache.rs
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/README.md
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/_config.json
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/_test.mjs
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/a.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/artifacts.snap
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/b.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/cjs.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge/main.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/_config.json
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/_test.mjs
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/a.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/artifacts.snap
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/b.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/cjs.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/main.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_optimize/util.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/types/import_record.rs
  crates/rolldown_common/src/types/wrap_kind.rs
Labels: needs-triage

#4613 fix: cjs namespace merge in incremental build
  crates/rolldown/src/types/scan_stage_cache.rs
Labels: needs-triage

#4612 chore(changelog): typo and spacing
  CHANGELOG.md
Labels: needs-triage

#4618 feat(rolldown): oxc v0.71.0 and napi beta
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/default/legal_comments_modify_indent/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/bypass.md
  crates/rolldown/tests/rolldown/function/legal_comments/inline_minify/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_merge_decorator_metadata/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/parallel_js_plugin_registry.rs
  crates/rolldown_binding/src/types/binding_outputs.rs
  crates/rolldown_binding/src/types/js_regex.rs
  crates/rolldown_ecmascript/src/ecma_compiler.rs
  crates/rolldown_resolver/src/error.rs
  packages/rolldown/build-binding.mts
  packages/rolldown/package.json
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#4619 feat(debug): emit more details for `Module#imports`
  crates/rolldown/src/bundler.rs
  crates/rolldown_debug_action/src/definitions/module_graph_ready.rs
  crates/rolldown_debug_action/src/lib.rs
  packages/debug/src/generated/Module.ts
  packages/debug/src/generated/ModuleImport.ts
  packages/debug/src/generated/index.ts
Labels: needs-triage

#4623 perf: change `profile.dev.debug` to improve rust compile times
  Cargo.toml
Labels: needs-triage

#4627 fix(inlineDynamicImports): ensure tla module execution correctly
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/link_stage/sort_modules.rs
  crates/rolldown/tests/rolldown/topics/tla/inline_dynamic_import/_config.json
  crates/rolldown/tests/rolldown/topics/tla/inline_dynamic_import/_test.mjs
  crates/rolldown/tests/rolldown/topics/tla/inline_dynamic_import/artifacts.snap
  crates/rolldown/tests/rolldown/topics/tla/inline_dynamic_import/lib.js
  crates/rolldown/tests/rolldown/topics/tla/inline_dynamic_import/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/types/import_record.rs
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
Labels: needs-triage

#4626 fix: `preserveModules` co exists with multi entrypoints
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/types/generator.rs
  crates/rolldown/src/utils/chunk/mod.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/tests/rolldown/misc/preserve_modules/_config.json
  crates/rolldown/tests/rolldown/misc/preserve_modules/_test.mjs
  crates/rolldown/tests/rolldown/misc/preserve_modules/a.ts
  crates/rolldown/tests/rolldown/misc/preserve_modules/artifacts.snap
  crates/rolldown/tests/rolldown/misc/preserve_modules/b.ts
  crates/rolldown/tests/rolldown/misc/preserve_modules/main.ts
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4633 feat: support to attach chunk debug information in output
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/stages/generate_stage/advanced_chunks.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/tests/rolldown/function/experimental/attach_debug_info/_config.json
  crates/rolldown/tests/rolldown/function/experimental/attach_debug_info/artifacts.snap
  crates/rolldown/tests/rolldown/function/experimental/attach_debug_info/entry-a.js
  crates/rolldown/tests/rolldown/function/experimental/attach_debug_info/entry-b.js
  crates/rolldown/tests/rolldown/function/experimental/attach_debug_info/share-splitted.js
  crates/rolldown/tests/rolldown/function/experimental/attach_debug_info/shared.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_input_options/binding_experimental_options.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/experimental_options.rs
  crates/rolldown_sourcemap/src/source_joiner.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#4625 fix(watch): watch linux path at windows
  crates/rolldown/src/watch/watcher_task.rs
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#4635 refactor: rewrite `determine_reachable_modules_for_entry` with iterative method
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
Labels: needs-triage

#4639 fix: generated wrapper stmt info should be always included on demand
  crates/rolldown/src/stages/link_stage/create_exports_for_ecma_modules.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown_common/src/types/stmt_info.rs
Labels: needs-triage

#4638 feat: enable loose mode validate option and give warning
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/validate-option.test.ts
  packages/rollup-tests/package.json
Labels: needs-triage

#4637 refactor: make `ChunkCreationReason` debug info less messy
  crates/rolldown/src/stages/generate_stage/advanced_chunks.rs
  crates/rolldown/src/stages/generate_stage/chunk_ext.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown_common/src/chunk/mod.rs
Labels: needs-triage

#4643 refactor: bitset to_string representation
  crates/rolldown_utils/src/bitset.rs
Labels: needs-triage

#4641 feat(rolldown_plugin_oxc_runtime): support automatic resolution of oxc runtime helpers
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/Cargo.toml
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/config/binding_oxc_runtime_plugin_config.rs
  crates/rolldown_binding/src/options/plugin/config/mod.rs
  crates/rolldown_binding/src/options/plugin/types/binding_builtin_plugin_name.rs
  crates/rolldown_plugin_oxc_runtime/Cargo.toml
  crates/rolldown_plugin_oxc_runtime/src/lib.rs
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/builtin-plugin/constructors.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/src/utils/normalize-plugin-option.ts
  pnpm-lock.yaml
Labels: needs-triage

#4645 fix(rolldown/browser): auto-resolve oxc runtime helpers
  packages/browser/package.json
Labels: needs-triage

#4648 fix: exported dynamic import is treated as unused
  crates/rolldown/src/ast_scanner/dynamic_import.rs
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/d1.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/d2.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/d3.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/d4.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/d5.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4646/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  cspell.json
Labels: needs-triage

#4658 feat(rolldown): oxc v0.72.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/bypass.md
  crates/rolldown/tests/rolldown/resolve/ts_config_merge_decorator_metadata/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/quote.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#4651 feat(rust)!: merge `target` option into `transform`
  crates/rolldown/src/stages/link_stage/generate_lazy_export.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown/tests/esbuild/default/define_optional_chain_lowered/_config.json
  crates/rolldown/tests/esbuild/loader/loader_json_prototype_es5/_config.json
  crates/rolldown/tests/esbuild/lower/lower_export_star_as_name_collision/_config.json
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/_config.json
  crates/rolldown/tests/rolldown/function/es-target/_config.json
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/target.rs
  crates/rolldown_common/src/inner_bundler_options/types/transform_options.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/bindingify-output-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: needs-triage

#4664 perf(rolldown): prevent duplicate text embedding with `include_str!`
  crates/rolldown/src/module_loader/runtime_module_task.rs
Labels: needs-triage

#4657 feat(rolldown_plugin_utils): support `create_to_import_meta_url_based_relative_runtime`
  Cargo.lock
  crates/rolldown_plugin_utils/Cargo.toml
  crates/rolldown_plugin_utils/src/lib.rs
  crates/rolldown_plugin_utils/src/to_relative_runtime_path.rs
Labels: needs-triage

#4654 feat(rust)!: merge `jsx` option into `transform`
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/tests/esbuild/dce/disable_tree_shaking/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_export_star_side_effects_false_only_js/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_re_export_side_effects_false_only_js/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_js_with_associated_css_unused_nested_import_side_effects_false_only_js/_config.json
  crates/rolldown/tests/esbuild/dce/tree_shaking_react_elements/_config.json
  crates/rolldown/tests/esbuild/default/comment_preservation_transform_jsx/_config.json
  crates/rolldown/tests/esbuild/default/duplicate_property_warning/_config.json
  crates/rolldown/tests/esbuild/default/import_re_export_es6_issue149/_config.json
  crates/rolldown/tests/esbuild/default/inject_jsx/_config.json
  crates/rolldown/tests/esbuild/default/inject_jsx_dot_names/_config.json
  crates/rolldown/tests/esbuild/default/jsx_import_meta_property/_config.json
  crates/rolldown/tests/esbuild/default/jsx_import_meta_value/_config.json
  crates/rolldown/tests/esbuild/default/jsx_imports_common_js/_config.json
  crates/rolldown/tests/esbuild/default/jsx_imports_es6/_config.json
  crates/rolldown/tests/esbuild/default/jsx_this_property_common_js/_config.json
  crates/rolldown/tests/esbuild/default/jsx_this_property_esm/_config.json
  crates/rolldown/tests/esbuild/default/jsx_this_value_common_js/_config.json
  crates/rolldown/tests/esbuild/default/jsx_this_value_esm/_config.json
  crates/rolldown/tests/esbuild/loader/jsx_automatic_no_name_collision/_config.json
  crates/rolldown/tests/esbuild/loader/jsx_syntax_in_js_with_jsx_loader/_config.json
  crates/rolldown/tests/esbuild/ts/ts_enum_jsx/_config.json
  crates/rolldown/tests/rolldown/topics/jsx/preserve/_config.json
  crates/rolldown/tests/rolldown/warnings/configuration_field_conflict/_config.json
  crates/rolldown_binding/src/options/binding_input_options/binding_jsx.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/jsx.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/transform_options.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/index.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/fixtures/jsx/preserve-minify/_config.ts
  packages/rolldown/tests/fixtures/jsx/preserve/_config.ts
  packages/rolldown/tests/fixtures/jsx/preserve/main.jsx
  packages/rolldown/tests/fixtures/jsx/refresh/_config.ts
  packages/rolldown/tests/fixtures/jsx/runtime/automatic/_config.ts
  packages/rolldown/tests/fixtures/jsx/runtime/automatic/main.jsx
  packages/rolldown/tests/fixtures/jsx/runtime/classic/_config.ts
  packages/rolldown/tests/fixtures/jsx/runtime/classic/main.jsx
Labels: needs-triage

#4655 fix: removing unused dynamic imported chunks
  crates/rolldown/src/stages/generate_stage/advanced_chunks.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-chain/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-chain/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-chain/dep1.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-chain/dep2.js
  crates/rolldown/tests/rolldown/tree_shaking/dynamic-import-chain/main.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_3998/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/issue_3998/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/issue_3998/dyn-entry.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_3998/main.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_3998/shared.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/chunk/mod.rs
Labels: needs-triage

#4672 refactor(ci): use oxc-project/setup-rust directly
  .github/actions/setup-rust/action.yml
  .github/workflows/benchmark-node.yml
  .github/workflows/benchmark-rust.yml
  .github/workflows/cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/codspeed-node.yml.bak
  .github/workflows/reusable-browser-test.yml
  .github/workflows/reusable-cargo-test.yml
  .github/workflows/reusable-node-test.yml
  .github/workflows/reusable-release-build.yml
Labels: needs-triage

#4669 refactor(rust): ensure module can only be wrapped via `wrap_module_recursively`
  crates/rolldown/src/stages/link_stage/wrapping.rs
Labels: needs-triage

#4685 fix(ci): fix double pnpm cache from `setup-node`
  .github/actions/setup-node/action.yml
  README.md
Labels: needs-triage

#4671 feat(debug): add `StmtSideEffect` to record the specific reason why a stmt has side effect
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/stmt_side_effect.rs
Labels: needs-triage

#4688 fix(rust): avoid panic in `into_assignment_target`
  crates/rolldown/tests/rolldown/misc/wrapped_esm/artifacts.snap
  crates/rolldown/tests/rolldown/misc/wrapped_esm/foo.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/binding_pattern_ext.rs
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/binding_property_ext.rs
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/mod.rs
Labels: needs-triage

#4689 fix(types/resolve)!: use literal `'import-statement'` to refer to static import statements instead of `'import'`
  crates/rolldown_binding/src/options/plugin/types/binding_hook_resolve_id_extra_args.rs
  crates/rolldown_binding/src/options/plugin/types/binding_plugin_context_resolve_options.rs
  crates/rolldown_common/src/types/import_kind.rs
  crates/rolldown_debug_action/src/definitions/module_graph_ready.rs
  packages/debug/src/generated/ModuleImport.ts
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/index.ts
Labels: needs-triage, trigger: preview

#4692 fix(strict_execution_order): runtime module should not be wrapped by default
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/issue_4636/_config.json
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/issue_4636/artifacts.snap
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/issue_4636/foo.cjs
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/issue_4636/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4694 fix: sort dynamic entires with topological order before tree shake.
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/tests/rolldown/tree_shaking/issue_4682/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/issue_4682/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/issue_4682/dynamic.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4682/dynamic.no-treeshake.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4682/main.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4682/static.js
  crates/rolldown/tests/rolldown/tree_shaking/issue_4682/static.no-treeshake.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  cspell.json
Labels: needs-triage

#4699 refactor: introduce `MemberExprRefResolution` to improve clarity of related data
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/type_aliases.rs
  crates/rolldown_common/src/types/member_expr_ref.rs
  crates/rolldown_common/src/types/member_expr_ref_resolution.rs
  crates/rolldown_common/src/types/mod.rs
Labels: needs-triage

#4703 fix(resolve)!: add `module` to resolve conditions by default
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/rolldown/resolve/add_module_condition_by_default/_config.json
  crates/rolldown/tests/rolldown/resolve/add_module_condition_by_default/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/add_module_condition_by_default/main.js
  crates/rolldown/tests/rolldown/resolve/add_module_condition_by_default/node_modules/demo-lib/import.js
  crates/rolldown/tests/rolldown/resolve/add_module_condition_by_default/node_modules/demo-lib/module.js
  crates/rolldown/tests/rolldown/resolve/add_module_condition_by_default/node_modules/demo-lib/package.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4704 fix: strip path for require identifier with `preserveModules`
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4700/_config.json
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4700/artifacts.snap
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4700/child.js
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4700/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_std_utils/src/lib.rs
  crates/rolldown_std_utils/src/path_ext.rs
Labels: needs-triage

#4681 refactor(rust): set default es target to the minimum supported version ES6
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
Labels: needs-triage

#4705 test(resolve): module type should be decided by nearest package.json
  crates/rolldown/tests/rolldown/resolve/attach_correct_package_json/_config.json
  crates/rolldown/tests/rolldown/resolve/attach_correct_package_json/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/attach_correct_package_json/main.js
  crates/rolldown/tests/rolldown/resolve/attach_correct_package_json/node_modules/demo-lib/index.js
  crates/rolldown/tests/rolldown/resolve/attach_correct_package_json/node_modules/demo-lib/nested-lib/index.js
  crates/rolldown/tests/rolldown/resolve/attach_correct_package_json/node_modules/demo-lib/nested-lib/package.json
  crates/rolldown/tests/rolldown/resolve/attach_correct_package_json/node_modules/demo-lib/package.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4708 fix(browser): disable oxc runtime plugin
  packages/rolldown/src/utils/normalize-plugin-option.ts
Labels: needs-triage

#4712 fix: `chunk.name` is not sanitized when the chunk is a common chunk
  crates/rolldown/src/stages/generate_stage/mod.rs
  packages/rolldown/tests/fixtures/misc/issues/4709/_config.ts
  packages/rolldown/tests/fixtures/misc/issues/4709/bar.js
  packages/rolldown/tests/fixtures/misc/issues/4709/foo.js
  packages/rolldown/tests/fixtures/misc/issues/4709/main.js
Labels: needs-triage

#4720 revert!: "feat!: always make the default value of `platform` as `browser`"
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/tests/esbuild/default/import_meta_common_js/_config.json
  crates/rolldown/tests/esbuild/default/import_meta_common_js/artifacts.snap
  packages/rolldown/src/options/input-options.ts
Labels: needs-triage

#4721 release: v1.0.0-beta.10
  CHANGELOG.md
  packages/browser/package.json
  packages/debug/package.json
  packages/pluginutils/package.json
  packages/rolldown/npm/darwin-arm64/package.json
  packages/rolldown/npm/darwin-x64/package.json
  packages/rolldown/npm/freebsd-x64/package.json
  packages/rolldown/npm/linux-arm-gnueabihf/package.json
  packages/rolldown/npm/linux-arm64-gnu/package.json
  packages/rolldown/npm/linux-arm64-musl/package.json
  packages/rolldown/npm/linux-x64-gnu/package.json
  packages/rolldown/npm/linux-x64-musl/package.json
  packages/rolldown/npm/wasm32-wasi/package.json
  packages/rolldown/npm/win32-arm64-msvc/package.json
  packages/rolldown/npm/win32-ia32-msvc/package.json
  packages/rolldown/npm/win32-x64-msvc/package.json
  packages/rolldown/package.json
Labels: needs-triage

#4722 chore(ci): replace `cspell` with `typos`
  .github/workflows/ci.yml
  .typos.toml
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown_common/src/chunk/mod.rs
  cspell.json
  docs/reference/cli.md
  justfile
  package.json
  pnpm-lock.yaml
Labels: needs-triage

#4710 fix: include side-effect modules in preserveModules mode
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/tests/integration_rolldown.rs
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4706/_config.json
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4706/artifacts.snap
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4706/child.js
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4706/cjs.js
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4706/dynamic.js
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4706/main.js
  crates/rolldown/tests/rolldown/misc/preserve_modules/issue_4706/reexport.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_testing/_config.schema.json
  crates/rolldown_testing/src/fixture.rs
  crates/rolldown_testing_config/src/lib.rs
Labels: needs-triage

#4564 ci: automatically create issue if lable a `doc` on pr
  .github/workflows/automation-labeled.yml
Labels: needs-triage

#4726 chore: 🤖 revert 4716
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/hmr/hmr_ast_finalizer.rs
  crates/rolldown/src/module_finalizers/isolating/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/compute_tla.rs
  crates/rolldown/src/stages/link_stage/create_exports_for_ecma_modules.rs
  crates/rolldown/src/stages/link_stage/determine_module_exports_kind.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/reference_needed_symbols.rs
  crates/rolldown/src/stages/link_stage/sort_modules.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/determine_side_effects.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown/src/utils/chunk/deconflict_chunk_symbols.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_common/src/types/import_record.rs
  crates/rolldown_common/src/types/symbol_ref.rs
Labels: needs-triage

#4723 chore: add back bench-par
  knip.jsonc
  packages/bench/package.json
  packages/bench/src/parallel-babel-plugin/impl.ts
  pnpm-lock.yaml
Labels: needs-triage

#4732 refactor: extract common resolve utils
  crates/rolldown/src/module_loader/mod.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/resolve_utils.rs
  examples/basic-vue/index.js
  examples/basic-vue/lib.js
  examples/basic-vue/rolldown.config.js
Labels: needs-triage

#4731 feat(rolldown_plugin_isolated_declaration): improve diagnostic messages
  Cargo.lock
  crates/rolldown_plugin_isolated_declaration/Cargo.toml
  crates/rolldown_plugin_isolated_declaration/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/basic/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/basic/foo.tsx
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/basic/main.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/error/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/error/main.ts
  packages/rolldown/tests/fixtures/builtin-plugin/isolated-declaration/error/main.ts.snap
Labels: needs-triage

#4741 chore: knip inbox(0)
  knip.jsonc
  package.json
  pnpm-lock.yaml
  scripts/snap-diff/check-reason-section.ts
Labels: needs-triage

#4746 chore: force ignore files when `typos` lint-stage
  package.json
Labels: needs-triage

#4745 fix: built file references undeclared import_foo$n
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_2/_config.json
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_2/artifacts.snap
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_2/cjs.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_2/lib.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_2/main.js
  crates/rolldown/tests/rolldown/cjs_compat/partial_cjs_ns_merge_2/react.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#4747 refactor(rust): use `arcstr` for `HookLoadOutput#code`
  Cargo.lock
  crates/rolldown/src/utils/load_source.rs
  crates/rolldown_binding/src/options/plugin/binding_callable_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/config/binding_build_import_analysis_plugin_config.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_load_output.rs
  crates/rolldown_plugin/src/types/hook_load_output.rs
  crates/rolldown_plugin_asset/Cargo.toml
  crates/rolldown_plugin_asset/src/lib.rs
  crates/rolldown_plugin_build_import_analysis/Cargo.toml
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_data_uri/Cargo.toml
  crates/rolldown_plugin_data_uri/src/lib.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_load_fallback/src/lib.rs
  crates/rolldown_plugin_module_federation/Cargo.toml
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_preload_polyfill/src/lib.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
  crates/rolldown_plugin_wasm_helper/src/lib.rs
Labels: needs-triage

#4488 fix(browser): fix binding types
  packages/rolldown/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#4756 feat(node): support Rollup-style JSX options
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage
