Repository rolldown/rolldown, pull requests merged in 2025-02, with the labels that each got.

#3466 refactor(rust): simplify the logic of `pre_process_source`
  crates/rolldown/src/types/oxc_parse_type.rs
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
Labels: needs-triage

#3467 refactor: reuse minify variable when calc default profiler_names
  crates/rolldown/src/utils/normalize_options.rs
Labels: needs-triage

#3468 refactor(rust): remove unnecessary code
  crates/rolldown/src/utils/parse_to_ecma_ast.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
Labels: needs-triage

#3469 fix: replace all global `require` to `__require` when necessary
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown/tests/esbuild/default/comment_preservation/_config.json
  crates/rolldown/tests/esbuild/default/comment_preservation/artifacts.snap
  crates/rolldown/tests/esbuild/default/comment_preservation/bypass.md
  crates/rolldown/tests/esbuild/default/conditional_require/artifacts.snap
  crates/rolldown/tests/esbuild/default/conditional_require/diff.md
  crates/rolldown/tests/esbuild/default/indirect_require_message/artifacts.snap
  crates/rolldown/tests/esbuild/default/indirect_require_message/diff.md
  crates/rolldown/tests/esbuild/default/nested_require_without_call/artifacts.snap
  crates/rolldown/tests/esbuild/default/nested_require_without_call/diff.md
  crates/rolldown/tests/esbuild/default/require_and_dynamic_import_invalid_template/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_and_dynamic_import_invalid_template/diff.md
  crates/rolldown/tests/esbuild/default/require_bad_argument_count/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_bad_argument_count/diff.md
  crates/rolldown/tests/esbuild/default/require_property_access_common_js/_config.json
  crates/rolldown/tests/esbuild/default/require_property_access_common_js/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_resolve/_config.json
  crates/rolldown/tests/esbuild/default/require_resolve/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_shim_substitution/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_shim_substitution/diff.md
  crates/rolldown/tests/esbuild/default/require_without_call/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_without_call/diff.md
  crates/rolldown/tests/esbuild/default/require_without_call_inside_try/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_without_call_inside_try/bypass.md
  crates/rolldown/tests/esbuild/glob/glob_wildcard_slash/artifacts.snap
  crates/rolldown/tests/esbuild/glob/glob_wildcard_slash/diff.md
  crates/rolldown/tests/esbuild/glob/ts_glob_basic_no_splitting/artifacts.snap
  crates/rolldown/tests/esbuild/glob/ts_glob_basic_no_splitting/diff.md
  crates/rolldown/tests/esbuild/glob/ts_glob_basic_splitting/artifacts.snap
  crates/rolldown/tests/esbuild/glob/ts_glob_basic_splitting/diff.md
  crates/rolldown/tests/rolldown/issues/1443/_config.json
  crates/rolldown/tests/rolldown/issues/1443/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  scripts/snap-diff/stats/aggregated-reason-without-not-support.md
  scripts/snap-diff/stats/aggregated-reason.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#3474 chore(deps): bump `oxlint`
  .oxlintignore
  package.json
  pnpm-lock.yaml
Labels: needs-triage

#3475 refactor(rust): simplify logic with `if let` and remove redundant conditions
  crates/rolldown/src/ast_scanner/impl_visit.rs
Labels: needs-triage

#3476 refactor(rust): inline unnecessary `extract_rest_member_expr_chain`
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
Labels: needs-triage

#3458 fix: escape import/export module name and json key
  Cargo.lock
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/utils/chunk/render_chunk_exports.rs
  crates/rolldown/tests/esbuild/default/forbid_string_export_names_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/forbid_string_export_names_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/forbid_string_import_names_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/forbid_string_import_names_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/inject_no_bundle/diff.md
  crates/rolldown/tests/esbuild/loader/loader_json_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_json_no_bundle_es6/artifacts.snap
  crates/rolldown/tests/esbuild/loader/loader_json_no_bundle_es6/bypass.md
  crates/rolldown/tests/esbuild/loader/loader_json_no_bundle_es6_arbitrary_module_namespace_names/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_hoisting/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_hoisting/diff.md
  crates/rolldown/tests/rolldown/code_splitting/import_export_unicode/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/esm/import_export_unicode/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3456/_config.json
  crates/rolldown/tests/rolldown/issues/3456/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3456/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_plugin_json/src/lib.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/ecmascript.rs
Labels: needs-triage

#3479 fix: should consider `void expr` as side effects free if `expr` is side effects free
  crates/rolldown/src/ast_scanner/side_effect_detector/mod.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
Labels: needs-triage

#3482 chore: bump napi
  Cargo.lock
  Cargo.toml
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_treeshake.rs
  crates/rolldown_binding/src/options/binding_input_options/mod.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_plugin_options.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_binding/src/types/js_callback.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_binding/src/watcher.rs
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#3484 fix: regressed from renovate bot
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3487 ci: update corepack in FreeBSD to fix keyid mismatch error
  .github/workflows/reusable-release-build.yml
Labels: needs-triage

#3490 chore(experimental): rename `development_mode` to `hmr`
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_experimental_options.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/experimental_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.cjs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/options/input-options.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#3489 refactor(rust): simplify `scan_ast` and `make_ecma_ast`
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown_common/src/module_loader/runtime_task_result.rs
Labels: needs-triage

#3491 chore: simplify justfile dependency
  justfile
Labels: needs-triage

#3493 feat(mf): generate correct name
  crates/rolldown_plugin_module_federation/src/init-host.js
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_federation/src/remote-entry.js
Labels: needs-triage

#3488 feat: support `import.meta.ROLLUP_FILE_URL_(referenceId)`
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  packages/rolldown/tests/fixtures/misc/rollup-file-url/_config.ts
  packages/rolldown/tests/fixtures/misc/rollup-file-url/main.js
  packages/rolldown/tests/fixtures/misc/rollup-file-url/main.svg
Labels: needs-triage

#3495 feat: assetFileNames support hashCharacters
  crates/rolldown_common/src/file_emitter.rs
  packages/rolldown/tests/fixtures/output/fileNames/hash/base36/_config.ts
  packages/rolldown/tests/fixtures/output/fileNames/hash/base64/_config.ts
  packages/rolldown/tests/fixtures/output/fileNames/hash/hex/_config.ts
  packages/rolldown/tests/fixtures/output/sanitizeFilename/false/_config.ts
  packages/rolldown/tests/fixtures/output/sanitizeFilename/function/_config.ts
  packages/rolldown/tests/fixtures/output/sanitizeFilename/true/_config.ts
  packages/rolldown/tests/fixtures/plugin/context/emit-file/_config.ts
Labels: needs-triage

#3501 chore: remove cargo deny ignore
  deny.toml
Labels: needs-triage

#3502 chore(deps): update dependency vitest to v3.0.5 [security]
  pnpm-lock.yaml
Labels: needs-triage

#3503 feat: warn when a file is emitted with the same name
  Cargo.lock
  crates/rolldown/src/bundler.rs
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_error/Cargo.toml
  crates/rolldown_error/src/build_error/error_constructors.rs
  crates/rolldown_error/src/event_kind.rs
  crates/rolldown_error/src/events/filename_conflict.rs
  crates/rolldown_error/src/events/mod.rs
  crates/rolldown_plugin/src/plugin_driver/output_hooks.rs
  packages/rolldown/tests/fixtures/onwarn/circular-dependency/_config.ts
  packages/rolldown/tests/fixtures/onwarn/circular-dependency/main.js
  packages/rolldown/tests/fixtures/onwarn/filename-conflict/_config.ts
  packages/rolldown/tests/fixtures/onwarn/filename-conflict/main.js
Labels: needs-triage

#3504 perf(rust): avoid emitted_filenames to hash twice
  crates/rolldown_common/src/file_emitter.rs
Labels: needs-triage

#3505 feat: export more types
  packages/rolldown/src/index.ts
  packages/rolldown/src/log/logging.ts
  packages/rolldown/src/options/input-options.ts
Labels: needs-triage

#3507 fix: fix `ROLLUP_FILE_URL` for emitted chunks
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  packages/rolldown/tests/fixtures/misc/rollup-file-url-chunk/_config.ts
  packages/rolldown/tests/fixtures/misc/rollup-file-url-chunk/dep.js
  packages/rolldown/tests/fixtures/misc/rollup-file-url-chunk/main.js
Labels: needs-triage

#3508 refactor(mf): move virtual file to runtime dir
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_federation/src/runtime/init-host.js
  crates/rolldown_plugin_module_federation/src/runtime/init-module-import-remote-module.js
  crates/rolldown_plugin_module_federation/src/runtime/remote-entry.js
  crates/rolldown_plugin_module_federation/src/runtime/remote-module-registry.js
  crates/rolldown_plugin_module_federation/src/runtime/remote-module.js
Labels: needs-triage

#3509 fix(node): tsc build only emit declaration
  packages/rolldown/tsconfig.json
Labels: needs-triage

#3510 fix(node): proxy moduleSideEffects for moduleInfo
  cspell.json
  packages/rolldown/src/plugin/bindingify-build-hooks.ts
  packages/rolldown/src/plugin/plugin-context-data.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/tree-shake/module-side-effects-proxy/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/module-side-effects-proxy/bar.js
  packages/rolldown/tests/fixtures/tree-shake/module-side-effects-proxy/foo.js
  packages/rolldown/tests/fixtures/tree-shake/module-side-effects-proxy/main.js
Labels: needs-triage

#3511 refactor(rust): inline unnecessary `scan_ast`
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
Labels: needs-triage

#3512 fix: syntax error when use top level await with `strict_execution_order` option
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax/_config.json
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax/artifacts.snap
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax/foo.js
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/ecmascript/ecma_view.rs
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
Labels: needs-triage

#3513 feat: export `LogOrStringHandler` type
  packages/rolldown/src/index.ts
Labels: needs-triage

#3514 feat(mf): using package json version if shared module version is None
  Cargo.lock
  Cargo.toml
  crates/rolldown_common/src/types/package_json.rs
  crates/rolldown_plugin_module_federation/Cargo.toml
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_resolver/src/resolver.rs
Labels: needs-triage

#3515 refactor: reuse code for chunk relative path logic
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/finalizer_context.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown_common/src/chunk/mod.rs
Labels: needs-triage

#3516 fix(node): add rolldown dist typing check
  cspell.json
  packages/rolldown/build.ts
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tsconfig.check.json
  packages/rolldown/tsconfig.json
  pnpm-lock.yaml
Labels: needs-triage

#3521 chore: VoidZero reference information
  README.md
Labels: needs-triage

#3522 fix(hash): should calculate hash dependenies correctly
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_utils/src/hash_placeholder.rs
  packages/rolldown/tests/fixtures/output/hashFileNames/_config.ts
Labels: needs-triage

#3524 fix(hash): should compute cross chunk dependecis in stable order
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/tests/rolldown/issues/3438/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3530 fix: stackoverflow when update cjs module meta
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/tests/rolldown/issues/3529/_config.json
  crates/rolldown/tests/rolldown/issues/3529/a.cjs
  crates/rolldown/tests/rolldown/issues/3529/artifacts.snap
  crates/rolldown/tests/rolldown/issues/3529/b.cjs
  crates/rolldown/tests/rolldown/issues/3529/main.mjs
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3532 fix: add wrong is_cjs_reexport flag
  crates/rolldown/src/ast_scanner/cjs_ast_analyzer.rs
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/rolldown/topics/bundler_esm_cjs_tests/27/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3535 chore: remove cwd in esbuild/default/warnings_inside_node_modules snap
  crates/rolldown/tests/esbuild/default/warnings_inside_node_modules/_config.json
  crates/rolldown/tests/esbuild/default/warnings_inside_node_modules/artifacts.snap
Labels: needs-triage

#3526 test(rust): add basic tla test case
  crates/rolldown/tests/rolldown/topics/tla/basic/_config.json
  crates/rolldown/tests/rolldown/topics/tla/basic/_test.mjs
  crates/rolldown/tests/rolldown/topics/tla/basic/artifacts.snap
  crates/rolldown/tests/rolldown/topics/tla/basic/lib.js
  crates/rolldown/tests/rolldown/topics/tla/basic/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3528 feat(tla): support TLA while enabling strict execution order
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax/artifacts.snap
  crates/rolldown/tests/rolldown/topics/tla/basic/_config.json
  crates/rolldown/tests/rolldown/topics/tla/basic/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
Labels: on hold: to be discussed

#3540 chore: remove redundant bitflags setter
  crates/rolldown/src/ecmascript/ecma_module_view_factory.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/link_stage/tree_shaking.rs
  crates/rolldown_common/src/ecmascript/ecma_view.rs
Labels: needs-triage

#3539 chore(deps): update npm packages
  package.json
  pnpm-lock.yaml
Labels: needs-triage

#3523 refactor(mf): ensure shared module excute order if it is splitted
  Cargo.lock
  crates/rolldown_plugin_module_federation/Cargo.toml
  crates/rolldown_plugin_module_federation/src/init_modules_visitor.rs
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_federation/src/runtime/init-module-import-remote-module.js
  crates/rolldown_plugin_module_federation/src/runtime/init-remote-module.js
  crates/rolldown_plugin_module_federation/src/runtime/remote-module-registry.js
  crates/rolldown_plugin_module_federation/src/utils.rs
  packages/rolldown/tests/module-federation/host-chunk.js
  packages/rolldown/tests/module-federation/host-entry.js
  packages/rolldown/tests/module-federation/module-federation.test.ts
  packages/rolldown/tests/module-federation/remote-expose.js
Labels: needs-triage

#3542 feat: expose more fine-grained minify option
  Cargo.toml
  crates/bench/src/lib.rs
  crates/rolldown/src/stages/generate_stage/minify_assets.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/types/binding_minify_options.rs
  crates/rolldown_binding/src/types/binding_normalized_options.rs
  crates/rolldown_binding/src/types/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_ecmascript/src/ecma_compiler.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/src/utils/validator.ts
Labels: needs-triage

#3546 feat(mf): add manifest option
  crates/rolldown_binding/src/options/plugin/types/binding_module_federation_plugin_option.rs
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_federation/src/option.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/builtin-plugin/constructors.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#3541 chore(rolldown): oxc v0.49.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/stages/link_stage/generate_lazy_export.rs
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/esbuild/default/direct_eval_tainting_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/direct_eval_tainting_no_bundle/bypass.md
  crates/rolldown/tests/esbuild/default/mangle_quoted_props/artifacts.snap
  crates/rolldown/tests/esbuild/default/mangle_quoted_props/bypass.md
  crates/rolldown/tests/esbuild/default/mangle_quoted_props_minify_syntax/artifacts.snap
  crates/rolldown/tests/esbuild/default/mangle_quoted_props_minify_syntax/bypass.md
  crates/rolldown/tests/esbuild/default/nested_scope_bug/_config.json
  crates/rolldown/tests/esbuild/default/nested_scope_bug/artifacts.snap
  crates/rolldown/tests/esbuild/default/nested_scope_bug/diff.md
  crates/rolldown/tests/rolldown/function/minify/basic/artifacts.snap
  crates/rolldown/tests/rolldown/function/minify/inject_node_env/artifacts.snap
  crates/rolldown/tests/rolldown/misc/common_js_min/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
  crates/rolldown_plugin_build_import_analysis/src/utils.rs
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rollup-tests/src/ignored-tests.js
  packages/rollup-tests/src/status.json
  packages/rollup-tests/src/status.md
  scripts/snap-diff/stats/stats.md
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#3547 chore(deps): update dependency esbuild to ^0.25.0 [security]
  packages/bench/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3549 chore: add --no-dts-cache to napi build
  packages/rolldown/package.json
Labels: needs-triage

#3548 ci: enable all non-major dependencies update
  .github/renovate.json
Labels: needs-triage

#3550 feat(mf): support generate remote manifest json
  Cargo.lock
  crates/rolldown_plugin_module_federation/Cargo.toml
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_federation/src/manifest.rs
  crates/rolldown_plugin_module_federation/src/utils.rs
  packages/rolldown/tests/module-federation/__snapshots__/module-federation.test.ts.snap
  packages/rolldown/tests/module-federation/module-federation.test.ts
Labels: needs-triage

#3553 ci: fix `Publish to pkg.pr.new` workflow
  .github/workflows/preview-commit.yml
Labels: needs-triage

#3552 fix(tla): detecting TLA in top level block scope
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/tests/rolldown/topics/tla/inside_try_block/_config.json
  crates/rolldown/tests/rolldown/topics/tla/inside_try_block/_test.mjs
  crates/rolldown/tests/rolldown/topics/tla/inside_try_block/artifacts.snap
  crates/rolldown/tests/rolldown/topics/tla/inside_try_block/lib.js
  crates/rolldown/tests/rolldown/topics/tla/inside_try_block/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3554 refactor: simplify tla detection code
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
Labels: needs-triage

#3557 chore(rolldown): oxc v0.50.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/default/this_outside_function/artifacts.snap
  crates/rolldown/tests/esbuild/default/this_outside_function/bypass.md
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_await_destruct/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/dynamic_import_await_destruct/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  scripts/snap-diff/summary/default.md
Labels: needs-triage

#3555 feat(rolldown): support multiple hash placeholder
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/utils/chunk/finalize_chunks.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/chunk/types/preliminary_filename.rs
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_common/src/inner_bundler_options/types/filename_template.rs
  crates/rolldown_utils/src/extract_hash_pattern.rs
  packages/rolldown/tests/fixtures/output/hashFileNames/multi/_config.ts
  packages/rolldown/tests/fixtures/output/hashFileNames/multi/main.css
  packages/rolldown/tests/fixtures/output/hashFileNames/multi/main.js
  packages/rolldown/tests/fixtures/output/hashFileNames/multi/test.css
  packages/rolldown/tests/fixtures/output/hashFileNames/multi/test.js
  packages/rolldown/tests/fixtures/output/hashFileNames/normal/_config.ts
  packages/rolldown/tests/fixtures/output/hashFileNames/normal/dynamic.js
  packages/rolldown/tests/fixtures/output/hashFileNames/normal/entry.js
  packages/rolldown/tests/fixtures/output/hashFileNames/normal/main.js
  packages/rolldown/tests/fixtures/output/hashFileNames/normal/shared.js
Labels: needs-triage

#3562 feat: export hookFilter extension types
  packages/rolldown/src/index.ts
  packages/rolldown/src/plugin/hook-filter.ts
Labels: needs-triage

#3561 refactor: simplify transform option normalization
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
Labels: needs-triage

#3559 chore: update module federation example
  examples/module-federation/host/package.json
  examples/module-federation/host/rolldown.config.js
  examples/module-federation/package.json
  examples/module-federation/remote/package.json
  pnpm-lock.yaml
Labels: needs-triage

#3567 fix: top level this substitution
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/tests/rolldown/misc/top_level_this_substitution/_config.json
  crates/rolldown/tests/rolldown/misc/top_level_this_substitution/artifacts.snap
  crates/rolldown/tests/rolldown/misc/top_level_this_substitution/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3571 feat(mf): support getPublicPath option
  crates/rolldown_binding/src/options/plugin/types/binding_module_federation_plugin_option.rs
  crates/rolldown_plugin_module_federation/src/manifest.rs
  crates/rolldown_plugin_module_federation/src/option.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/module-federation/__snapshots__/module-federation.test.ts.snap
  packages/rolldown/tests/module-federation/module-federation.test.ts
Labels: needs-triage

#3572 chore: remove redundant dependency
  Cargo.lock
  Cargo.toml
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_ecmascript/Cargo.toml
  crates/rolldown_ecmascript/src/ecma_compiler.rs
Labels: needs-triage

#3574 chore: remove unnecessary packages
  packages/rolldown/tests/fixtures/builtin-plugin/json/build/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/build/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/named-exports/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/named-exports/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/side-effects/main.js
  packages/rolldown/tests/fixtures/builtin-plugin/json/stringify/data.json
  packages/rolldown/tests/fixtures/builtin-plugin/json/stringify/main.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: needs-triage

#3577 chore: simplify debug rewrite
  Cargo.lock
  crates/rolldown_binding/src/options/binding_input_options/binding_treeshake.rs
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/asset/asset_view.rs
  crates/rolldown_common/src/inner_bundler_options/types/defer_sync_scan_data_option.rs
  crates/rolldown_common/src/inner_bundler_options/types/is_external.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_option/addon.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_option/asset_filenames.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_option/chunk_filenames.rs
  crates/rolldown_common/src/inner_bundler_options/types/output_option/globals.rs
  crates/rolldown_common/src/inner_bundler_options/types/sanitize_filename.rs
  crates/rolldown_common/src/inner_bundler_options/types/sourcemap_ignore_list.rs
  crates/rolldown_common/src/inner_bundler_options/types/sourcemap_path_transform.rs
  crates/rolldown_common/src/inner_bundler_options/types/treeshake.rs
  crates/rolldown_common/src/types/rendered_module.rs
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/plugin_context.rs
Labels: needs-triage

#3576 refactor(rust): improve `FilenameTemplate#render`
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/file_emitter.rs
  crates/rolldown_common/src/inner_bundler_options/types/filename_template.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_utils/src/extract_hash_pattern.rs
  crates/rolldown_utils/src/lib.rs
  crates/rolldown_utils/src/replace_all_placeholder.rs
Labels: needs-triage

#3581 docs(in-depth): description of TLA in rolldown
  docs/.vitepress/config.ts
  docs/guide/in-depth/tla-in-rolldown.md
Labels: needs-triage

#3580 feat(mf): support webpack dst remote
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_federation/src/runtime/remote-module-registry.js
  examples/module-federation/host/App.jsx
  examples/module-federation/host/rolldown.config.mjs
  packages/rolldown/src/builtin-plugin/constructors.ts
Labels: needs-triage

#3583 chore(rust): remove unnecessary code
  crates/rolldown/src/stages/link_stage/mod.rs
Labels: needs-triage

#3582 fix: NormalizedOutputOptions option
  packages/rolldown/src/options/normalized-output-options.ts
  packages/rolldown/src/parallel-plugin-worker.ts
  packages/rolldown/src/plugin/bindingify-output-hooks.ts
  packages/rolldown/src/plugin/bindingify-plugin.ts
  packages/rolldown/src/utils/bindingify-input-options.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/tests/fixtures/plugin/normalized-option/_config.ts
Labels: needs-triage

#3586 fix: making return type compatible with rollup/parseAst
  packages/rolldown/src/parse-ast-index.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/tests/parse-ast/parse-ast.test.ts
Labels: needs-triage

#3587 chore(rolldown): oxc v0.51.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/rolldown/misc/require_deconflict/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  package.json
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  pnpm-lock.yaml
Labels: needs-triage

#2139 refactor: use `fast-glob` instead of `glob-match`
  Cargo.lock
  Cargo.toml
  crates/rolldown_common/Cargo.toml
  crates/rolldown_common/src/types/side_effects.rs
  crates/rolldown_plugin_vite_resolve/Cargo.toml
  crates/rolldown_plugin_vite_resolve/src/utils_filter.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/pattern_filter.rs
Labels: needs-triage, stale

#3588 feat: remove unused dynamic imported chunks
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/css/mod.rs
  crates/rolldown/src/module_loader/module_loader.rs
  crates/rolldown/src/stages/generate_stage/code_splitting.rs
  crates/rolldown/src/stages/generate_stage/render_chunk_to_assets.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/tests/rolldown/tree_shaking/unused_dynamic_imported_chunk/_config.json
  crates/rolldown/tests/rolldown/tree_shaking/unused_dynamic_imported_chunk/artifacts.snap
  crates/rolldown/tests/rolldown/tree_shaking/unused_dynamic_imported_chunk/dep.js
  crates/rolldown/tests/rolldown/tree_shaking/unused_dynamic_imported_chunk/dynamic.js
  crates/rolldown/tests/rolldown/tree_shaking/unused_dynamic_imported_chunk/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/chunk/mod.rs
  crates/rolldown_common/src/types/entry_point.rs
  crates/rolldown_common/src/types/import_record.rs
Labels: needs-triage

#3564 feat: add base transform options
  crates/rolldown/src/bundler_builder.rs
  crates/rolldown/src/utils/normalize_options.rs
  crates/rolldown/src/utils/pre_process_ecma_ast.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_resolver/src/resolver.rs
Labels: needs-triage

#3590 perf: reduce memory alloc for StmtInfo
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/stages/link_stage/mod.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_common/src/types/stmt_info.rs
Labels: needs-triage

#3591 feat(hmr): add `generate_hmr_patch` method
  crates/rolldown/src/bundler.rs
Labels: needs-triage

#3596 chore: ignore procMacro `tracing::instrument` in RA
  .vscode/settings.json
Labels: needs-triage

#3594 feat(hmr): register module exports in runtime
  crates/rolldown/src/module_finalizers/scope_hoisting/hmr.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/impl_visit_mut.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/_config.json
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/artifacts.snap
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/cjs.js
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/esm.js
  crates/rolldown/tests/rolldown/topics/hmr/register_exports/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3597 chore: use rolldown-ariadne
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/rolldown/warnings/none-ascii-content/artifacts.snap
  packages/rolldown/tests/fixtures/onwarn/emoji/_config.ts
  packages/rolldown/tests/fixtures/onwarn/emoji/main.js
Labels: needs-triage

#3601 fix: avoid call outputOptions hook at close
  packages/rolldown/src/api/rolldown/rolldown-build.ts
  packages/rolldown/src/utils/create-bundler-option.ts
  packages/rolldown/src/utils/create-bundler.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/config-multiply-output-with-options-hooks/rolldown.config.ts
Labels: needs-triage

#3613 fix(cli): cli default option
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/cli-default-option/index.js
  packages/rolldown/tests/cli/fixtures/cli-default-option/rolldown.config.js
Labels: needs-triage

#3607 feat(watcher): debounce invalidate
  crates/rolldown/Cargo.toml
  crates/rolldown/src/watch/watcher.rs
  crates/rolldown_common/src/types/watch.rs
  packages/rolldown/tests/watch/watch.test.ts
Labels: needs-triage

#3618 fix: entry chunk name should respect sanitizeFileName
  Cargo.lock
  Cargo.toml
  crates/rolldown/Cargo.toml
  crates/rolldown/src/stages/generate_stage/mod.rs
  crates/rolldown/src/utils/extract_meaningful_input_name_from_path.rs
  crates/rolldown/src/utils/mod.rs
  packages/rolldown/tests/fixtures/output/sanitizeFilename/function/_config.ts
  packages/rolldown/tests/fixtures/topics/virtual-module/virtual-entry/_config.ts
Labels: needs-triage

#3616 chore: explicit configure oxc-minify
  crates/rolldown/src/stages/generate_stage/minify_assets.rs
  crates/rolldown/tests/rolldown/function/minify/basic/artifacts.snap
  crates/rolldown/tests/rolldown/function/minify/inject_node_env/artifacts.snap
  crates/rolldown/tests/rolldown/misc/common_js_min/artifacts.snap
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/fixtures/tree-shake/minify/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/minify/main.js
Labels: needs-triage

#3617 feat: wildcard alias
  Cargo.lock
  crates/rolldown/tests/rolldown/resolve/wildcard_alias/_config.json
  crates/rolldown/tests/rolldown/resolve/wildcard_alias/app/index.js
  crates/rolldown/tests/rolldown/resolve/wildcard_alias/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/wildcard_alias/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3623 chore: don't build docs if docs dir is unchanged.
  docs/netlify.toml
Labels: needs-triage

#3626 chore: fix vitest warnings
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/query-object/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/query/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/module_preload_polyfill/basic/_config.ts
  packages/rolldown/tests/fixtures/function/comments/preserve-legal-comments/_config.ts
  packages/rolldown/tests/fixtures/function/define/_config.ts
  packages/rolldown/tests/fixtures/function/inject/_config.ts
Labels: needs-triage

#3622 docs: add more details about swc minify section
  docs/guide/features.md
Labels: needs-triage

#3633 feat: support RenderedModule.renderedExports
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown_binding/src/types/binding_rendered_module.rs
  crates/rolldown_common/src/types/rendered_module.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/types/rolldown-output.ts
  packages/rolldown/src/utils/transform-rendered-module.ts
  packages/rolldown/tests/fixtures/plugin/render-chunk/_config.ts
  packages/rolldown/tests/fixtures/plugin/render-chunk/foo.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/main.js
Labels: needs-triage

#3635 fix(node): make `in` for additional properties in OutputChunk work
  packages/rolldown/src/utils/transform-to-rollup-output.ts
  packages/rolldown/tests/fixtures/plugin/generate-bundle/_config.ts
Labels: needs-triage

#3634 fix: preserve this for PluginContext#getModuleInfo
  packages/rolldown/src/index.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/tests/fixtures/plugin/context/get-module-info/_config.ts
Labels: needs-triage

#3621 test: port glob import test from vite
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/.gitignore
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts.snap
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/modules/a.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/modules/b.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/modules/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/node_modules/framework/pages/hello.page.js
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/sibling.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-b/a.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-b/b.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-b/index.ts
Labels: needs-triage

#3639 fix: don't enable drop_console when compress is true
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
Labels: needs-triage

#3638 fix: chunk.modules should order by exec_order
  crates/rolldown/src/ecmascript/ecma_generator.rs
  crates/rolldown/src/ecmascript/format/app.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/ecmascript/format/utils/mod.rs
  crates/rolldown_common/src/types/output_chunk.rs
  crates/rolldown_common/src/types/rendered_module.rs
  packages/rolldown/tests/fixtures/plugin/render-chunk/basic/_config.ts
  packages/rolldown/tests/fixtures/plugin/render-chunk/basic/foo.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/basic/main.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/_config.ts
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/a.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/aa.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/ab.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/b.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/ba.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/bb.js
  packages/rolldown/tests/fixtures/plugin/render-chunk/chunk-modules-order/main.js
Labels: needs-triage

#3647 fix(minify): disable top_level option for iife format
  crates/rolldown/src/stages/generate_stage/minify_assets.rs
  crates/rolldown/tests/rolldown/function/format/iife/iife_with_name_with_minify/_config.json
  crates/rolldown/tests/rolldown/function/format/iife/iife_with_name_with_minify/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/iife_with_name_with_minify/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
Labels: needs-triage

#3649 feat(node): make `parseAst` compatible with rollup
  packages/rolldown/src/parse-ast-index.ts
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/tests/parse-ast/parse-ast.test.ts
Labels: needs-triage

#3651 chore: avoid init class public fileds
  packages/rolldown/src/builtin-plugin/constructors.ts
Labels: needs-triage

#3652 feat(mf): add pre order to the resolve_id_meta
  crates/rolldown_plugin_module_federation/src/lib.rs
  packages/rolldown/tests/module-federation/__snapshots__/module-federation.test.ts.snap
  packages/rolldown/tests/module-federation/module-federation.test.ts
Labels: needs-triage

#3648 chore(rolldown): oxc v0.52.0 & napi v3.0.0-alpha.29
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/default/mangle_props_key_comment/artifacts.snap
  crates/rolldown/tests/esbuild/default/mangle_props_key_comment/bypass.md
  crates/rolldown/tests/esbuild/default/mangle_props_key_comment_minify/artifacts.snap
  crates/rolldown/tests/esbuild/default/mangle_props_key_comment_minify/bypass.md
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/rolldown/misc/require_deconflict/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  package.json
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  pnpm-lock.yaml
Labels: needs-triage

#3664 chore(deps): bump `fast-glob` to v0.4.4
  Cargo.lock
  Cargo.toml
Labels: needs-triage

#3665 perf(rust): improve `get_lived_entry`
  crates/rolldown/src/stages/link_stage/mod.rs
Labels: needs-triage

#3661 feat(hmr): add binding for `generate_hmr_patch`
  crates/rolldown/src/bundler.rs
  crates/rolldown_binding/src/bundler.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
Labels: needs-triage

#3645 refactor(rust): improve `rename_non_root_symbol`
  crates/rolldown/src/utils/renamer.rs
Labels: needs-triage

#3666 test: merge `paths` from tsconfig.json into `resolve.alias`
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/main.tsx
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/src/util.ts
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/tsconfig.json
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3670 refactor(rust): apply `clippy::redundant_clone`
  Cargo.toml
  crates/rolldown/src/utils/renamer.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_sourcemap/src/lib.rs
  crates/rolldown_sourcemap/src/source_joiner.rs
Labels: needs-triage

#3658 chore: Rust v1.85.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/ast_scanner/mod.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/ecmascript/format/utils/namespace.rs
  crates/rolldown/src/stages/generate_stage/advanced_chunks.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  packages/rolldown/package.json
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  pnpm-lock.yaml
  rust-toolchain.toml
Labels: needs-triage

#3676 chore(clippy): support more nursery rules
  Cargo.toml
Labels: needs-triage

#3677 perf: replace data url parse with nom
  Cargo.lock
  Cargo.toml
  crates/rolldown_plugin_data_url/Cargo.toml
  crates/rolldown_plugin_data_url/src/utils.rs
Labels: needs-triage

#3678 refactor(rust): apply `clippy::needless_pass_by_ref_mut`
  Cargo.toml
  crates/rolldown/src/ast_scanner/cjs_ast_analyzer.rs
  crates/rolldown/src/ast_scanner/impl_visit.rs
  crates/rolldown/src/ast_scanner/import_assign_analyzer.rs
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/ecmascript/format/esm.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/rename.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/stages/generate_stage/advanced_chunks.rs
  crates/rolldown/src/stages/generate_stage/compute_cross_chunk_links.rs
  crates/rolldown/src/stages/generate_stage/minify_assets.rs
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown_plugin_import_glob/src/lib.rs
  crates/rolldown_plugin_module_federation/src/manifest.rs
Labels: needs-triage

#3684 refactor(rust): apply `clippy::redundant_pub_crate`
  Cargo.toml
  crates/rolldown/src/ast_scanner/cjs_ast_analyzer.rs
  crates/rolldown/src/ast_scanner/side_effect_detector/utils.rs
  crates/rolldown_binding/src/options/binding_input_options/binding_treeshake.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_common/src/types/module_id.rs
  crates/rolldown_plugin_dynamic_import_vars/src/parse_pattern.rs
  crates/rolldown_plugin_dynamic_import_vars/src/should_ignore.rs
  crates/rolldown_plugin_dynamic_import_vars/src/to_glob.rs
  crates/rolldown_plugin_replace/src/utils.rs
Labels: needs-triage

#3683 fix: preserve this for PluginContext#emitFile
  packages/rolldown/src/plugin/plugin-context.ts
  packages/rolldown/tests/fixtures/plugin/context/emit-file/_config.ts
Labels: needs-triage

#3689 chore: move data url parse into rolldown_utils
  Cargo.lock
  crates/rolldown_plugin_data_url/Cargo.toml
  crates/rolldown_plugin_data_url/src/data_url_plugin.rs
  crates/rolldown_plugin_data_url/src/lib.rs
  crates/rolldown_plugin_data_url/src/utils.rs
  crates/rolldown_plugin_load_fallback/Cargo.toml
  crates/rolldown_plugin_load_fallback/src/lib.rs
  crates/rolldown_utils/Cargo.toml
  crates/rolldown_utils/src/dataurl.rs
Labels: needs-triage

#3685 chore: oxc v0.53.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/diff.md
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
  justfile
  package.json
  packages/rolldown/package.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/parse-ast-index.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  pnpm-lock.yaml
Labels: needs-triage

#3690 perf(rolldown_plugin_replace): replace static Regex with pure function
  Cargo.lock
  crates/rolldown_plugin_replace/Cargo.toml
  crates/rolldown_plugin_replace/src/plugin.rs
  crates/rolldown_plugin_replace/src/utils.rs
Labels: needs-triage

#3691 perf(rolldown_utils): remove replace placeholder Regex
  crates/rolldown_utils/src/hash_placeholder.rs
Labels: needs-triage

#3688 chore: silence rolldown warnings in tests
  packages/rolldown/tests/fixtures/builtin-plugin/alias/should-not-match/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/build-import-analysis/basic/_config.ts
  packages/rolldown/tests/fixtures/function/define/_config.ts
  packages/rolldown/tests/fixtures/jsx/refresh/_config.ts
  packages/rolldown/tests/fixtures/misc/keep-names/basic/_config.ts
  packages/rolldown/tests/fixtures/output/es-module/if-default-prop-false/_config.ts
  packages/rolldown/tests/fixtures/output/es-module/if-default-prop-true/_config.ts
  packages/rolldown/tests/fixtures/output/format/iife/exports/_config.ts
  packages/rolldown/tests/fixtures/output/intro/string/_config.ts
  packages/rolldown/tests/fixtures/output/outro/string/_config.ts
  packages/rolldown/tests/fixtures/plugin/context/cycle-load-error/_config.ts
  packages/rolldown/tests/fixtures/plugin/load/guess-module-type/_config.ts
  packages/rolldown/tests/fixtures/plugin/output-plugins/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/minify/_config.ts
  packages/rolldown/tests/fixtures/tree-shake/unused-external-import-stmt/_config.ts
  packages/rolldown/tests/module-federation/module-federation.test.ts
Labels: needs-triage

#3657 feat: omit keys/values in glob import if they're unused
  crates/rolldown_plugin_import_glob/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts.snap
Labels: needs-triage

#3656 feat: add better error message for resolve.alias
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/tests/esbuild/default/package_alias/artifacts.snap
  crates/rolldown/tests/esbuild/default/package_alias_match_longest/artifacts.snap
  crates/rolldown/tests/esbuild/default/warnings_inside_node_modules/artifacts.snap
  crates/rolldown/tests/rolldown/errors/resolve_alias/_config.json
  crates/rolldown/tests/rolldown/errors/resolve_alias/artifacts.snap
  crates/rolldown/tests/rolldown/errors/resolve_alias/main.js
Labels: needs-triage

#3687 fix: `keepNames` with function declaration panic
  crates/rolldown/src/utils/tweak_ast_for_scanning.rs
  crates/rolldown/tests/rolldown/topics/keep_names/declaration2/_config.json
  crates/rolldown/tests/rolldown/topics/keep_names/declaration2/a.js
  crates/rolldown/tests/rolldown/topics/keep_names/declaration2/artifacts.snap
  crates/rolldown/tests/rolldown/topics/keep_names/declaration2/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3692 refactor(glob_plugin): make sure maybe_visit_glob_import_call exec only once
  Cargo.lock
  crates/rolldown_ecmascript_utils/src/extensions/ast_ext/expression_ext.rs
  crates/rolldown_plugin_import_glob/Cargo.toml
  crates/rolldown_plugin_import_glob/src/lib.rs
Labels: needs-triage

#3693 fix(cjs): ensure esm namespace always exist
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/src/stages/link_stage/create_exports_for_ecma_modules.rs
  crates/rolldown/src/stages/link_stage/tree_shaking/include_statements.rs
  crates/rolldown/src/stages/link_stage/wrapping.rs
  crates/rolldown_common/src/module/normal_module.rs
  crates/rolldown_common/src/types/stmt_info.rs
Labels: needs-triage

#3694 feat(node): allow `sourceRoot: null` in sourcemaps
  packages/rolldown/src/types/sourcemap.ts
  packages/rolldown/tests/fixtures/plugin/transform/sourcemap-with-sourceroot-null/_config.ts
  packages/rolldown/tests/fixtures/plugin/transform/sourcemap-with-sourceroot-null/main.js
Labels: needs-triage

#3695 chore(rust/tracing): output args by default for `chrome-json` mode
  crates/rolldown_tracing/src/lib.rs
Labels: needs-triage

#3696 fix: prefix async to runtime helper if module has top level await
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax_minify/_config.json
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax_minify/artifacts.snap
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax_minify/foo.js
  crates/rolldown/tests/rolldown/function/experimental/strict_execution_order/top_level_await_syntax_minify/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
Labels: needs-triage

#3698 refactor(rust): apply `clippy::significant_drop_in_scrutinee`
  Cargo.toml
  crates/rolldown/src/watch/watcher.rs
Labels: needs-triage

#3700 test(glob_plugin): remove redundant test
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts
Labels: needs-triage

#3702 perf(plugin_dynamic_import_vars): remove Regex
  Cargo.lock
  crates/rolldown_plugin_dynamic_import_vars/Cargo.toml
  crates/rolldown_plugin_dynamic_import_vars/src/parse_pattern.rs
  crates/rolldown_plugin_dynamic_import_vars/src/should_ignore.rs
  crates/rolldown_plugin_dynamic_import_vars/src/to_glob.rs
Labels: needs-triage

#3705 refactor: apply `clippy::iter_on_single_items`
  Cargo.toml
  crates/rolldown_plugin_replace/tests/form/delimiters/mod.rs
  crates/rolldown_plugin_replace/tests/form/process_check/mod.rs
  crates/rolldown_plugin_replace/tests/form/replace_nothing/mod.rs
  crates/rolldown_plugin_replace/tests/form/simple_object_guards/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_characters/mod.rs
  crates/rolldown_plugin_replace/tests/form/special_delimiters/mod.rs
  crates/rolldown_plugin_replace/tests/form/typescript_declare/mod.rs
  crates/rolldown_testing/src/fixture.rs
Labels: needs-triage

#3704 chore: remove unused vitest config
  packages/bench/package.json
  packages/bench/vitest.config.ts
  pnpm-lock.yaml
Labels: needs-triage

#3699 feat(glob_plugin): ensure query starts with `?`
  crates/rolldown_plugin_import_glob/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts.snap
Labels: needs-triage

#3707 fix: avoid duplicated `init_esm` call
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/utils/mod.rs
  crates/rolldown/tests/esbuild/default/mangle_props_import_export_bundled/artifacts.snap
  crates/rolldown/tests/esbuild/default/mangle_props_import_export_bundled/bypass.md
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: needs-triage

#3708 docs: add difference between `resolve.alias` and `aliasPlugin`
  packages/rolldown/src/options/input-options.ts
Labels: needs-triage

#3711 feat: `RollupLog` compat of `UNRESOLVED_IMPORT` warning
  crates/rolldown/tests/esbuild/default/external_wildcard_does_not_match_entry_point/artifacts.snap
  crates/rolldown/tests/esbuild/default/external_with_wildcard/artifacts.snap
  crates/rolldown/tests/esbuild/default/forbid_string_import_names_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/default/package_alias/artifacts.snap
  crates/rolldown/tests/esbuild/default/package_alias_match_longest/artifacts.snap
  crates/rolldown/tests/esbuild/default/require_bad_argument_count/artifacts.snap
  crates/rolldown/tests/esbuild/default/to_esm_wrapper_omission/artifacts.snap
  crates/rolldown/tests/esbuild/default/warnings_inside_node_modules/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_as_common_js_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_as_es6_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_as_external_iife/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_as_iife_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_common_js_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_es6_no_bundle/artifacts.snap
  crates/rolldown/tests/esbuild/importstar/re_export_star_external_iife/artifacts.snap
  crates/rolldown/tests/esbuild/loader/jsx_automatic_no_name_collision/artifacts.snap
  crates/rolldown/tests/rolldown/errors/resolve_unexport_path_of_package/artifacts.snap
  crates/rolldown_binding/src/bundler.rs
  crates/rolldown_binding/src/types/binding_log.rs
  crates/rolldown_error/src/build_error/mod.rs
  crates/rolldown_error/src/events/mod.rs
  crates/rolldown_error/src/events/resolve_error.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/topics/rollup-log/unresolved-import/_config.ts
  packages/rolldown/tests/fixtures/topics/rollup-log/unresolved-import/main.js
Labels: needs-triage

#3709 refactor: change HookResolveIdOutput#id to ArcStr
  Cargo.lock
  crates/rolldown/tests/rolldown/errors/entry_cannot_be_external/mod.rs
  crates/rolldown/tests/rolldown/errors/unresolved_import/basic/mod.rs
  crates/rolldown/tests/rolldown/issues/1733/mod.rs
  crates/rolldown/tests/rolldown/plugin/plugin_context/custom_arg_in_resolve/mod.rs
  crates/rolldown_binding/src/options/plugin/binding_callable_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/types/binding_hook_resolve_id_output.rs
  crates/rolldown_plugin/src/types/hook_resolve_id_output.rs
  crates/rolldown_plugin/src/utils/resolve_id_with_plugins.rs
  crates/rolldown_plugin_alias/src/lib.rs
  crates/rolldown_plugin_build_import_analysis/src/lib.rs
  crates/rolldown_plugin_data_url/src/data_url_plugin.rs
  crates/rolldown_plugin_dynamic_import_vars/Cargo.toml
  crates/rolldown_plugin_dynamic_import_vars/src/lib.rs
  crates/rolldown_plugin_module_federation/src/lib.rs
  crates/rolldown_plugin_module_preload_polyfill/Cargo.toml
  crates/rolldown_plugin_module_preload_polyfill/src/lib.rs
  crates/rolldown_plugin_vite_resolve/Cargo.toml
  crates/rolldown_plugin_vite_resolve/src/resolver.rs
  crates/rolldown_plugin_vite_resolve/src/vite_resolve_plugin.rs
  crates/rolldown_plugin_wasm_helper/Cargo.toml
  crates/rolldown_plugin_wasm_helper/src/lib.rs
Labels: needs-triage

#3701 fix(glob_import): return absolute paths for absolute globs
  crates/rolldown_plugin_import_glob/src/lib.rs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/absolute-glob-expr/assert.mjs
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/_config.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts
  packages/rolldown/tests/fixtures/builtin-plugin/glob-import/vite/fixture-a/index.ts.snap
Labels: needs-triage

#3715 perf: remove unnecessary to_string
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/module_finalizers/scope_hoisting/mod.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/module_loader/runtime_module_task.rs
  crates/rolldown/src/utils/chunk/determine_export_mode.rs
  crates/rolldown/src/utils/chunk/mod.rs
  crates/rolldown/src/utils/load_entry_module.rs
  crates/rolldown_common/src/types/module_id.rs
  crates/rolldown_common/src/types/resolved_request_info.rs
  crates/rolldown_plugin/src/utils/resolve_id_with_plugins.rs
Labels: needs-triage

#3723 test(node): remove unnecessary `file` test
  packages/rolldown/tests/fixtures/output/file/_config.ts
  packages/rolldown/tests/fixtures/output/file/main.js
  packages/rolldown/tests/fixtures/verify-options/_config.ts
Labels: needs-triage

#3719 chore(rolldown_plugin): use doc(hidden) instead of feature flag
  crates/rolldown/Cargo.toml
  crates/rolldown_plugin/Cargo.toml
  crates/rolldown_plugin/src/lib.rs
  crates/rolldown_plugin_dynamic_import_vars/Cargo.toml
Labels: needs-triage
