Repository rolldown/rolldown, pull requests merged in 2025-09, with the labels that each got.

#6048 fix(dev/watch): build connection between file in `this.addWatchFile` and currently transformed module during transform hook
  .oxlintrc.json
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/utils/transform_source.rs
  crates/rolldown_binding/src/options/plugin/binding_callable_builtin_plugin.rs
  crates/rolldown_binding/src/options/plugin/binding_transform_context.rs
  crates/rolldown_binding/src/options/plugin/js_plugin.rs
  crates/rolldown_plugin/src/plugin_context/transform_plugin_context.rs
  crates/rolldown_plugin/src/plugin_driver/build_hooks.rs
  crates/rolldown_plugin/src/plugin_driver/mod.rs
  knip.jsonc
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/plugin/transform-plugin-context.ts
  packages/test-dev-server/src/dev-server.ts
  packages/test-dev-server/tests/fixtures.test.ts
  packages/test-dev-server/tests/fixtures/transform-dependencies/dev.config.mjs
  packages/test-dev-server/tests/fixtures/transform-dependencies/package.json
  packages/test-dev-server/tests/fixtures/transform-dependencies/src/config.hmr-0.json
  packages/test-dev-server/tests/fixtures/transform-dependencies/src/config.json
  packages/test-dev-server/tests/fixtures/transform-dependencies/src/main.js
  pnpm-lock.yaml
Labels: graphite: merge

#5893 fix: allow keeping whitespace while enabling minify
  crates/rolldown/src/stages/generate_stage/minify_assets.rs
  crates/rolldown_binding/src/types/binding_normalized_options.rs
  crates/rolldown_binding/src/utils/minify_options_conversion.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/validator.ts
Labels: graphite: merge

#6057 refactor(dev): introduce `DevWatchOptions` for enhanced file watching configuration
  crates/rolldown/src/dev/dev_options.rs
  crates/rolldown_binding/src/binding_dev_engine.rs
  crates/rolldown_binding/src/binding_dev_options.rs
  packages/rolldown/src/api/dev/dev-engine.ts
  packages/rolldown/src/api/dev/dev-options.ts
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/experimental-index.ts
  packages/test-dev-server/src/dev-server.ts
Labels: graphite: merge

#6085 feat: improve `MISSING_EXPORT` warning to suggest `type` modifier
  crates/rolldown/src/stages/link_stage/bind_imports_and_exports.rs
  crates/rolldown/tests/esbuild/ts/ts_export_default_type_issue316/artifacts.snap
  crates/rolldown/tests/rolldown/errors/missing_export_reexport_type/_config.json
  crates/rolldown/tests/rolldown/errors/missing_export_reexport_type/artifacts.snap
  crates/rolldown/tests/rolldown/errors/missing_export_reexport_type/bar.ts
  crates/rolldown/tests/rolldown/errors/missing_export_reexport_type/foo.ts
  crates/rolldown/tests/rolldown/errors/missing_export_reexport_type/main.ts
  crates/rolldown/tests/rolldown/errors/missing_export_ts/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
Labels: graphite: merge

#6076 feat: support function config with custom CLI arguments
  packages/rolldown/src/cli/arguments/index.ts
  packages/rolldown/src/cli/commands/bundle.ts
  packages/rolldown/src/cli/index.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/types/config-export.ts
  packages/rolldown/src/types/rolldown-options-function.ts
  packages/rolldown/src/utils/define-config.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
  packages/rolldown/tests/cli/cli-e2e.test.ts
  packages/rolldown/tests/cli/fixtures/cli-with-custom-args/index.js
  packages/rolldown/tests/cli/fixtures/cli-with-custom-args/rolldown.config.js
  packages/rolldown/tests/rollup-compat.test-d.ts
Labels: graphite: merge

#6086 feat(dev): return changed files in onHmrUpdates callback
  crates/rolldown/examples/dev.rs
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/dev/build_driver.rs
  crates/rolldown/src/dev/dev_options.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown_binding/src/binding_dev_engine.rs
  crates/rolldown_binding/src/binding_dev_options.rs
  packages/rolldown/src/api/dev/dev-options.ts
  packages/rolldown/src/binding.d.ts
Labels: graphite: merge

#6092 chore: use debug builds for browser tests in CI
  .github/workflows/cache-warmup.yml
  .github/workflows/reusable-browser-test.yml
Labels: graphite: merge

#6091 refactor: optimize member expression creation in AstSnippet
  crates/rolldown_ecmascript_utils/src/ast_snippet.rs
Labels: graphite: merge

#6179 feat(rolldown_plugin_oxc_runtime): include version in virtual module paths
  Cargo.lock
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_merge_decorator_metadata/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_plugin_oxc_runtime/Cargo.toml
  crates/rolldown_plugin_oxc_runtime/build.rs
  crates/rolldown_plugin_oxc_runtime/src/embedded_helpers.rs
  crates/rolldown_plugin_oxc_runtime/src/lib.rs
Labels: trigger: preview, graphite: merge

#6190 ci: add `if: always()` to wasi-test
  .github/workflows/ci.yml
Labels: graphite: merge

#6228 chore(dev): output error when the initial bundle failed
  crates/rolldown/src/dev/bundling_task.rs
Labels: graphite: merge

#6252 feat(dev): ignore self imports when computing update for invalidate
  crates/rolldown/src/hmr/hmr_manager.rs
  packages/test-dev-server/tests/fixtures/invalidation/src/child2.hmr-3.js
  packages/test-dev-server/tests/fixtures/invalidation/src/child2.js
  packages/test-dev-server/tests/fixtures/invalidation/src/parent.js
Labels: graphite: merge

#6259 test(dev): support full reload in tests
  packages/test-dev-server/src/dev-server.ts
  packages/test-dev-server/tests/fixtures.test.ts
Labels: graphite: merge

#6260 test(dev): add rebuild after HMR case
  packages/test-dev-server/tests/fixtures/edit-rebuild/dev.config.mjs
  packages/test-dev-server/tests/fixtures/edit-rebuild/package.json
  packages/test-dev-server/tests/fixtures/edit-rebuild/src/foo.hmr-1.js
  packages/test-dev-server/tests/fixtures/edit-rebuild/src/foo.js
  packages/test-dev-server/tests/fixtures/edit-rebuild/src/main.hmr-2.js
  packages/test-dev-server/tests/fixtures/edit-rebuild/src/main.js
  pnpm-lock.yaml
Labels: graphite: merge

#6270 perf(rolldown): take advantage of tokio blocking threads
  crates/bench/benches/bundle.rs
  crates/bench/benches/scan.rs
  crates/rolldown/src/module_loader/module_task.rs
  crates/rolldown/src/utils/load_source.rs
  crates/rolldown_binding/src/lib.rs
  crates/rolldown_testing/src/utils.rs
Labels: graphite: merge

#6322 feat(rolldown): oxc v0.92.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/src/utils/normalize_transform_options.rs
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_merge_decorator_metadata/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/utils/minify_options_conversion.rs
  crates/rolldown_common/src/inner_bundler_options/types/minify_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/transform_options.rs
  crates/rolldown_plugin_oxc_runtime/src/generated/embedded_helpers.rs
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/parse-ast-index.ts
  packages/rolldown/tests/fixtures/output/minify/respect-target/_config.ts
  packages/rolldown/tests/fixtures/output/minify/respect-target/main.js
  packages/rolldown/tests/fixtures/output/minify/respect-target/snap/main.js.snap
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: graphite: merge

#6297 feat(dev): introduce client/session concept into dev engine
  crates/rolldown/src/bundler.rs
  crates/rolldown/src/dev/build_driver.rs
  crates/rolldown/src/dev/building_task.rs
  crates/rolldown/src/dev/dev_context.rs
  crates/rolldown/src/dev/dev_engine.rs
  crates/rolldown/src/dev/dev_options.rs
  crates/rolldown/src/dev/mod.rs
  crates/rolldown/src/dev/types/client_session.rs
  crates/rolldown/src/dev/types/mod.rs
  crates/rolldown/src/hmr/hmr_manager.rs
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/binding_dev_engine.rs
  crates/rolldown_binding/src/binding_dev_options.rs
  crates/rolldown_binding/src/types/binding_hmr_output.rs
  crates/rolldown_common/src/hmr/hmr_output.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_plugin_hmr/src/runtime/runtime-extra-dev-common.js
  crates/rolldown_plugin_hmr/src/runtime/runtime-extra-dev-default.js
  packages/rolldown/src/api/dev/dev-engine.ts
  packages/rolldown/src/api/dev/dev-options.ts
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/binding.js
  packages/rolldown/src/experimental-index.ts
  packages/rolldown/src/rolldown-binding.wasi-browser.js
  packages/rolldown/src/rolldown-binding.wasi.cjs
  packages/rolldown/tests/fixtures/misc/issues/4818/_config.ts
  packages/test-dev-server/src/dev-server.ts
  packages/test-dev-server/src/types/client-message.ts
  packages/test-dev-server/src/types/client-session.ts
  packages/test-dev-server/src/utils/decode-client-message.ts
  packages/test-dev-server/tests/fixtures.test.ts
Labels: graphite: merge

#6338 chore(ci): unify node installation via oxc-project/setup-node
  .github/actions/setup-node/action.yml
  .github/workflows/benchmark-node.yml
  .github/workflows/benchmark-rust.yml
  .github/workflows/cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/metric.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/publish-to-pkg.pr.new.yml
  .github/workflows/reusable-cargo-test.yml
  .github/workflows/reusable-node-test.yml
  .github/workflows/reusable-release-build.yml
  .github/workflows/reusable-wasi-build.yml
  .github/workflows/reusable-wasi-test.yml
  .github/workflows/vite-tests.yml
Labels: graphite: merge

#6339 chore(node): use `catalog:` to unify version of all dependencies
  docs/package.json
  examples/basic-vue/package.json
  examples/hmr-raw/package.json
  examples/par-plugin/package.json
  examples/styled-components-native/package.json
  package.json
  packages/bench/package.json
  packages/pluginutils/package.json
  packages/rolldown/package.json
  packages/rolldown/tests/package.json
  packages/rollup-tests/package.json
  packages/test-dev-server/package.json
  packages/vite-tests/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
Labels: graphite: merge

#6364 feat(rolldown): oxc v0.93.0
  Cargo.lock
  Cargo.toml
  crates/rolldown/tests/esbuild/lower/lower_async_generator/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_async_generator_no_await/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_nullish_coalescing_assignment_issue1493/artifacts.snap
  crates/rolldown/tests/esbuild/lower/lower_using_inside_ts_namespace/artifacts.snap
  crates/rolldown/tests/rolldown/function/format/iife/iife_with_name_with_minify/artifacts.snap
  crates/rolldown/tests/rolldown/misc/common_js_min/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_merge_decorator_metadata/artifacts.snap
  crates/rolldown/tests/rolldown/resolve/ts_config_option_merge/artifacts.snap
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_plugin_oxc_runtime/src/generated/embedded_helpers.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: graphite: merge

#6335 feat: support `output.generatedCode.symbols`
  crates/rolldown/src/ecmascript/format/cjs.rs
  crates/rolldown/src/ecmascript/format/iife.rs
  crates/rolldown/src/ecmascript/format/umd.rs
  crates/rolldown/src/utils/chunk/namespace_marker.rs
  crates/rolldown/src/utils/prepare_build_context.rs
  crates/rolldown/tests/rolldown/topics/generated_code/symbols/_config.json
  crates/rolldown/tests/rolldown/topics/generated_code/symbols/artifacts.snap
  crates/rolldown/tests/rolldown/topics/generated_code/symbols/main.js
  crates/rolldown/tests/snapshots/integration_rolldown__filename_with_hash.snap
  crates/rolldown_binding/src/options/binding_output_options/binding_generated_code_options.rs
  crates/rolldown_binding/src/options/binding_output_options/mod.rs
  crates/rolldown_binding/src/utils/normalize_binding_options.rs
  crates/rolldown_common/src/inner_bundler_options/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/generated_code_options.rs
  crates/rolldown_common/src/inner_bundler_options/types/mod.rs
  crates/rolldown_common/src/inner_bundler_options/types/normalized_bundler_options.rs
  crates/rolldown_common/src/lib.rs
  crates/rolldown_testing/_config.schema.json
  packages/rolldown/src/binding.d.ts
  packages/rolldown/src/index.ts
  packages/rolldown/src/options/output-options.ts
  packages/rolldown/src/utils/bindingify-output-options.ts
  packages/rolldown/src/utils/validator.ts
  packages/rolldown/tests/cli/__snapshots__/cli-e2e.test.ts.snap
Labels: trigger: preview
